<button class="gallery-trigger js-gallery-trigger" type="button">
    <span class="visually-hidden">Галерея</span>
    <svg width="16" height="16">
        <use xlink:href="#gallery" />
    </svg>
    <span class="text">Галерея</span>
</button>