<div class="play-block-mobile">
    <div class="play-block-mobile__play-block">
        <button type="button" class="play-btn-small">
            <svg width="12" height="11">
                <use xlink:href="#play-small" />
            </svg>
            <span>Воспроизвести</span>
        </button>
        <span class="play-block-mobile__duration">05:10</span>
    </div>
</div>