<div class="social-block-vertical _left js-social">
    <a href="#" class="social-btn-dark _active">
        <div class="social-btn-dark__icon">
            <svg width="24" height="24">
                <use xlink:href="#fb" />
            </svg>
        </div>
        <span class="social-btn-dark__actions">19</span>
    </a>
    <a href="#" class="social-btn-dark _active">
        <div class="social-btn-dark__icon">
            <svg width="26" height="15">
                <use xlink:href="#vk" />
            </svg>
        </div>
        <span class="social-btn-dark__actions">5436</span>
    </a>
    <a href="#" class="social-btn-dark _active">
        <div class="social-btn-dark__icon">
            <svg width="14" height="24">
                <use xlink:href="#ok" />
            </svg>
        </div>
        <span class="social-btn-dark__actions">58</span>
    </a>
    <a href="#" class="social-btn-dark">
        <div class="social-btn-dark__icon">
            <svg width="27" height="22">
                <use xlink:href="#tw" />
            </svg>
        </div>
        <span class="social-btn-dark__actions"></span>
    </a>
</div>