<div class="social-block">
    <div class="social-block__inner">
        <a href="#" class="social-btn">
            <div class="social-btn__icon">
                <svg width="27" height="22">
                    <use xlink:href="#tw" />
                </svg>
            </div>
            <span class="social-btn__actions"></span>
        </a>
        <a href="#" class="social-btn _active">
            <div class="social-btn__icon">
                <svg width="24" height="24">
                    <use xlink:href="#fb" />
                </svg>
            </div>
            <span class="social-btn__actions">64</span>
        </a>
        <a href="#" class="social-btn _active">
            <div class="social-btn__icon">
                <svg width="26" height="15">
                    <use xlink:href="#vk" />
                </svg>
            </div>
            <span class="social-btn__actions">91</span>
        </a>
        <a href="#" class="social-btn _active">
            <div class="social-btn__icon">
                <svg width="14" height="24">
                    <use xlink:href="#ok" />
                </svg>
            </div>
            <span class="social-btn__actions">4</span>
        </a>
    </div>
    <a href="#" class="fav">
        <svg width="14" height="23">
            <use xlink:href="#flag" />
        </svg>
    </a>
</div>