<div class="sound-control">
    <div class="sound-control__bar">
        <div class="sound-control__progress" style="width: 66%"></div>
    </div>
    <button type="button" class="sound-control__btn" style="left: 66%">Громкость</button>
</div>