.transcript-page 
    margin-top: 149px //высота шапки
    padding-top: 86px

    @media (max-width: $screenM - 1)
        padding-top: 61px

    @media (max-width: $screenS - 1)
        margin-top: 118px

    @media (max-width: $screenXS-s - 1)
        padding-top: 42px

    &._nested 
        margin-top: 0
        padding-top: 16px

        @media (max-width: $screenS - 1)
            padding-top: 5px
