.animated-letter
    position: absolute

    svg 
        display: block
        width: 100%
        height: auto

    &._i 
        width: 33.429%
        left: 41%
        top: 95px
        height: 444px
        background-image: url("../images/svg/vii.svg")
        background-repeat: no-repeat 
        background-size: contain

        .main-animated &
            position: fixed

        @media (max-width: 1024px)
            position: absolute

        @media (max-width: 899px)
            left: 50%
            top: 82px
            width: 42%

        @media (max-width: 767px)
            width: 39%

        @media (max-width: 639px)
            left: 20px
            width: 65%

    &._c 
        width: 16.643%
        top: 530px
        right: 8%
        height: 264px
        background-image: url("../images/svg/cc.svg")
        background-repeat: no-repeat 
        background-size: contain

        .main-animated &
            position: fixed

        @media (max-width: 1399px)
            top: 483px

        @media (max-width: 1279px)
            top: 459px

        @media (max-width: 1024px)
            position: absolute

        @media (max-width: 899px)
            right: 17.5%
            top: 231px
            width: 19.7%

        @media (max-width: 767px)
            top: 183px
            right: 16.5%
            width: 23.7%

        @media (max-width: 639px)
            bottom: auto 
            top: 284px
            right: 7%
            width: 42.7%

.animation 

    .animated-letter#i
        position: fixed
        opacity: 0.99

    .animated-letter._c
        top: 593px
        transition: opacity 0.5s ease-in-out

        @media (max-width: 1399px)
            top: 547px

        @media (max-width: 1279px)
            top: 522px

        @media (max-width: 899px)
            top: 300px

        @media (max-width: 767px)
            top: 260px

        &.fixed 
            opacity: 0

    #trigger1
        position: absolute
        top: 20%
        left: 0
        width: 100%

    #trigger2
        position: absolute
        top: -140px

    .animated-letter#i
        transition: opacity 1.5s ease-in-out

        &.fadeout 
            opacity: 0

    .course-module--main 
        position: fixed
        left: 0
        right: 0

    .announces
        margin-top: 790px

        @media (max-width: 1399px)
            margin-top: 700px

        @media (max-width: 1279px)
            margin-top: 600px

        @media (max-width: 1023px)
            margin-top: 600px

        @media (max-width: 899px)
            margin-top: 400px

        @media (max-width: 767px)
            margin-top: 380px

    .course-module--main
        transition: opacity 0.5s ease-in-out

        &.fadeout 
            opacity: 0

    .courses
        position: relative