.announces
    margin-top: 65px
    margin-bottom: -42px
    background-color: #fff

    @media (max-width: 899px)
        margin-top: -12px
        margin-bottom: 0

    @media (max-width: 767px)
        margin-top: -20px

    @media (max-width: 639px)
        margin-top: -2px
    
    &__wrapper 
        padding: 0 8.333333%
        background-color: #fff

        @media (max-width: 899px)
            padding: 0 55px

        @media (max-width: 768px)
            padding: 0 37px

        @media (max-width: 639px)
            padding: 0 20px

.lecture-announce
    position: relative
    display: flex
    margin-bottom: 47px

    @media (max-width: 899px)
        margin-bottom: 30px

    @media (max-width: 639px)
        flex-direction: column

    @media (max-width: 639px)
        margin-bottom: 20px

    &__image-block
        position: relative
        box-sizing: border-box 
        width: 50%
        min-width: 50%
        overflow: hidden

        img 
            @include centerH
            top: 0

            @media (max-width: 639px)
                position: relative
                display: block

        @media (max-width: 639px)
            height: auto
            width: 100%

    &__info-block 
        display: flex 
        flex-direction: column
        box-sizing: border-box
        padding: 28px 6% 30px 8.1%
        width: 50%
        min-width: 50%
        min-height: 346px
        background-color: #fff
        border: 1px solid $lines-d
        border-left: none

        @media (max-width: 899px)
            min-height: 250px
            padding-bottom: 28px

        @media (max-width: 639px)
            padding-top: 20px
            padding-left: 14px
            padding-bottom: 30px
            min-height: 238px
            width: 100%
            border-top: none
            border-left: 1px solid $lines-d

    &__date 
        margin: 0
        font-family: $font-alt
        font-size: 14px
        line-height: 18px
        color: $textColor-l

    &__descr 
        margin-top: auto

        @media (max-width: 639px)
            padding-left: 4px

        p 
            margin: 0 0 12px 0
            font-size: 20px
            line-height: 26px

            @media (max-width: 899px)
                font-size: 15px
                line-height: 20px
                margin-bottom: 5px

    &__link 
        font-family: $font-alt 
        font-size: 17px
        line-height: 17px
        color: $textColor 

        @media (max-width: 899px)
            font-size: 13px
            line-height: 13px

        span 
            border-bottom: 1px solid $lines-d