.author-page 
    padding-top: 95px

    @media (max-width: 899px)
        padding-top: 64px
    
    .lecture-full__play-block

        @media (max-width: 1399px)
            padding-left: 7%
            padding-right: 7%

        @media (max-width: 768px)
            padding-left: 9%
            padding-right: 9%

        @media (max-width: 639px)
            padding-left: 0
            padding-right: 0

    .book-card__info
        padding-right: 20px
        max-width: 400px

    .book-card__description 

        @media (max-width: 768px)
            padding-right: 35px

    ul.lectures-tab

        @media (max-width: 899px)
            padding-top: 0

    .lecture-full__play-block .play-block

        @media (max-width: 639px)
            margin-left: 0

    .play-block--big

        @media (max-width: 639px)
            margin-bottom: 13px

.author-block

    .course-announce__image svg
        max-width: 450px
        max-height: 380px

        @media (max-width: 899px)
            max-width: 320px
            max-height: 380px

    &__inner
        display: flex

        @media (max-width: 639px)
            display: block

    &__col
        box-sizing: border-box
        display: flex 
        flex-direction: column

        @media (max-width: 768px)
            padding-bottom: 18px

        @media (max-width: 639px)
            padding-bottom: 0

        &:first-child 
            width: 48%

            @media (max-width: 899px)
                width: 45.888%

            @media (max-width: 768px)
                width: 45%

            @media (max-width: 639px)
                width: 100%

        &:nth-child(2)
            padding-left: 31px
            width: 52%

            @media (max-width: 899px)
                padding-left: 36px
                width: 54.112%

            @media (max-width: 768px)
                width: 55%

            @media (max-width: 639px)
                padding-top: 6px
                padding-left: 20px
                padding-right: 20px
                width: 100%

    &__info 
        display: flex 
        flex-direction: column
        flex-grow: 1
        padding-top: 28px
        padding-bottom: 32px

        @media (max-width: 899px)
            padding-top: 38px
            padding-bottom: 40px

        @media (max-width: 768px)
            padding-bottom: 25px

        @media (max-width: 640px)
            padding-bottom: 19px

        @media (max-width: 639px)
            padding-bottom: 41px

        .book-card__descr

            @media (max-width: 768px)
                max-width: 350px

            @media (max-width: 640px)
                max-width: 283px

    &__image 
        margin-bottom: 30px
        padding-left: 20px
        padding-top: 20px
        height: 835px
        overflow: hidden
        position: relative !important

        @media (max-width: 899px) 
            margin-bottom: 41px
            height: 667px

        @media (max-width: 768px)
            height: 557px

        @media (max-width: 640px)
            //height: 445px
            height: auto

        @media (max-width: 639px)
            margin-bottom: -19px
            padding-left: 0

        img 
            display: block
            width: auto
            height: 100%
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)

            @media (max-width: 639px)
                transform: none
                position: static
                width: 100%
                height: auto

    &__name 
        margin: 0 0 auto 0
        font-weight: 400
        font-size: 54px
        line-height: 54px

        @media (max-width: 899px)
            max-width: 300px
            font-size: 29px
            line-height: 29px

    &__descr 
        margin: 0 0 35px 0
        padding-right: 18%
        font-size: 20px
        line-height: 26px

        @media (max-width: 899px)
            margin-bottom: 25px
            padding-right: 10%
            font-size: 15px
            line-height: 19px

        @media (max-width: 768px)
            margin-top: 20px
            margin-bottom: 28px
            padding-right: 11%
            line-height: 19px

        @media (max-width: 639px)
            padding-right: 0

    &__subtitle 
        padding-top: 69px
        padding-bottom: 74px
        text-align: center
        border-top: 1px solid $lines-d
        border-bottom: 1px solid $lines-d

        @media (max-width: 899px)
            position: relative
            padding-top: 28px
            padding-bottom: 30px
            padding-left: 4.222222%
            padding-right: 4.222222%
            text-align: left
            cursor: pointer

            &:first-child 
                border-bottom: none 

                &.active 
                    border-bottom: 1px solid $lines-d

            &:after 
                content: ""
                position: absolute
                right: 4.222222%
                top: 50%
                width: 12px
                height: 12px
                border: 2px solid $lines-d 
                border-top: none
                border-left: none
                transform: translateY(-50%) rotate(45deg)

        @media (max-width: 768px)
            padding-left: 5.5%
            padding-right: 5.5%

            &:after 
                right: 5.5%

        @media (max-width: 639px)
            padding-right: 25px
            padding-left: 25px

        &.active 

            &:after 
                transform: translateY(-50%) rotate(-135deg)

        h3 
            margin: 0
            font-family: $font-alt
            font-weight: 400
            font-size: 30px
            line-height: 40px

            @media (max-width: 899px)
                font-size: 20px
                line-height: 24px

    &__content 

        @media (max-width: 899px)
            max-height: 0
            overflow: hidden
            transition: max-height 0.3s ease

            &.opened 
                max-height: 10000px
                overflow: visible