.authors

    &__inner 
        display: flex 
        flex-wrap: wrap

    &__header 
        box-sizing: border-box 
        padding: 17px 36px
        width: 50%
        min-height: 354px;
        border-bottom: 1px solid $lines-d
        border-right: 1px solid $lines-d
        background-image: url("../images/svg/a.svg")
        background-repeat: no-repeat 
        background-size: 444px auto;
        background-position: top 12px right 12px

        @media (max-width: 1024px)
            width: 66.666666%

        @media (max-width: 899px)
            padding: 35px 54px
            width: 100%
            min-height: 251px
            background-size: 276px auto
            border-right: none
            background-position: bottom 20px right 50px

        @media (max-width: 639px)
            padding: 35px 17px
            background-position: bottom 20px right 20px

    &__title 
        margin: 0
        font-weight: 400
        font-size: 54px
        line-height: 60px

        @media (max-width: 899px)
            font-size: 29px
            line-height: 35px

        .number 
            position: relative
            top: -28px
            left: -3px
            font-size: 20px
            color: $textColor-l
            line-height: 20px

            @media (max-width: 899px)
                top: -14px
                left: 4px
                font-size: 18px

            @media (max-width: 639px)
                left: -2px

.author-card
    position: relative
    display: flex 
    flex-direction: column
    box-sizing: border-box 
    padding: 11px 12px
    width: 25%
    min-height: 353px
    border-bottom: 1px solid $lines-d
    border-right: 1px solid $lines-d

    @media (max-width: 1024px)
        width: 33.333333%

    @media (max-width: 899px)
        flex-direction: row
        padding: 21px 20px
        padding-bottom: 16px
        width: 50%
        min-height: 260px

    @media (max-width: 639px)
        width: 100%
        min-height: 251px

    &:before 
        content: ""
        position: absolute
        top: 12px
        left: 12px
        right: 12px
        bottom: 12px
        background-image: url("../images/svg/vector.svg")
        background-repeat: no-repeat
        background-position: top left
        background-size: contain
        opacity: 0
        transition: opacity 0.3s ease

        @media (max-width: 899px)
            top: 22px
            right: 18px
            bottom: 68px
            background-position: top right

        @media (max-width: 639px)
            bottom: 59px

    &__image 
        position: relative
        width: 162px
        overflow: hidden

        &:after
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background-color: $transparent 
            transition: opacity 0.3s ease

        @media (max-width: 899px)
            width: 140px
            height: 220px

        @media (max-width: 639px)
            height: 210px

    img 
        display: block
        width: 100%
        height: auto

        @media (max-width: 899px)
            width: auto
            height: 100%

    &__info 
        display: flex 
        align-items: flex-end
        margin-top: auto
        color: $textColor-l
        transition: color 0.3s ease

        @media (max-width: 899px)
            flex-direction: column
            margin-top: 0
            margin-left: auto

    &__name,
    &__lectures
        position: relative
        margin: 0
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 15px

        .number 
            display: block
            text-align: right
            font-size: 30px
            line-height: 27px

        @media (max-width: 899px)
            margin-top: auto

    &__name

        @media (max-width: 899px)
            order: 2

    &__lectures
        margin-left: auto

        @media (max-width: 899px)
            order: 1
            margin-top: 0

    &:hover 

        .author-card__info
            color: $brown

        .author-card__image:after 
            background-color: rgba(200, 104, 76, 0.2)

        &:before
            opacity: 1

.dummy 
    flex-grow: 1
    box-sizing: border-box 
    min-width: 25%
    min-height: 353px
    border-bottom: 1px solid $lines-d
    border-right: 1px solid $lines-d
    background-image: url("../images/svg/ya.svg")
    background-repeat: no-repeat 
    background-size: auto calc(100% - 24px)
    background-position: top 12px right 12px

    @media (max-width: 1024px)
        min-width: 33.333333%
        background-size: auto calc(100% - 40px)
        background-position: top 24px right 12px

    @media (max-width: 899px)
        min-width: 50%
        min-height: 260px

    @media (max-width: 639px)
        display: none