.billing-steps 

    &__item
        // position: absolute
        // opacity: 0
        max-height: 0
        opacity: 0
        overflow: hidden
        pointer-events: none
        transition: opacity 0.3s ease

        &.active 
            position: relative
            overflow: visible
            opacity: 1
            max-height: 1000px
            pointer-events: auto

    &__back 
        @include btn-reset
        margin-left: auto
        padding: 5px 0 0
        text-align: left
        font-family: $font-alt
        font-size: 14px
        line-height: 16px
        color: $textColor-l
        white-space: nowrap

        @media (max-width: $screenXS - 1)
            margin-left: 0
            width: 100%
            max-width: 260px

            br 
                display: none

        &:hover
            border-bottom: 1px solid #c8684c