.books-tab 
    padding-top: 60px

    @media (max-width: 899px)
        padding-top: 23px
    
    &__inner 
        display: flex
        flex-wrap: wrap
        margin: 0 auto
        padding: 0 8.333333%
        //max-width: 1170px

        @media (max-width: $screenXL - 1)
            padding: 0 75px

        @media (max-width: 899px)
            padding: 0 40px

        @media (max-width: 639px)
            padding: 0 24px

    &__item 
        margin-bottom: 63px
        margin-right: 2.735%
        width: 30.598%

        @media (max-width: $screenXL - 1)
            margin-right: 4.8%
            margin-bottom: 52px
            width: 45.6%

        @media (max-width: 639px)
            margin-right: 0
            width: 100%
            margin-bottom: 12px

        &:nth-child(even)

            @media (max-width: $screenXL - 1)
                margin-right: 0

        &:nth-child(3n + 3)
            margin-right: 0

            @media (max-width: $screenXL - 1)
                margin-right: 4.8%

                @media (max-width: 639px)
                    margin-right: 0

        .book-card__image

            @media (max-width: 767px)
                margin-right: 3px

        .book-card__btn 

            @media (max-width: 767px)
                min-width: 103px    
                padding: 13px 3px

        .book-card__descr

            @media (max-width: 639px)
                margin-top: 0