.book-card

    &__inner 
        display: flex

    &__image 
        display: flex 
        flex-direction: column 
        justify-content: flex-end
        margin-left: -4px
        margin-right: 16px
        width: 159px
        min-width: 159px
        height: 235px

        img 
            display: block
            width: 100%
            height: auto

    &__info 
        padding-top: 7px

        @media (max-width: $screenXL - 1)
            max-width: 210px

    &__btn 
        margin-top: 15px
        margin-bottom: 12px
        border-color: $lines-d
        font-size: 14px

    &__title 
        margin: 0
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 17px

    &__author 
        margin: 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 15px
        color: $textColor-l

    &__descr 
        margin: 0
        max-width: 410px
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 17px

        @media (max-width: 767px)
            margin-top: 7px

    &--full 

        .book-card__image
            margin-right: 6px

            @media (max-width: 899px)
                margin-right: 3px

            @media (max-width: 767px)
                margin-right: 11px

        .book-card__info
            display: flex 
            flex-direction: column 
            justify-content: flex-end

        .book-card__btn
            margin-top: 9px
            min-width: 191px

            @media (max-width: $screenXL - 1)
                min-width: 177px    

            @media (max-width: 899px)
                min-width: 166px
                margin-top: 14px

            @media (max-width: 767px)
                min-width: 118px
                padding: 6px 10px
                line-height: 18px

    &._mobile 
        display: none

        @media (max-width: 899px)
            display: block

    &._desktop 

        @media (max-width: 899px)
            display: none
