.btn 
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    padding: 16px 28px
    text-align: center
    font-family: $font
    font-weight: 300
    font-size: 16px
    line-height: 25px
    color: #fff
    background-color: $transparent
    border: none 
    border-radius: 0
    outline: none 
    transition: opacity 0.4s ease
    cursor: pointer

    &:hover,
    &:focus,
    &:active 
        opacity: 0.9

    &--gray 
        @include hover;
        padding: 14px 23px
        font-family: $font-alt
        font-weight: 700
        font-size: 18px
        line-height: 20px
        color: $textColor
        border: 1px solid $textColor-l

        @media (max-width: 899px)
            font-size: 14px
            padding: 12px

        .price 
            color: $brown
            @include numeric

    &--white 
        padding: 13px
        font-family: $font-alt
        font-weight: 700
        font-size: 18px
        line-height: 24px
        color: $textColor 
        background-color: #fff 
        box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18)
        transition: box-shadow 0.3s ease

        &:hover,
        &:focus,
        &:active 
            opacity: 1
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1)

    &--rounded 
        padding: 15px
        font-family: $font-alt 
        font-weight: 700
        font-size: 14px
        line-height: 18px
        color: $textColor
        border: 1px solid $lines-d
        border-radius: 4px
        transition: box-shadow 0.3s ease

        &:hover,
        &:focus,
        &:active 
            opacity: 1
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25)

    &--rounded-s 
        padding: 7px 16px 8px
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 16px
        color: $textColor
        border: 1px solid $lines-d
        border-radius: 4px
        transition: box-shadow 0.3s ease

        &:hover,
        &:focus,
        &:active 
            opacity: 1
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25)

    &--brown 
        position: relative
        @include row-component
        justify-content: center
        padding: 11px 15px
        font-family: $font-alt 
        font-weight: 700
        font-size: 15px
        line-height: 20px
        color: #fff
        background-color: $brown
        border-radius: 4px

        .icon 
            @include centerV
            right: 15px

        svg 
            display: block
            fill: #fff

        &.disabled 
            color: $textColor-l
            background-color: rgba(255, 255, 255, 0.2)
            pointer-events: none

            svg 
                fill: $textColor-l

    &--light 
        padding: 9px
        font-family: $font-alt 
        font-size: 15px
        line-height: 22px
        color: #fff
        border: 1px solid rgba(255, 255, 255, 0.2)
        border-radius: 4px

