.card-block
    display: flex
    flex-direction: column
    padding: 12px 13px 10px 17px
    height: 118px
    font-family: $font-alt
    border: 1px solid rgba(47, 47, 47, 0.2)
    border-radius: 12px
    transition: border-color 0.3s ease

    @media (max-width: 899px)
        padding-right: 17px
        height: 93px

    &__number
        @include field-reset
        margin: 0
        font-size: 28px
        line-height: 1.2

        @media (max-width: 899px)
            font-size: 20px
            letter-spacing: -0.4px

    &__error 
        display: none
        margin: 0
        font-size: 17px
        line-height: 1.2
        color: #E02F37

        @media (max-width: 899px)
            font-size: 15px

    &__footer 
        display: flex
        margin-top: auto

    &__valid-through
        @include field-reset
        font-size: 17px
        line-height: 1.2

        @media (max-width: 899px)
            font-size: 15px

    &__type 
        margin-left: auto
        margin-top: 5px
        width: 32px

        svg 
            display: block
            width: 100%
            height: auto

        img 
            display: block
            margin: 0 0 2px auto

    &._error 
        border-color: #E02F37

        .card-block__error 
            display: block

