.coming-soon 
    @include center
    font-family: $font-alt
    color: #fff

    &__content
        display: flex 
        flex-direction: column
        align-items: center

    .stats 
        font-size: 54px
        line-height: 44px

        @media (max-width: $screenXS - 1)
            font-size: 34px
            line-height: 24px

    .legend 
        font-size: 17px
        line-height: 23px

        @media (max-width: $screenXS - 1)
            font-size: 13px
            line-height: 15px