.contents-tooltip 
    position: absolute
    right: 58px
    bottom: 64px
    padding: 0 16px
    padding-right: 0
    box-sizing: border-box 
    width: 320px
    font-family: $font-alt 
    font-size: 14px
    line-height: 20px
    color: #fff
    background-color: $textColor
    box-shadow: 2px 0 10px 3px rgba(0, 0, 0, 0.4)
    opacity: 0
    pointer-events: none
    z-index: -1000 
    transition: opacity 0.3s ease

    @media (max-width: 600px)
        pointer-events: initial
        bottom: 0
        right: 50%
        transform: translateX(50%)
        height: 100%

    &.opened 
        opacity: 1
        z-index: 100
        pointer-events: initial

        @media (max-width: 600px)
            z-index: 150

    &:before 
        content: ""
        position: absolute
        width: 18px
        height: 18px
        background-color: $textColor 
        bottom: -9px
        right: 40px
        transform: rotate(45deg)
        box-shadow: 2px 0 10px 3px rgba(0, 0, 0, 0.3)

        @media (max-width: 600px)
            display: none

    &:after 
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 20px
        background-color: $textColor

        @media (max-width: 600px)
            display: none

    &__header 
        margin-right: 16px
        padding-top: 14px
        padding-bottom: 8px
        border-bottom: 1px solid $lines

    &__title 
        margin: 0

    &__body 
        margin: 0
        padding: 0
        height: 310px
        list-style: none
        counter-reset: li

        @media (max-width: 600px)
            height: calc(100% - 43px)

        li 
            position: relative
            margin-bottom: 16px
            padding-left: 30px
            padding-right: 32px
            line-height: 18px

            &:first-child 
                padding-top: 24px

                &:before 
                    top: 24px

                .equalizer
                    top: 24px

            &:last-child 
                padding-bottom: 20px

            a
                color: #fff
                transition: color 0.3s ease

            &:before 
                content: counter(li)"."
                counter-increment: li
                position: absolute
                left: 14px
                transform: translateX(-50%)
                top: 0
                font-family: $font-alt 
                font-size: 14px
                line-height: 20px
                color: rgba(255, 255, 255, 0.6)

            &:hover 

                a
                    color: $brown

