.course-tab-controls 
    @include list-reset
    @include row-component

.course-tab-control
    box-sizing: border-box 
    display: flex
    justify-content: center
    align-items: flex-end
    padding-top: 28px
    padding-bottom: 49px
    width: 50%
    min-height: 127px
    border-left: 1px solid $lines-d
    border-bottom: 1px solid $lines-d
    transition: border-bottom-color 0.3s ease
    cursor: pointer

    &.disabled 
        position: relative
        pointer-events: none
        cursor: default

        &:before 
            content: ""
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-color: rgba(255, 255, 255, 0.3)

    @media (max-width: 899px)
        padding-top: 20px
        padding-bottom: 23px
        min-height: 72px

    @media (max-width: 639px)
        padding-bottom: 21px
        min-height: 70px

    &:first-child 
        border-left: none

    &__title 
        margin: 0
        margin-right: 12px
        font-family: $font-alt
        font-weight: 400
        font-size: 30px
        line-height: 33px
        color: $textColor-l
        transition: color 0.3s ease

        @media (max-width: 899px)
            font-size: 20px
            line-height: 23px

        @media (max-width: 639px)
            margin-right: 7px

        &._desktop 

            @media (max-width: 639px)
                display: none

        &._mobile 
            display: none

            @media (max-width: 639px)
                display: block

    &__label
        margin-right: 1px
        font-family: $font-alt
        font-weight: 400
        font-size: 14px
        line-height: 22px
        color: $textColor-l

        @media (max-width: 899px)
            font-size: 13px
            line-height: 19px

        @media (max-width: 639px)
            display: none

    &__actual
        font-family: $font-alt
        font-size: 54px
        line-height: 49px
        color: $brown
        @include numeric
        font-variant-numeric: proportional-nums oldstyle-nums

        @media (max-width: 899px)
            font-size: 29px
            line-height: 28px

    &__total
        font-family: $font-alt
        font-size: 18px
        line-height: 28px
        color: $textColor-l

        @media (max-width: 899px)
            font-size: 15px
            line-height: 21px

    &.active 
        border-bottom-color: $transparent

        .course-tab-control__title 
            color: $textColor

.course-tab-control__empty
    font-family: "Fira Sans", Arial, sans-serif
    font-variant-numeric: oldstyle-nums
    -moz-font-feature-settings: 'onum'
    -webkit-font-feature-settings: 'onum'
    font-feature-settings: 'onum' on
    font-variant-numeric: proportional-nums oldstyle-nums

    &._desktop
        font-size: 14px
        color: rgba(47, 47, 47, 0.7)

        @media (max-width: 639px)
            display: none

    ._mobile
        display: none

        @media (max-width: 639px)
            display: block
            font-size: 29px
            line-height: 24px
            color: rgba(47, 47, 47, 0.2)