.courses 
    padding-top: 95px

    @media (max-width: $screenS - 1)
        padding-top: 64px

    @media (max-width: 639px)
        display: flex
        flex-direction: column

    .scrollmagic-pin-spacer
        padding-bottom: 0 !important
        padding-top: 0 !important
        min-height: 0 !important