.course-tabs-list
    @include list-reset
    position: relative

.course-tab 
    position: absolute
    top: 0
    left: 0
    width: 100%
    opacity: 0
    z-index: -100
    transition: opacity 0.3s ease

    &.active 
        position: static
        opacity: 1
        z-index: initial

