.course-module 
    display: flex
    min-height: 635px
    border-bottom: 1px solid rgba(47, 47, 47, 0.15)

    @media (max-width: 1899px)
        min-height: 685px

    @media (max-width: 1279px)
        min-height: 671px

    @media (max-width: 1023px)
        min-height: 0
        padding-bottom: 40px

    @media (max-width: 899px)
        min-height: 700px

    @media (max-width: 639px) 
        flex-direction: column
        padding-bottom: 13px

    &._small 
        min-height: 0

        @media (max-width: 639px)
            padding-bottom: 15px

        .course-module__header
            min-height: 145px

            @media (max-width: 1279px) 
                padding-right: 40px

            @media (max-width: 1023px) 
                min-height: 0

            @media (max-width: 480px)
                padding-right: 0

        .course-module__title
            margin-bottom: 25px

            @media (max-width: 1279px)

                br 
                    display: none

            @media (max-width: 1023px) 
                margin-bottom: 13px
                font-size: 25px
                line-height: 31px

            @media (max-width: 639px)
                letter-spacing: -0.7px

        .favourites 

            @media (max-width: 1023px) 
                left: 0

        .course-module__label

            @media (max-width: 1023px) 
                padding-left: 26px

        .course-module__info-block

            @media (max-width: 1023px) 
                padding-left: 44px
                width: 49%

            @media (max-width: 639px)
                padding-left: 16px
                padding-right: 16px
                padding-bottom: 0
                padding-top: 37px
                width: 100%

        .course-module__info 

            @media (max-width: 639px)
                margin-bottom: 0
        
    a.course-module__read-more 
        display: none
        font-family: $font-alt 
        font-size: 13px
        line-height: 19px
        color: $textColor
        border-bottom: 1px solid rgba(200, 104, 76, 0.2)
        margin-bottom: 29px

        .less 
            display: none

        .icon 
            padding-left: 4px

        &.opened 

            .less 
                display: flex

            .more 
                display: none

        @media (max-width: 639px)
            display: inline-block
            vertical-align: top

    &__button-row
        display: flex
        align-items: flex-start

    &__contents
        margin-left: 24px
        font-family: $font-alt
        color: $textColor-l

        @media (max-width: 767px)
            margin-left: 20px

        @media (max-width: 639px)
            display: none

    &__contents-label
        margin: 0
        font-size: 17px
        line-height: 18px
        color: $textColor

    &__lectures-count
        margin: 0
        @include numeric

        .current 
            font-size: 28px
            color: $brown 

        .total 
            font-size: 16px

    &__btn
        min-width: 227px
        font-size: 18px
        line-height: 26px

        @media (max-width: 899px)
            min-width: 175px
            font-size: 15px

        @media (max-width: 639px)
            transform: none
            min-width: 100% 

    &__inner 
        display: flex
        padding-bottom: 80px

        @media (max-width: 899px)
            padding-bottom: 54px

        @media (max-width: 767px)
            padding-bottom: 50px

        @media (max-width: 639px)
            flex-direction: column

    &__header 
        min-height: 210px

        @media (max-width: 639px)
            padding-right: 0
            min-height: 0

    &__info-block 
        display: inline-block
        vertical-align: top
        box-sizing: border-box
        padding-top: 53px
        padding-bottom: 30px
        padding-left: 8.333333%
        padding-right: 5px
        flex: none
        width: 58.368%

        @media (max-width: 1899px)
            padding-right: 5px

        @media (max-width: 1279px)
            padding-top: 50px
            padding-right: 0

        @media (max-width: 1023px)
            padding-top: 29px
            padding-left: 34px
            padding-bottom: 12px    
            width: 56%

        @media (max-width: 899px)
            padding-left: 33px
            padding-top: 41px

        @media (max-width: 767px)
            padding-bottom: 12px
            width: 53.4%

        @media (max-width: 639px)
            order: 2
            box-sizing: border-box
            padding-top: 12px
            padding-left: 20px
            padding-right: 20px
            width: 100%

        @media (max-width: 480px)
            padding-top: 25px

    &__image-block
        display: inline-block
        vertical-align: top
        padding-top: 60px
        width: 41.632%
        //background-color: #c4c4c4
        overflow: hidden

        @media (max-width: 1200px) 

            svg 
                max-width: 450px
                max-height: 400px

        @media (max-width: 1279px)
            padding-top: 90px


        @media (max-width: 1100px)
            padding-left: 90px
            padding-top: 40px

        @media (max-width: 1023px)
            padding-top: 20px
            padding-left: 10px
            display: flex
            justify-content: center
            flex-grow: 1
        
            svg 
                max-width: 270px
                max-height: 250px

        @media (max-width: 899px)
            padding-top: 20px

            svg 
                max-width: 350px 
                max-height: 300px

        @media (max-width: 767px)
            width: 46.6%

        @media (max-width: 700px)

            svg 
                max-width: 320px
                max-height: 280px

        @media (max-width: 639px)
            order: 1
            justify-content: flex-start
            padding: 10px
            padding-left: 45px
            width: 100%
            box-sizing: border-box
            max-height: 1000px
            overflow: hidden
            padding-bottom: 15px

            svg 
                max-width: 280px
                max-height: 250px

        @media (max-width: 499px)
            padding-top: 20px

        @media (max-width: 480px)
            justify-content: center
            padding-left: 10px

    &__image
        display: block
        width: auto
        max-height: 635px

        @media (max-width: 1899px)
            max-height: 680px

        @media (max-width: 1279px)
            max-height: 530px

        @media (max-width: 1023px)
            max-height: 480px

        @media (max-width: 899px)
            max-height: 330px

        @media (max-width: 639px)
            max-height: 320px

    &__stats 
        font-family: $font-alt
        font-size: 15px
        line-height: 19px

        b 
            font-weight: 400
            color: $textColor
        
        span 
            color: $textColor-l

    &__description-block 
        padding-top: 62px
        padding-bottom: 3px
        box-sizing: border-box
        padding-right: 40px
        flex: none
        width: 41.632%
        font-family: $font-alt
        font-size: 15px
        line-height: 18px

        @media (max-width: 1023px) 
            padding-top: 36px
            width: 50%

        @media (max-width: 639px)
            order: 2
            width: 100%
            padding-top: 16px
            padding-left: 16px
            padding-right: 16px

        p 
            margin: 0 0 18px
            max-width: 470px

            @media (max-width: 1279px)  
                max-width: 375px

            @media (max-width: 1023px) 
                max-width: 390px

            @media (max-width: 639px)
                max-width: 545px

    &__title 
        position: relative
        margin: 0 0 38px 0
        font-weight: 400
        font-size: 40px
        line-height: 44px
        letter-spacing: -0.02em
        cursor: pointer

        a 
            display: block
            color: $textColor

        @media (max-width: 1899px)
            margin-bottom: 42px

        @media (max-width: 1279px)
            margin-bottom: 38px
            line-height: 45px
            letter-spacing: -1.4px

        @media (max-width: 1023px)
            margin-bottom: 16px
            font-size: 29px
            line-height: 34px

        @media (max-width: 899px)
            margin-bottom: 10px
            font-size: 29px
            line-height: 31px

        @media (max-width: 767px)
            margin-bottom: 10px

        @media (max-width: 639px)
            margin-bottom: 45px
            line-height: 32px
            letter-spacing: -0.8px

        @media (max-width: 499px)
            margin-bottom: 21px
            line-height: 31px

        @media (max-width: 480px)
            margin-bottom: 9px
            font-size: 25px
            line-height: 30px

        span 
            padding-left: 4px
            border-bottom: 1px solid $transparent 
            transition: border-color 0.3s ease

        &:hover 

            span 
                border-bottom: 1px solid $lines-d

    &__label
        position: relative
        display: inline-block
        vertical-align: top
        margin: 0
        font-style: italic
        color: $brown
        z-index: -1

        @media (max-width: 1023px) 
            padding-left: 28px

        @media (max-width: 899px)
            padding-left: 30px

        @media (max-width: 480px)
            padding-left: 22px

    &__btn-buy 
        margin-right: 14px

        @media (max-width: 899px)
            margin-bottom: 10px

        @media (max-width: 639px)
            margin-bottom: 0
            margin-right: 44px
            padding: 7px 20px 8px

        @media (max-width: 480px)
            order: 2
            margin: 0
            margin-top: 15px
            min-width: 100%    

        ._mobile 
            display: none

            @media (max-width: 1023px)
                display: inline
        
        ._desktop 

            @media (max-width: 1023px)
                display: none

        ._tablet 

            @media (max-width: 639px)
                display: none

            @media (max-width: 480px)
                display: inline

    .favourites
        position: absolute
        top: 4px
        left: -27px
        width: 14px
        height: 23px
        font-size: 0
        background-image: url("../images/svg/flag.svg")
        background-repeat: no-repeat 
        background-size: contain 
        background-position: center
        opacity: 0.2

        @media (max-width: 1899px)
            top: 10px

        @media (max-width: 1023px)
            left: -5px
            top: 6px

        @media (max-width: 899px)
            left: -4px
            top: 2px

    &__body 
        margin-top: 157px

        @media (max-width: 1023px)
            margin-top: -55px
            padding-top: 16px
            width: calc(100vw - 34px)

        @media (max-width: 899px)
            margin-top: 29px
            //width: 177%

        @media (max-width: 767px)
            //width: 197%

        @media (max-width: 639px)
            margin-top: 32px
            width: 100%

    &__info
        margin-bottom: 36px
        display: flex
        align-items: flex-start

        @media (max-width: 1899px)
            margin-bottom: 36px

        @media (max-width: 1279px)
            margin-bottom: 25px

        @media (max-width: 1023px)
            margin-bottom: 89px

        @media (max-width: 899px)
            flex-direction: column 
            align-items: flex-start
            margin-bottom: 14px

        @media (max-width: 639px)
            flex-direction: row
            align-items: center
            margin-bottom: 26px

        @media (max-width: 499px)
            margin-bottom: 20px
        
        @media (max-width: 480px)
            flex-direction: column
            align-items: flex-start

    &__info-col 
        display: inline-block
        vertical-align: top
        box-sizing: border-box
        padding: 13px 16px 3px 16px
        width: 50%
        min-width: 208px
        font-family: $font-alt
        border-top: 1px solid rgba(47, 47, 47, 0.15)
        border-left: 1px solid rgba(47, 47, 47, 0.15)

        &._img
            display: flex

        @media (max-width: 1899px)
            padding-top: 11px
            padding-bottom: 0

        @media (max-width: 1279px)
            padding-left: 13px
            padding-right: 13px

        @media (max-width: 899px)
            width: 177px    

        @media (max-width: 767px)
            width: 144px

        @media (max-width: 639px)
            padding-top: 10px
            width: 53%
            min-width: 53%

        @media (max-width: 499px)
            width: 56%
            min-width: 56%

        &:first-child 
            padding-left: 0
            border-left: none 

    &__info-col-header
        margin: 0 0 5px 0
        font-size: 13px
        line-height: 17px
        color: rgba(47, 47, 47, 0.6)

        @media (max-width: 1899px)
            font-size: 14px
            line-height: 18px

        @media (max-width: 639px)
            margin-bottom: 6

    &__info-col-descr
        margin: 0
        font-size: 15px
        line-height: 19px

        @media (max-width: 1899px)
            font-size: 17px
            line-height: 21px

        @media (max-width: 1279px)
            line-height: 19px
            letter-spacing: -1px

        @media (max-width: 899px)
            font-size: 13px
            line-height: 16px
            letter-spacing: 0.1px

        @media (max-width: 639px)
            font-size: 13px
            letter-spacing: 0.05px
            line-height: 15px

    &__title-wrapper
        padding-left: 8.333333%
        padding-top: 65px
        max-width: 670px

        @media (max-width: 1399px)
            padding-left: 76px
            max-width: 570px

        @media (max-width: 899px)
            padding-top: 28px
            padding-left: 35px
            max-width: 357px
            min-width: 280px

        @media (max-width: 767px)
            max-width: 380px

        @media (max-width: 639px)
            padding-left: 20px
            max-width: 280px

    &__info-col-img 
        margin-right: 11px
        width: 59px
        height: 59px
        overflow: hidden

        @media (max-width: 1279px)
            display: none

        img 
            display: block
            width: 100%
            height: auto

    &__course-descr
        margin-top: auto
        margin-bottom: 32px
        padding-top: 12px

        @media (max-width: 1399px)
            padding-top: 14px
            padding-right: 73px

        @media (max-width: 899px)
            padding-right: 36px

        @media (max-width: 767px)
            padding-right: 33px

        @media (max-width: 639px)
            position: relative
            margin-bottom: 4px
            max-height: 180px 
            overflow: hidden
            transition: max-height 0.3s ease

            &.full 
                max-height: 2000px

                &:after 
                    display: none

            &:after 
                content: ""
                position: absolute
                bottom: 0
                left: 0
                right: 0
                height: 50px
                background-image: linear-gradient(to top, #fff, $transparent)

        p
            margin: 0
            padding-right: 16.666666%
            //max-width: 585px
            font-size: 20px
            line-height: 26px

            @media (max-width: 899px)
                font-size: 15px
                line-height: 19px

        .cur 
            font-style: italic

        a 
            color: $brown

    &--extended
        flex-direction: column

        .course-module__info-block
            padding: 0
            width: 50%

            @media (max-width: 639px)
                width: 100%

            &:nth-child(2)
                display: flex 
                flex-direction: column
                padding-top: 11px

                @media (max-width: 1399px) 
                    padding-top: 30px

                @media (max-width: 899px)
                    padding-top: 0
                    margin-top: -48px

                @media (max-width: 767px)
                    margin-top: 0
                    padding-top: 18px

                @media (max-width: 639px)
                    padding-top: 45px
                    padding-left: 20px
                    padding-right: 20px


        .course-module__header
            padding-left: 16.666666%
            padding-top: 10px
            min-height: 99px

            @media (max-width: 1399px)
                padding-top: 31px
                padding-left: 75px

            @media (max-width: 899px)
                padding-top: 19px
                padding-left: 35px

            @media (max-width: 767px)
                padding-top: 16px

            @media (max-width: 639px)
                padding-left: 20px
                padding-right: 20px

        .course-module__info
            margin-bottom: 0

        .course-module__title 
            font-size: 54px
            line-height: 57px

            @media (max-width: 899px)
                font-size: 29px
                line-height: 33px
                letter-spacing: -0.5px
                margin-bottom: 0

        .course-module__label
            font-size: 52px

            @media (max-width: 899px)
                font-size: 29px
                line-height: 33px
                padding-left: 24px
                letter-spacing: 0.1px

            &:before 
                left: -37px
                width: 16px
                height: 30px
                opacity: 1
                background-image: url("../images/svg/flag-red.svg")

                @media (max-width: 899px)
                    left: 1px
                    top: 7px
                    width: 14px
                    height: 22px
                    background-image: url("../images/svg/flag.svg")
                    opacity: 0.2

        .course-module__info-col
            width: 45.5%

            @media (max-width: 1399px) 
                padding-left: 16px
                width: 43.7%
                min-width: 100px

                @media (max-width: 767px)
                    width: 46%

                &:first-child 
                    padding-left: 0

            @media (max-width: 899px)
                width: 48%

            @media (max-width: 767px)
                width: 46%

            @media (max-width: 639px)
                width: 50%

        .course-module__info-col-descr

            @media (max-width: 1399px) 
                min-height: 38px

        .course-module__body 

            @media (max-width: 899px)
                width: 100%

        .course-module__image-block
            box-sizing: border-box
            display: flex 
            justify-content: flex-end
            padding-right: 172px
            padding-top: 56px
            width: 100%

            @media (max-width: 1399px) 
                padding-top: 66px
                padding-right: 124px

            @media (max-width: 1100px)
                padding-left: 0

            @media (max-width: 899px)
                padding-top: 42px
                padding-right: 49px

                svg 
                    max-height: 260px

            @media (max-width: 767px)
                padding-top: 32px
                justify-content: flex-start

            @media (max-width: 639px)
                padding-top: 0
                max-height: 292px

                svg 
                    max-height: 260px

            img 
                //margin-left: -36px
                //margin-left: -5%
                height: 536px
                width: 577px
                min-width: 577px

                @media (max-width: 1399px) 
                    max-height: 371px
                    width: 400px
                    min-width: 400px

                @media (max-width: 899px)
                    max-height: 379px   
                    width: 410px
                    min-width: 410px

                @media (max-width: 767px)
                    max-height: 259px
                    min-width: 282px 
                    width: 282px

        .social-block 

            @media (max-width: 1399px) 
                position: relative
                right: auto 
                bottom: auto

        .social-btn._active .social-btn__actions

            @media (max-width: 1399px)
                min-width: 48px

            @media (max-width: 899px)
                min-width: 56px

            @media (max-width: 767px)
                min-width: 36px

            @media (max-width: 639px)
                min-width: 34px

        .social-btn 
            margin-right: 7px

        .book-card 

            &._desktop 

                @media (max-width: 899px)
                    display: none

            &._mobile 
                display: none

                @media (max-width: 899px)
                    display: block
                    max-width: 350px

                @media (max-width: 767px)
                    max-width: 286px

    &--main 
        position: relative
        justify-content: flex-end
        border-bottom: none

        @media (max-width: 1399px) 
            min-height: 0

        @media (max-width: 1279px)
            margin-bottom: 66px

        @media (max-width: 899px)
            min-height: 0
            padding-bottom: 0

        @media (max-width: 767px)
            padding-bottom: 0

        @media (max-width: 639px)
            padding-bottom: 0

        .course-module__info-block
            display: flex 
            flex-direction: column 
            justify-content: center
            padding-top: 40px
            padding-bottom: 40px
            width: 50%
            min-width: 50%

            @media (max-width: 899px)
                padding-left: 37px

            @media (max-width: 767px)
                padding-left: 38px
                padding-top: 10px
                padding-bottom: 10px

            @media (max-width: 639px)
                justify-content: center
                padding-left: 36px
                padding-bottom: 0
                padding-top: 15px

            @media (max-width: 639px)
                padding-top: 5px
                padding-left: 20px
                padding-right: 20px
                width: 100%
                min-width: 100%

        .course-module__label

            @media (max-width: 639px)
                padding-left: 24px

        .course-module__image-block
            display: flex
            box-sizing: border-box
            padding-left: 40px
            padding-top: 68px
            padding-bottom: 58px
            width: 50%
            min-width: 50%
            position: relative
            top: 0

            @media (max-width: 1279px)
                padding-top: 16px
                padding-bottom: 42px

            @media (max-width: 899px)
                padding-top: 32px
                padding-left: 53px
                padding-bottom: 33px

            @media (max-width: 767px)
                padding-top: 16px
                padding-bottom: 11px

            @media (max-width: 639px)
                padding-top: 0
                padding-left: 0
                padding-bottom: 9px
                box-sizing: border-box
                width: 100%
                min-width: 100% 

            svg 
                max-width: 1000px
                max-height: 1000px 
                min-width: 665px
                min-height: 575px

                @media (max-width: 1399px) 
                    min-width: 612px
                    min-height: 500px

                @media (max-width: 1279px)
                    min-width: 500px 
                    min-height: 503px

                @media (max-width: 899px)
                    max-width: 370px
                    max-height: 300px
                    min-width: 331px
                    min-height: 287px

                @media (max-width: 767px)
                    max-height: 270px
                    min-width: 276px    
                    min-height: 270px

                @media (max-width: 639px)
                    min-height: 304px
                    max-width: 320px
                    min-width: 320px
                    max-height: 350px

        .course-module__label:before 
            display: none

            @media (max-width: 899px)
                display: block

        .course-module__header
            padding-bottom: 0

            @media (max-width: 899px)
                min-height: 0
                padding-bottom: 0
                padding-top: 40px

            @media (max-width: 767px)
                padding-bottom: 0
                padding-top: 42px

            @media (max-width: 639px)
                padding-right: 0

        .course-module__title

            @media (max-width: 1279px)
                margin-bottom: 42px
                width: 100%

            @media (max-width: 899px)
                margin-bottom: 20px

            @media (max-width: 639px)
                padding-right: 40px

        .course-module__info

            @media (max-width: 1279px)
                margin-bottom: 42px

        .course-module__info-col

            @media (max-width: 899px)
                min-width: 45%

            @media (max-width: 639px)
                min-width: 47%  