.course-announce 
    display: flex
    border-bottom: 1px solid $lines-d
    overflow: hidden

    @media (max-width: 639px)
        display: block

    &__col 
        position: relative
        padding-top: 68px
        padding-bottom: 84px
        box-sizing: border-box 
        width: 51%

        @media (max-width: 899px)
            padding-top: 53px
            padding-bottom: 35px

        @media (max-width: 768px)
            padding-top: 23px

        @media (max-width: 639px)
            padding-top: 0
            padding-bottom: 32px
            width: 100%

            &:nth-child(2)
                padding-left: 20px
                padding-right: 20px

        &:first-child
            width: 49%

            @media (max-width: 639px)
                width: 100%

        &:nth-child(2)

            @media (max-width: 768px)
                padding-top: 54px

            @media (max-width: 640px)
                padding-top: 24px

            @media (max-width: 639px)
                padding-top: 0

    &:last-child 
        border-bottom: none

    &__image 
        position: absolute
        top: 31px
        left: -7%

        @media (max-width: 1300px)

            svg 
                max-height: 500px
                max-width: 550px

        @media (max-width: 1100px)

            svg 
                max-width: 500px
                max-height: 450px

        @media (max-width: 1000px)

            svg 
                max-width: 450px
                max-height: 400px

        @media (max-width: 899px)
            top: 21px
            left: -3%

            svg 
                max-height: 350px
                max-width: 400px

        @media (max-width: 800px)

            svg 
                max-width: 350px
                max-height: 300px

        @media (max-width: 700px)

            svg 
                max-width: 300px
                max-height: 250px

        @media (max-width: 639px)
            position: relative

        img 
            display: block
            width: 463px
            height: auto

            @media (max-width: 1399px) 
                width: 429px

            @media (max-width: 899px)
                width: 280px

    &__title
        margin: 0 0 19px 0
        padding-right: 10%
        font-weight: 400
        font-size: 30px
        line-height: 36px

        @media (max-width: 899px)
            margin-bottom: 12px
            line-height: 33px

        @media (max-width: 768px)
            line-height: 32px

        @media (max-width: 639px)
            padding-right: 0
            line-height: 31px

        a 
            color: $textColor

    &__label 
        font-style: italic 
        color: $brown

    &__row 
        display: flex

        @media (max-width: 899px)
            display: block

    &__progress
        display: flex 
        align-items: flex-end
        margin-right: 25px

        @media (max-width: 899px)
            margin-bottom: 15px

    &__progress-label 
        font-family: $font-alt
        font-weight: 400
        font-size: 14px
        line-height: 19px
        color: $textColor-l

        @media (max-width: 1399px)
            font-size: 13px
            line-height: 19px

        @media (max-width: 899px)
            padding-right: 6px

    &__progress-actual
        font-family: $font-alt
        font-size: 54px
        line-height: 45px
        color: $brown
        @include numeric
        font-variant-numeric: proportional-nums oldstyle-nums

        @media (max-width: 899px)
            font-size: 29px
            line-height: 24px

    &__progress-total
        font-family: $font-alt
        font-size: 18px
        line-height: 17px
        color: $textColor-l

        @media (max-width: 899px)
            font-size: 15px
            line-height: 16px

    &__btn 
        min-width: 227px

        @media (max-width: 899px)
            padding: 14px
            min-width: 285px