.equalizer {
  position: absolute;
  top: 2px;
  right: 18px;
  align-items: center;
  display: flex;
  height: 14px;
  justify-content: space-between;
  overflow: hidden;
  width: 14px;

  &.paused {

    div {
      animation-play-state: paused;
    }
  }
}
.equalizer div {
  background: $brown;
  height: 100%;
  width: 2px;
  -webkit-animation: equalize 2s infinite;
          animation: equalize 2s infinite;
}
.equalizer div:nth-child(1) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.equalizer div:nth-child(2) {
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
}
.equalizer div:nth-child(3) {
  -webkit-animation-delay: -4.9s;
          animation-delay: -4.9s;
}
.equalizer div:nth-child(4) {
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
}
.equalizer div:nth-child(5) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
@-webkit-keyframes equalize {
  0%, 100% {
    -webkit-clip-path: inset(17% 0 0 0);
            clip-path: inset(17% 0 0 0);
  }
  10% {
    -webkit-clip-path: inset(65% 0 0 0);
            clip-path: inset(65% 0 0 0);
  }
  20% {
    -webkit-clip-path: inset(6% 0 0 0);
            clip-path: inset(6% 0 0 0);
  }
  30% {
    -webkit-clip-path: inset(67% 0 0 0);
            clip-path: inset(67% 0 0 0);
  }
  40% {
    -webkit-clip-path: inset(9% 0 0 0);
            clip-path: inset(9% 0 0 0);
  }
  50% {
    -webkit-clip-path: inset(32% 0 0 0);
            clip-path: inset(32% 0 0 0);
  }
  60% {
    -webkit-clip-path: inset(80% 0 0 0);
            clip-path: inset(80% 0 0 0);
  }
  70% {
    -webkit-clip-path: inset(46% 0 0 0);
            clip-path: inset(46% 0 0 0);
  }
  80% {
    -webkit-clip-path: inset(2% 0 0 0);
            clip-path: inset(2% 0 0 0);
  }
  90% {
    -webkit-clip-path: inset(39% 0 0 0);
            clip-path: inset(39% 0 0 0);
  }
}
@keyframes equalize {
  0%, 100% {
    -webkit-clip-path: inset(17% 0 0 0);
            clip-path: inset(17% 0 0 0);
  }
  10% {
    -webkit-clip-path: inset(65% 0 0 0);
            clip-path: inset(65% 0 0 0);
  }
  20% {
    -webkit-clip-path: inset(6% 0 0 0);
            clip-path: inset(6% 0 0 0);
  }
  30% {
    -webkit-clip-path: inset(67% 0 0 0);
            clip-path: inset(67% 0 0 0);
  }
  40% {
    -webkit-clip-path: inset(9% 0 0 0);
            clip-path: inset(9% 0 0 0);
  }
  50% {
    -webkit-clip-path: inset(32% 0 0 0);
            clip-path: inset(32% 0 0 0);
  }
  60% {
    -webkit-clip-path: inset(80% 0 0 0);
            clip-path: inset(80% 0 0 0);
  }
  70% {
    -webkit-clip-path: inset(46% 0 0 0);
            clip-path: inset(46% 0 0 0);
  }
  80% {
    -webkit-clip-path: inset(2% 0 0 0);
            clip-path: inset(2% 0 0 0);
  }
  90% {
    -webkit-clip-path: inset(39% 0 0 0);
            clip-path: inset(39% 0 0 0);
  }
}
