.extras-list
    @include list-reset
    counter-reset: li
    font-family: $font-alt 
    font-size: 14px
    line-height: 16px
    border-top: 1px solid $lines-d

    @media (max-width: $screenS - 1)
        font-size: 15px
        line-height: 18px

    li 
        position: relative
        display: flex 
        align-items: center
        box-sizing: border-box
        padding: 10px 0
        border-bottom: 1px solid $lines-d

        @media (max-width: $screenS - 1)
            min-height: 66px

        &:last-child 
            border-bottom: none

        .counter,
        .inner-counter
            display: inline
            margin-right: 4px
            color: $brown

        .duration 
            margin-left: 4px
            font-size: 13px
            color: $textColor-l

    &__item 
        display: inline
        margin-right: auto
        color: $textColor

    &__play-btn 
        @include btn-reset 
        //@include hover
        position: relative
        margin-left: auto
        flex: none
        width: 36px
        height: 36px
        background-repeat: no-repeat 
        background-size: cover 
        background-position: center
        border: 1px solid $brown
        border-radius: 50%

        &:hover
            z-index: 2
            .lecture__tooltip
                opacity: 1
                z-index: 2

        .duration 
            position: absolute
            top: -3px
            left: -9px
            font-family: $font-alt
            font-size: 13px
            line-height: 16px
            transform: rotate(-45deg)

        svg 
            @include center
            display: block 
            margin-left: 2px
            opacity: 0
            transition: opacity 0.3s ease

            &.play 
                opacity: 1

        &.playing 

            .play 
                opacity: 0

            .pause 
                margin-left: 0
                opacity: 1

        @media (max-width: $screenS - 1)
            margin-left: 20px
            width: 30px
            height: 30px
            border-width: 2px

    &__fav 
        @include btn-reset
        @include hover
        position: absolute
        top: 17px
        left: calc(100% + 2vw)
        width: 14px
        height: 23px

        @media (max-width: $screenS - 1)
            position: relative
            flex: none
            top: auto
            left: auto 
            right: 0
            margin-left: 20px

        svg 
            display: block 
            width: 100%
            height: auto
            fill: $lines-d

    &._full 

        li
            padding-top: 26px
            padding-bottom: 26px

        .extras-list

            &__fav
                order: 3
                position: relative
                left: auto
                top: auto

            &__play-btn
                order: 1
                margin-left: 0
                margin-top: 5px
                margin-bottom: -5px
                width: 83px
                height: 83px
                border: none

                &:hover
                    .lecture__tooltip
                        opacity: 1
                        z-index: 2

                svg 
                    width: 39px
                    height: 34px
                    fill: rgba(255, 255, 255, 0.8)

                    &.play 
                        margin-left: 4px

            &__item 
                order: 2
                margin-left: 31px
                margin-top: 13px
                margin-right: auto
                font-weight: 700
                font-size: 17px
                line-height: 20px

                .inner-counter
                    margin-right: 6px
