.favourites
    display: flex 
    flex-wrap: wrap
    flex-grow: 1
    background-image: url("../images/svg/i.svg")
    background-repeat: no-repeat 
    background-position: bottom 20px right 20px
    background-size: 23% auto
    border-top: 1px solid $lines-d
    border-bottom: 1px solid $lines-d

    @media (max-width: 899px)
        background-size: 25% auto

    @media (max-width: 768px)
        background-size: 24% auto

    @media (max-width: 479px)
        background-image: none
        border-bottom: none

    &__message 
        margin: 98px auto
        max-width: 280px
        text-align: center

        b 
            margin: 0
            font-family: $font-alt
            font-weight: 600
            font-size: 17px
            line-height: 23px

        p 
            margin: 0
            font-size: 17px
            line-height: 23px

        svg 
            display: inline-block 
            vertical-align: middle

.fav-card
    flex: none
    display: flex 
    flex-direction: column
    box-sizing: border-box 
    padding: 37px 38px 0 38px
    width: 50%
    height: 390px
    background-color: #fff
    border-right: 1px solid $lines-d
    border-bottom: 1px solid $lines-d
    overflow: hidden

    @media (max-width: 899px)
        padding: 22px 21px 0 21px
        height: 346px

    @media (max-width: 639px)
        width: 100%

    @media (max-width: 479px)
        border-right: none

    &:nth-child(even)
        border-right: none

    &:last-child,
    &:nth-child(odd):last-child,
    &:nth-child(odd):nth-last-child(2),
        border-bottom: none

        @media (max-width: 479px)
            border-bottom: 1px solid $lines-d

    &__header 
        margin-bottom: 8px
        min-height: 103px

    &__title 
        position: relative
        margin: 0 0 10px 0
        font-size: 30px
        line-height: 38px

        @media (max-width: 899px)
            font-size: 20px
            line-height: 26px

        @media (max-width: 768px)
            margin-bottom: 5px
            padding-right: 20px

        a 
            color: $textColor
            border-bottom: 1px solid $transparent 
            transition: border-color 0.3s ease

        &:hover 

            a 
                border-bottom: 1px solid $lines-d

            .fav svg 
                fill: $brown

    &__title-text 
        //padding-left: 30px
        font-weight: 400
        letter-spacing: -0.5px

    .fav 
        position: absolute
        top: 4px
        right: 0
        display: block
        width: 14px
        height: 23px

        svg 
            fill: #bababa
            transition: fill 0.3s ease

        @media (max-width: 899px)
            top: 1px

    .label 
        font-style: italic 
        color: $brown

    &__info
        display: flex
        flex-wrap: wrap
        max-width: 262px
        font-family: $font-alt
        font-size: 13px
        line-height: 17px
        color: $textColor-l

        @media (max-width: 899px)
            max-width: 350px

    &__info-link
        margin-right: 5px
        font-family: $font-alt 
        font-weight: 400
        color: $textColor-l

        &._tag 
            position: relative
            padding-left: 10px

            &:before 
                content: ""
                position: absolute
                top: 8px
                left: 2px
                width: 3px
                height: 3px
                background-color: $textColor-l 
                border-radius: 50%

    &__body 
        display: flex
        flex-grow: 1

    &__col 

        &:first-child
            flex: 0 0 210px
            display: flex 
            justify-content: flex-start 
            align-items: flex-end
            box-sizing: border-box
            padding-bottom: 36px

            @media (max-width: 899px)
                display: none

        &:last-child
            display: flex 
            flex-direction: column 
            justify-content: flex-end
            margin-left: auto

            @media (max-width: 899px)
                justify-content: center 
                margin-left: 0
                width: 100%

    &__image-block 
        display: flex 
        align-items: flex-start
        justify-content: flex-end
        align-self: flex-end
        width: 70%
        min-width: 198px

        @media (max-width: 899px)
            align-self: center

        @media (max-width: 768px)
            width: 85%

        @media (max-width: 640px)
            width: 100%

        @media (max-width: 639px)
            width: 67%

        @media (max-width: 479px)
            width: 100%

        svg 
            display: block
            width: 100%
            height: 100%

    &__link 
        margin-top: auto
        min-width: 171px