.filters-row 
    max-height: 0
    overflow: hidden
    border-bottom: none
    transition: max-height 0.3s ease

    @media (max-width: $screenS - 1)
        display: none

    &.opened 
        max-height: 96px
        border-bottom: 1px solid rgba(47, 47, 47, 0.15)

    &__wrapper 
        padding-top: 30px
        padding-left: 0
        padding-bottom: 60px
        max-width: 100% 
        overflow: auto

        @media (max-width: $screenL - 1)
            padding-bottom: 30px

        @media (max-width: $screenM - 1)
            padding-bottom: 60px

    &__inner 
        display: flex
        align-items: center

    &__label 
        position: relative
        margin: 0 19px 0 57px
        font-family: $font-alt
        font-size: 14px
        line-height: 22px
        white-space: nowrap

        &:after 
            content: ""
            position: absolute
            bottom: 0
            left: 0
            right: 0
            height: 1px
            background-color: rgba(200, 104, 76, 0.6)

.filters-list 
    margin: 0
    padding: 0
    list-style: none
    display: flex

    li 
        margin-right: 19px

.filter-btn 
    display: block
    padding: 7px 18px
    text-align: center
    font-family: $font-alt
    font-size: 14px
    line-height: 18px
    color: $textColor
    white-space: nowrap
    background-color: rgba(200, 104, 76, 0.3)
    border-radius: 4px
    transition: background-color 0.4s ease

    @media (max-width: $screenS - 1)
        margin-bottom: 14px

    &:hover 
        background-color: rgba(200, 104, 76, 0.5)

    .active &
        color: #fff
        background-color: $textColor 

        @media (max-width: $screenS - 1)
            color: $textColor 
            background-color: #fff

    &__title 
        display: flex 
        align-items: flex-start

    &__index 
        padding-left: 2px
        padding-right: 1px
        font-size: 9px
        line-height: 13px

.filters-mobile 
    display: none
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)

    .filters-row__label 
        margin-left: 0
        margin-right: 0
        padding-top: 2px
        font-family: $font-alt

    .filter-btn
        margin-bottom: 12px

    &__trigger
        position: relative
        display: flex 
        align-items: center
        font-size: 13px

        &:after 
            content: ""
            position: absolute
            top: 15px
            transform: rotate(45deg)
            right: 25px
            width: 11px
            height: 11px
            border: 2px solid rgba(255, 255, 255, 0.6)
            border-left: none 
            border-top: none
            transition: transform 0.3s ease

    &__label 
        text-transform: uppercase
        font-family: $font-alt
        line-height: 50px
        letter-spacing: 1px

    &__icon     
        display: block
        margin-right: 15px
        fill: #fff

    .filters-list 
        max-height: 0
        overflow: hidden 
        transition: max-height 0.3s ease

        li 
            margin-right: 14px

            &:last-child 
                margin-bottom: 5px

        @media (max-width: $screenS - 1)
            flex-wrap: wrap

    @media (max-width: $screenS - 1)
        display: block

    &.opened 

        .filters-list 
            max-height: 1000px

        .filters-mobile__trigger:after 
            top: 19px
            transform: rotate(-135deg)
            border: 2px solid rgba(255, 255, 255, 1)
            border-left: none 
            border-top: none