.form 

    .icon-eye 
        position: absolute
        bottom: 4px
        left: 0
        display: block
        width: 16px
        height: 12px
        cursor: pointer

        svg
            display: block
            width: 16px
            height: 12px
            fill: $textColor-l
    
    &__row 
        display: flex
        align-items: flex-end
        margin-bottom: 34px

        @media (max-width: 899px)
            flex-wrap: wrap
            margin-bottom: 44px

        &._buttons 
            position: relative
            margin-top: 38px
            justify-content: center

            @media (max-width: 500px)
                margin-top: 48px
                margin-bottom: 0

    &__field-wrapper
        margin-right: 3.9%
        position: relative
        width: 36.43%

        @media (max-width: 899px)
            margin-right: 0
            width: 47%
            flex: 1 1 auto

        @media (max-width: 480px)
            margin-bottom: 32px
            width: 100%

        &:nth-child(2)

            @media (max-width: 899px)
                margin-left: 20px

            @media (max-width: 480px)
                margin-left: 0

        &._valid 

            .status-icon 
                bottom: 0

            svg.success
                display: block
                width: 20px
                height: 20px

        &._invalid 

            .form__field
                border-bottom: 1px solid $red

            .status-icon 
                bottom: 4px

            svg.failure 
                display: block
                width: 16px
                height: 16px


    &__field-label
        display: block
        font-family: $font-alt
        font-size: 13px
        line-height: 15px
        color: $textColor-l

    &__field 
        @include field-reset 
        box-sizing: border-box 
        width: 100%
        font-family: $font-alt 
        font-size: 18px
        line-height: 26px
        color: $textColor 
        border-bottom: 1px solid $lines-d

        @media (max-width: 899px)
            font-size: 15px

    &__link-wrapper
        margin-left: auto

        @media (max-width: 899px) 
            margin-top: 20px
            width: 100%

        @media (max-width: 480px)
            margin-top: -16px

    &__change-password 
        @include hover
        font-family: $font-alt 
        font-size: 17px
        line-height: 15px
        color: $textColor
        border-bottom: 1px solid $brown-l

        @media (max-width: 899px)
            font-size: 15px

    &__submit 
        flex: 0 0 280px

        @media (max-width: 899px)
            flex: 0 0 198px

        @media (max-width: 640px)
            flex: 0 0 141px

        @media (max-width: 480px)
            flex: 0 0 100%

    &__reset-btn
        @include btn-reset
        @include hover
        margin-left: 37px
        width: 200px
        text-align: left
        font-family: $font-alt 
        font-size: 17px
        line-height: 42px
        color: $textColor-l

        @media (max-width: 899px)
            margin-left: 20px
            width: auto

        @media (max-width: 480px)
            margin-left: 0
            margin-top: 13px

    .status-icon 
        position: absolute
        right: 0

        svg 
            display: none

    &__error-message 
        position: relative
        top: 6px
        display: none
        margin: 0
        text-align: center
        font-family: $font-alt 
        font-size: 13px
        line-height: 15px
        color: $red;

        &.show 
            display: block

    &__message 
        @include field-reset 
        box-sizing: border-box 
        width: 100%
        font-family: $font-alt 
        font-size: 18px
        line-height: 26px
        color: $textColor 
        border-bottom: 1px solid $lines-d
        resize: none

        @media (max-width: 899px)
            font-size: 15px