.fullscreen-btn
    position: relative
    @include btn-reset
    flex: none
    height: 53px
    width: 60px
    border-left: 1px solid $lines-d

    @media (max-width: $screenS - 1)
        border: none

    ._dark & 
        border-color: $lines

    svg
        @include center 
        display: block

        fill: rgba(47, 47, 47, 0.6)

        ._dark &
            fill: rgba(255, 255, 255, 0.6)