.gallery-block
    position: relative
    border-top: 1px solid #d5d6db

    &:after
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        border-bottom: 1px solid #d5d6db

    @media (max-width: $screenL - 1)
        position: relative
        padding-top: 83px

        &:after 
            display: none

.gallery
    display: flex 
    flex-wrap: wrap 

.gallery-label, 
.gallery-item
    box-sizing: border-box
    width: 25%
    min-width: 25%
    border-bottom: 1px solid #d5d6db
    border-right: 1px solid #d5d6db

    &:focus 
        outline: none

    &:nth-child(4n + 4) 
        border-right: none

.gallery-label
    
    @media (max-width: $screenL - 1)
        position: absolute
        top: 0
        left: 0
        width: 100%
        border: none

.gallery-label h2
    margin: 0 0 35px 0
    padding-left: 14px
    padding-top: 13px
    font-family: $font-alt
    font-weight: 400
    font-size: 30px
    line-height: 32px

    @media (max-width: $screenL - 1)
        margin: 0
        padding: 25px 55px
        font-size: 20px

    @media (max-width: $screenM - 1)
        padding-left: 48px

    @media (max-width: $screenXS - 1)
        padding-left: 36px

    span 
        position: relative
        top: -11px
        font-weight: 500
        font-size: 30px
        line-height: 30px
        color: $textColor-l
        letter-spacing: 1.5px

        @media (max-width: $screenL - 1)
            font-size: 15px

        @media (max-width: $screenXS - 1)
            font-size: 13px
            top: -7px

.gallery-item

    @media (max-width: $screenL - 1)
        border: 1px solid #fff

        &:nth-child(4n + 2)
            border-left: none

        &:nth-child(4n + 5)
            border-right: none

    @media (max-width: $screenXS - 1)
        width: 33.333333%

        &:nth-child(4n + 2)
            border-left: 1px solid #fff

        &:nth-child(4n + 5)
            border-right: 1px solid #fff

        &:nth-child(3n + 2)
            border-left: none

        &:nth-child(3n + 4)
            border-right: none

    @media (max-width: $screenXS-s - 1)
        width: 50%

        &:nth-child(4n + 2)
            border-left: 1px solid #fff

        &:nth-child(4n + 5)
            border-right: 1px solid #fff

        &:nth-child(3n + 2)
            border-left: 1px solid #fff

        &:nth-child(3n + 4)
            border-right: 1px solid #fff

        &:nth-child(2n + 2)
            border-left: none

        &:nth-child(2n + 3)
            border-right: none


    &__preview 
        position: relative
        display: flex 
        flex-direction: column
        align-items: flex-start
        box-sizing: border-box
        padding: 13px
        height: 100%
        min-height: 352px

        &._long-descr 

            &:after 
                content: ""
                position: absolute
                bottom: 0
                left: 0
                right: 0
                height: 50px
                background-image: linear-gradient(to top, #fff, $transparent)

                @media (max-width: $screenL - 1)
                    display: none

        @media (max-width: $screenL - 1)
            position: relative
            padding: 0
            padding-top: 100%
            min-height: 0
            overflow: hidden


    .number 
        position: absolute
        top: 7px
        left: 13px
        font-family: $font-alt 
        font-size: 13px
        line-height: 17px
        color: $textColor-l
        transition: color 0.3s ease

        @media (max-width: $screenL - 1)
            display: none

    &__image 
        margin-left: auto
        margin-right: auto
        max-height: 207px 
        max-width: calc(100% - 26px)
        overflow: hidden

        @media (max-width: $screenL - 1)
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            margin: 0
            height: 100%
            width: 100%
            max-height: 100%
            max-width: 100%

    img 
        display: block
        width: auto
        max-height: 207px
        max-width: 100%

        @media (max-width: $screenL - 1)
            max-width: 1000px
            max-height: 1000px

    &__caption
        margin: auto 0 0 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 17px
        color: $textColor-l
        transition: color 0.3s ease

        @media (max-width: $screenL - 1)
            display: none

    &:hover 

        .number,
        .gallery-item__caption
            color: $brown 


.gallery-slide
    position: absolute
    top: 0
    left: 0
    display: flex !important
    margin: 0
    padding: 0
    width: 100%
    height: 100%

    @media (max-width: $screenL - 1)
        flex-direction: column

    &__image
        padding-left: 120px
        height: 100%
        width: 75%
        border-right: 1px solid #d5d6db
        overflow: hidden

        @media (max-width: $screenL - 1)
            position: relative
            padding-left: 41px
            padding-right: 41px
            height: auto 
            width: 100%
            flex-grow: 1
            border-right: none

        @media (max-width: $screenXS - 1)
            padding-left: 0
            padding-right: 0
            overflow: hidden

    img 
        display: block
        height: 100%
        width: auto
        //max-width: calc(100% - 41px)

        @media (max-width: $screenL - 1)
            position: absolute
            top: 0
            bottom: 0

        @media (max-width: $screenXS - 1)
            width: 100%
            max-width: 100%
            height: auto
            @include center

    &__caption
        position: relative
        box-sizing: border-box
        display: flex 
        flex-direction: column
        justify-content: flex-end
        margin: 0
        padding: 30px 30px 75px 30px
        padding-bottom: 30px
        font-family: $font-alt 
        font-size: 13px
        line-height: 17px
        color: $textColor-l

        @media (max-width: $screenL - 1)
            display: flex 
            flex-direction: column 
            justify-content: flex-end
            padding-top: 60px
            padding-left: 70px

        @media (max-width: $screenXS-s - 1)
            padding-left: 45px
            padding-top: 16px
            min-height: 114px   

    .number 
        position: absolute
        top: 26px
        left: 26px
        font-family: $font-alt 
        font-size: 13px
        line-height: 17px
        color: $textColor-l

        @media (max-width: $screenL - 1)
            top: 60px
            left: 45px

        @media (max-width: $screenXS-s - 1)
            top: 16px
            left: 28px

