.gallery-controls
    position: fixed
    left: 20px
    bottom: 20px
    display: flex
    transition: all 0.3s ease
    z-index: 5

    @media (max-width: $screenXS - 1)
        left: 10px
        bottom: 10px

        svg 
            display: block

    ._player & 
        opacity: 0
        transition: opacity 0.3s ease

        @media (max-width: $screenXS-s - 1)
            right: 10px
            left: auto

    &.visible 
        opacity: 1

    .swiper-button-prev svg 
        margin-left: -4px

    .swiper-button-next svg 
        margin-left: 4px

    &.show 
        transform: translateY(-30vh) !important
        z-index: 100

        .gallery-trigger

            &:before,
            &:after 
                content: ""
                position: absolute
                top: 50%
                left: 50%
                width: 26px
                height: 2px
                background-color: #fff
                opacity: 1

            &:before 
                transform: translate(-50%, -50%) rotate(45deg)

            &:after 
                transform: translate(-50%, -50%) rotate(-45deg)

            svg 
                transform: scale(0) rotate(180deg)

                @media (max-width: 899px)
                    transform: translate(-50%, -50%) scale(0) rotate(180deg)

        @media (max-width: $screenXS - 1)
            transform: translateY(0) !important
            z-index: 52

        .swiper-button-prev,
        .swiper-button-next
            opacity: 1
            pointer-events: initial

            @media (max-width: $screenXS - 1)
                opacity: 0
                pointer-events: none

    .swiper-button-prev,
    .swiper-button-next
        @include btn-reset
        @include hover
        position: static
        display: flex 
        justify-content: center 
        align-items: center
        margin: 0
        margin-left: 15px
        width: 42px
        height: 42px
        background-color: $textColor-l
        background-image: none
        border-radius: 50%
        opacity: 0
        pointer-events: none
        box-shadow: 0 4px 9px 2px $lines-d
        transition: box-shadow 0.3s ease

        &:hover 
            box-shadow: 0 4px 2px 1px rgba(47, 47, 47, 0.1)
