.gallery-trigger
    position: relative
    @include btn-reset
    @include hover
    display: flex
    align-items: center
    padding-left: 26px
    padding-right: 20px
    //width: 42px
    height: 42px
    font-family: $font-alt
    color: #fff
    font-size: 14px
    line-height: 42px
    background-color: $textColor-l
    border-radius: 21px
    box-shadow: 0 4px 9px 2px $lines-d
    transition: box-shadow 0.3s ease

    @media (max-width: 899px)
        width: 42px
        padding: 0

    &:before,
    &:after 
        content: ""
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 26px
        height: 2px
        background-color: #fff
        opacity: 0
        transition: transform 0.5s ease, opacity 0.5s ease

    .show &
        padding: 0
        width: 42px

    @media (max-width: $screenXS-s - 1) 
        order: 100

    svg 
        position: relative
        top: -1px
        left: -11px
        transform: scale(1) rotate(0)
        display: block
        transition: transform 0.5s ease

        @media (max-width: 899px)
            @include center

    .text 
        display: block
        width: 84px
        text-align: center

        @media (max-width: 899px)
            font-size: 0
            width: 0

        .show &
            font-size: 0
            width: 0

    &:hover 
        box-shadow: 0 4px 2px 1px rgba(47, 47, 47, 0.1)