.gallery-slider-wrapper
    position: fixed
    bottom: 0
    left: 0
    right: 0
    transform: translateY(100%)
    max-width: 100%
    overflow: hidden
    z-index: 50
    transition: transform 0.3s ease

    &.show 
        transform: translateY(0)
        bottom: 4px

    .gallery-slide 
        position: relative
        flex: none
        height: 30vh
        min-height: 160px
        width: auto !important
        border-right: 1px solid $transparent
        cursor: pointer

        &__image 
            flex: none
            padding-left: 0
            height: 30vh
            min-height: 160px
            width: auto
            border: none

            &:after 
                content: ""
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, $transparent 100%);
                pointer-events: none

            @media (max-width: 1279px)
                padding-right: 0

            img 
                height: 100%
                height: 30vh
                min-height: 160px
                width: auto
                flex: none

                @media (max-width: 1279px)
                    position: static

                @media (max-width: 767px)
                    transform: none

        &__caption 
            position: absolute
            bottom: 20px
            left: 0
            right: 0
            padding: 0 10px
            max-height: 50px
            font-size: 12px
            line-height: 13px
            color: #fff
            overflow: hidden;

            .number 
                position: static
                display: block
                color: #fff

    .swiper-container-horizontal > .swiper-pagination-progressbar
        top: auto 
        bottom: 8px
        left: 8px
        right: 8px
        max-width: calc(100% - 16px)
        background-color: $transparent
        border-radius: 4px

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill
        background-color: rgba(255, 255, 255, 0.4)
        border-radius: 4px

    .swiper-container-horizontal > .swiper-scrollbar
        bottom: 8px

    .swiper-scrollbar-drag
        background-color: rgba(255, 255, 255, 0.4)
        border-radius: 4px
