.history-list
    display: flex 
    flex-direction: column
    border-top: 1px solid $lines-d

    &__link 
        flex: none
        align-self: center
        margin-top: 72px
        margin-bottom: 50px
        min-width: 227px
        font-size: 16px

        @media (max-width: 899px)
            margin-top: 57px
            margin-bottom: 55px
    
.history-item
    display: flex
    box-sizing: border-box
    padding-left: 8.333333%
    padding-right: 8.333333%
    border-bottom: 1px solid $lines-d

    @media (max-width: 899px)
        padding-left: 44px
        padding-right: 44px

    @media (max-width: 768px)
        padding-left: 36px
        padding-right: 32px

    @media (max-width: 639px)
        position: relative
        flex-wrap: wrap
        padding-left: 20px
        padding-right: 16px

    &__date-block
        position: relative
        flex: 0 0 143px
        box-sizing: border-box
        padding-top: 35px
        padding-right: 65px
        min-height: 136px

        @media (max-width: 899px)
            flex: 0 0 119px
            padding-top: 28px
            padding-right: 50px
            min-height: 98px

        @media (max-width: 768px)
            min-height: 97px

        @media (max-width: 639px)
            position: static
            order: 2 
            flex-basis: 50%
            padding-right: 10px
            padding-top: 4px
            width: 50%
            min-height: 48px

    &__icon 
        @include centerV
        right: 40px
        width: 18px
        height: 18px

        @media (max-width: 899px)
            right: 26px

        @media (max-width: 639px)
            transform: none
            top: 23px
            right: 26px

        svg 
            display: block
            width: 100%
            height: 100%

    &__date 
        margin: 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 19px
        color: $textColor-l


        br 

            @media (max-width: 639px)
                display: none

    &__play-block
        @include row-component 
        justify-content: flex-end
        flex: 0 0 150px 
        margin-left: auto

        @media (max-width: 899px)
            flex: 0 0 120px

        @media (max-width: 768px)
            flex: 0 0 85px

        @media (max-width: 639px)
            order: 3 
            flex-basis: 50%
            align-items: flex-start
            margin-top: -6px

    &__info-block 
        padding-top: 36px
        padding-bottom: 10px

        @media (max-width: 899px)
            padding-top: 19px

        @media (max-width: 639px)
            order: 1 
            padding-bottom: 0
            width: 100%

    &__title-text
        border-bottom: 1px solid $transparent 
        transition: border-color 0.3s ease

    &__title 
        margin: 0 0 6px 0
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 20px
        color: $textColor-l
        letter-spacing: 0.15px

        @media (max-width: 899px)
            margin-bottom: 0

        @media (max-width: 639px)
            max-height: 20px
            max-width: 235px
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

        a 
            color: $textColor-l

        &:hover 

            .history-item__title-text
                border-bottom: 1px solid $lines-d

    .label 
        color: $brown

    &__lecture 
        margin: 0 0 2px 0
        font-family: $font-alt 
        font-weight: 700
        font-size: 17px
        line-height: 24px

        @media (max-width: 899px)
            margin-bottom: 0
            line-height: 22px

        @media (max-width: 768px)
            font-size: 15px

    .num 
        color: $brown

    &__author 
        margin: 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 18px
        color: $textColor-l
