.hit-icon
    @include center
    @include hover
    width: 30px
    height: 30px

    @media (max-width: $screenXS - 1)
        width: 20px
        height: 20px

    svg
        display: block
        width: 100%
        height: 100%
        fill: #fff