.language-block 
    position: relative

    @media (max-width: $screenS - 1)
        display: none

    &.opened 

        .language-indicator
            color: #fff
            background-color: $textColor
            border-radius: 50% 50% 0 0

            span 
                opacity: 1

        .language-tooltip
            opacity: 1
            z-index: 1

.language-indicator
    display: flex 
    flex-direction: column 
    justify-content: center
    margin-top: 4px
    padding: 0
    width: 36px
    height: 36px
    text-align: center
    font-family: $font-alt
    font-size: 14px
    line-height: 22px
    background-color: #c4c4c4
    border: none
    border-radius: 50%
    transition: color 0.4s ease, background-color 0.4s ease

    &:focus 
        outline: none

    &:hover 
        color: #fff
        background-color: $textColor

    span 
        width: 36px
        opacity: 0.6

.language-tooltip
    position: absolute
    top: 36px
    left: 0
    box-sizing: border-box
    margin: 0
    padding: 13px 20px 10px 20px
    list-style: none
    width: 216px
    font-family: $font-alt 
    font-size: 14px
    line-height: 24px
    color: #fff
    background-color: $textColor
    border-radius: 0 4px 4px 4px
    box-shadow: 0 2px 13px 0px rgba(0, 0, 0, 0.2)
    opacity: 0
    z-index: -100
    transition: opacity 0.4s ease

    li 
        position: relative
        padding-left: 25px

        &.selected 

            a 
                color: rgba(255, 255, 255, 1)
            
            &:before 
                content: ""
                position: absolute
                top: 6px
                left: 4px
                width: 7px
                height: 12px
                border: 2px solid #fff 
                border-top: none 
                border-left: none
                transform: rotate(45deg)

    a 
        display: block
        padding: 4px 0
        color: rgba(255, 255, 255, 0.65)
        transition: color 0.4s ease

        &:hover 
            color: rgba(255, 255, 255, 1)

