.lectures-wrapper
    background-color: #fff

    @media (max-width: 1023px)
        margin-top: 18px
        width: calc(100vw - 34px) 
        display: flex
        overflow-x: scroll

    @media (max-width: $screenS - 1)
        display: flex
        margin-left: -33px
        padding-left: 33px
        padding-bottom: 20px
        min-width: 100%
        overflow: auto

    @media (max-width: $screenXXS - 1)
        padding-bottom: 17px

    @media (max-width: 639px)
        width: calc(100vw - 20px)

.lectures-counter
    position: relative
    margin: 0
    font-family: $font-alt
    font-size: 14px
    line-height: 17px

    &::before 
        content: ""
        @include centerV
        left: 0
        right: 0
        height: 1px
        background-color: $lines-d

        @media (max-width: 1023px)
            display: none

    // @media (max-width: $screenXXL - 1)
    //     font-size: 23px
    //     line-height: 36px

    @media (max-width: $screenS - 1) 
        margin-bottom: 7px
        font-size: 17px

    @media (max-width: $screenXXS - 1)
        margin-bottom: 10px

    p
        position: relative
        margin: 0
        padding-right: 6px
        display: inline-block
        vertical-align: top
        background-color: #fff
        z-index: 1

    .current 
        display: inline-block
        vertical-align: bottom
        margin: 0
        // font-family: Arial, sans-serif
        // font-size: 49px
        // line-height: 40px
        //padding-left: 7px
        color: $brown
        //@include numeric

        @media (max-width: $screenXXL - 1)
            //padding-right: 5px
            //line-height: 53px

        @media (max-width: $screenL - 1)
            padding-right: 0
            //line-height: 56px

        @media (max-width: 1023px)
            position: relative
            top: -10px
            padding-left: 7px
            font-size: 49px
            @include numeric

        @media (max-width: 899px)
            padding-left: 0

        @media (max-width: 639px)
            top: -12px
            left: -4px
            margin-right: -4px

    .total 
        // font-family: Arial, sans-serif
        // font-size: 15px
        // line-height: 17px
        color: rgba(47, 47, 47, 0.6)
        //@include numeric

        @media (max-width: $screenXXL - 1)
            //font-size: 17px

        @media (max-width: $screenL - 1)
            //font-size: 15px

        @media (max-width: 899px)
            font-size: 13px
        
        @media (max-width: 639px)
            position: relative
            @include numeric
            font-size: 15px

.lecture 
    position: relative
    display: flex
    align-items: flex-end
    padding-top: 27px
    display: none

    &__tooltip,
    &__action-tooltip
        position: absolute
        top: calc(100% + 10px)
        left: 50% 
        transform: translateX(-50%)
        padding: 6px 9px
        min-width: 56px
        text-align: center
        font-family: $font-alt 
        font-size: 13px
        line-height: 16px
        color: #fff
        background-color: $textColor 
        border-radius: 4px
        box-shadow: 0 2px 12px 0 rgba(47, 47, 47,0.2)
        opacity: 0
        z-index: -100 
        transition: opacity 0.3s ease

        &:before 
            content: ""
            position: absolute
            top: -5px
            left: 50%
            transform: translateX(-50%)
            width: 0
            height: 0
            border-style: solid
            border-width: 0 4px 7px 4px
            border-color: rgba(255,255,255,0) rgba(255,255,255,0) #2f2f2f rgba(255,255,255,0)

    &__image-wrapper 
        width: 126px
        height: 126px
        border-radius: 50% 
        overflow: hidden
        background-repeat: no-repeat 
        background-size: cover 
        background-position: center

    &__loader
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 126px
        height: 126px
        // border-color: $brown $brown $brown $transparent
        // border-width: 3px
        // border-style: solid 
        // border-radius: 50%
        // transform: rotate(45deg)

        &:after 
            position: absolute
            display: block
            height: 126px
            width: 126px
            left: 50%
            top: 50%
            box-shadow: inset 0 0 0 3px $transparent
            content: ""
            transform: translate(-50%,-50%)
            border-radius: 100%
            line-height: 160px
            font-size: 2em
            transition: all .2s ease-in-out

    &__action
        position: absolute
        top: 0
        right: 0
        box-sizing: border-box
        width: 36px
        height: 36px
        background-color: #fff 
        border: 1px solid $brown 
        border-radius: 50%
        box-shadow: 0 3px 12px 0 rgba(200, 104, 76, 0.3)
        cursor: pointer

        &:hover 

            .lecture__action-tooltip 
                opacity: 1
                z-index: 2

    &__action-loader
        position: absolute
        top: -1px
        bottom: 0
        left: -1px
        right: 0
        width: 32px
        height: 32px
        border-color: $brown $brown $brown $transparent
        border-width: 2px
        border-style: solid 
        border-radius: 50%
        transform: rotate(45deg)

    &__action-btn
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        max-width: 14px

    &:first-child
        display: flex

    @media (max-width: $screenXXL - 1)
        padding-top: 20px

    @media (max-width: 1023px)
        display: flex
        flex-direction: column
        align-items: flex-start
        box-sizing: border-box
        padding: 20px
        width: 280px
        flex: none
        border: 1px solid $lines-d
        border-right: none

        &:last-child 
            border-right: 1px solid $lines-d

    @media (max-width: $screenS - 1)
        display: flex
        flex-direction: column
        padding-top: 17px
        padding-left: 19px
        padding-right: 20px
        padding-bottom: 20px
        border: 1px solid rgba(47, 47, 47, 0.15)
        border-right: none

        &:last-child 
            border-right: 1px solid rgba(47, 47, 47, 0.15)

    @media (max-width: $screenXS - 1)
        // min-width: 240px 
        // max-width: 240px

    @media (max-width: $screenXXS - 1)
        padding-bottom: 17px
        margin-right: 50px
        border-right: 1px solid $lines-d

    &__play-block
        position: relative
        margin-right: 18px
        width: 126px
        min-width: 126px
        height: 126px
        border-radius: 50%

        svg
            transition: all .2s ease-in-out
            fill-opacity: .8

        img 
            display: block
            width: 100%

        .duration 
            position: absolute
            top: -2px
            left: -6px
            transform: rotate(-45deg)
            font-family: $font-alt 
            font-size: 14px
            line-height: 18px
            color: rgba(47, 47, 47, 0.6)

        @media (max-width: $screenS - 1)
            margin-bottom: 20px

    &__btn
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        //margin-left: 6px
        font-size: 0

        &:hover 

            & + .lecture__tooltip 
                opacity: 1
                z-index: 2

        svg 
            display: block
            width: 40px

    &__descr
        margin: 0
        padding-top: 6px
        padding-bottom: 14px
        max-width: 440px
        font-size: 17px
        line-height: 23px

        @media (max-width: $screenM - 1)
            position: relative
            padding-bottom: 0
            min-width: 100%  
            font-size: 15px
            line-height: 22px
            z-index: 1

        @media (max-width: $screenS - 1)
            margin-top: auto
            min-width: 1px
            max-width: 100%
            font-size: 15px
            line-height: 19px

        h3 
            display: inline
            margin: 0 0 0 0
            font-family: $font-alt 
            font-weight: 700
            font-size: 17px
            line-height: 24px

            @media (max-width: $screenS - 1)
                display: inline
                font-size: 15px
                line-height: 19px

        p 
            display: inline
            margin: 0

            @media (max-width: $screenS - 1)
                display: inline

    .number 
        color: $brown

    &:hover

        .lecture__play-block
            svg
                fill-opacity: 1

        .lecture__image-wrapper

            &:after 
                content: ""
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background-color: rgba(200, 104, 76, 0.3)
                border-radius: 50%

.loader-field 
    position: absolute
    opacity: 0
    z-index: -100

.svg-loader
    width: 126px
    height: 126px

.svg-loader circle 
    stroke-dashoffset: 0
    transition: stroke-dashoffset 1s linear
    stroke: #666
    stroke-width: 3px
    r: 61
    cx: 50%
    cy: 50%

.svg-loader .bar 
    stroke: $brown
