.lecture-frame 
    margin-top: auto
    padding: 0 18px 10px 18px
    color: #fff
    transition: opacity 0.5s ease

    @media (max-width: 900px)
        position: relative

    @media (max-width: $screenXS-s - 1)
        padding-bottom: 79px

    &__fav 
        @include btn-reset
        @include hover
        position: absolute
        top: 98px
        right: 32px
        width: 14px
        height: 23px

        @media (max-width: $screenXL - 1)
            top: 78px

        @media (max-width: $screenS - 1)
            top: 60px
            right: 5px
            width: 42px
            height: 42px
            background-color: $textColor-l
            border-radius: 50%

            svg 
                @include center

        svg 
            display: block
            width: 14px
            height: 23px
            fill: #fff

    &__chapter 
        margin: 22px 0 0 0
        font-family: $font-alt 
        font-size: 23px
        line-height: 27px
        color: rgba(255, 255, 255, 0.8)

        @media (max-width: 600px)
            margin-top: -11px
            margin-bottom: 50px
            font-size: 15px
            line-height: 19px
            pointer-events: initial

    &__plus 
        //position: relative
        position: absolute
        left: 133px
        top: 36px
        @include btn-reset
        @include row-component
        justify-content: flex-start
        box-sizing: border-box
        padding: 10px
        min-width: 135px
        font-family: $font-alt 
        font-size: 13px
        line-height: 14px
        color: rgba(255, 255, 255, 0.6)
        background-color: rgba(47, 47, 47, 0.7)
        border-radius: 25px

        &-icon 
            margin-right: 10px

        svg 
            display: block

        @media (max-width: 1023px) 
            left: 63px
            top: 15px

    &__duration 
        position: absolute
        top: 2px
        left: 0
        font-family: $font-alt 
        font-size: 14px
        line-height: 20px
        color: rgba(255, 255, 255, 0.6)

        @media (max-width: 1023px) 
            top: 10px
            left: 3px

    &__header
        position: relative
        padding-left: 30px

        @media (max-width: $screenM - 1)
            position: static
            padding-left: 0
            width: 54%

        @media (max-width: $screenS - 1)
            width: 50%
            min-width: 280px
            max-width: 460px

        @media (max-width: $screenXS - 1)
            width: 100%

    &__play-link 
        position: relative
        display: block
        color: #fff

        .title-text
            border-bottom: 1px solid $transparent
            transition: border-color 0.3s ease

        &:hover 

            .title-text
                border-bottom: 1px solid rgba(255, 255, 255, 0.6)

    &__play-btn 
        position: absolute
        top: 31px
        left: 0

        @media (max-width: $screenM - 1)
            left: 2px

        @media (max-width: 1023px) 
            top: 34px
            margin: 0 auto

        @media (max-width: $screenXS-s - 1)

            svg 
                height: 50px

    &__play-block 

        @media (max-width: $screenS - 1)
            display: flex 
            justify-content: center 
            align-items: center
            width: 373px

            &:hover 

                .lecture-frame__play-control 
                    opacity: 1
                    pointer-events: initial

        @media (max-width: $screenXS-s - 1)
            width: 248px
            margin-left: auto
            margin-right: auto

    &__play-control 
        @include btn-reset
        @include hover
        display: none
        align-items: center
        font-family: $font-alt
        font-size: 12px
        line-height: 21px
        opacity: 0
        pointer-events: none 
        transition: opacity 0.3s ease

        .label 
            margin: 0 3px

        @media (max-width: $screenS - 1)
            display: flex 

    &__title 
        //position: relative
        margin: 0 0 22px 0
        padding-top: 87px
        max-width: 800px
        font-weight: 400
        font-size: 40px
        line-height: 37px

        @media (max-width: $screenXL - 1)
            margin-bottom: 18px
            line-height: 48px
            max-width: 65%

        @media (max-width: $screenM - 1)
            position: relative
            margin-bottom: 4px
            padding-top: 51px
            max-width: 100%
            font-size: 23px
            line-height: 30px

        @media (max-width: $screenXS-s - 1)
            line-height: 24px

        .number 
            padding-left: 88px
            font-family: $font-alt 
            font-size: 30px
            line-height: 46px
            color: rgba(255, 255, 255, 0.6)
            font-variant-numeric: oldstyle-nums
            font-feature-settings: 'onum' on

            @media (max-width: $screenM - 1)
                padding-left: 48px
                font-size: 23px
                line-height: 30px

    &__text-block

        @media (max-width: $screenXL - 1)
            margin-bottom: 24px
            max-width: 65%

        @media (max-width: $screenM - 1)
            margin-bottom: 20px
            max-width: 100%

        @media (max-width: $screenXS-s - 1)
            margin-bottom: 18px

        @media (max-width: $screenXS-s - 1)
            line-height: 19px

    &__descr
        margin: 0
        max-width: 800px
        font-family: $font-alt
        font-size: 23px
        line-height: 30px
        color: rgba(255, 255, 255, 0.8) 

        @media (max-width: $screenXL - 1)
            display: inline

        @media (max-width: $screenM - 1)
            font-size: 15px
            line-height: 20px

        @media (max-width: $screenS - 1)
            display: block

        @media (max-width: $screenXS-s - 1)
            display: inline
            line-height: 19px

    &__author
        margin: 0 0 23px 0
        font-size: 23px
        line-height: 30px
        font-style: italic
        color: rgba(255, 255, 255, 0.6)
        white-space: nowrap

        @media (max-width: $screenXL - 1)
            display: inline

        @media (max-width: $screenM - 1)
            font-size: 15px
            line-height: 20px

        @media (max-width: $screenS - 1)
            display: block

        @media (max-width: $screenXS-s - 1)
            display: inline 
            margin-bottom: 18px
            line-height: 19px
