.lectures-menu-nav 
    position: relative
    border-left: none

    @media (max-width: $screenL - 1)
        //width: 40px

        &:after 
            content: ""
            @include centerV
            left: 0
            height: 32px
            border-left: 1px solid $lines-d

    &__trigger 
        position: absolute
        display: none
        @include hover

        @media (max-width: $screenL - 1)
            position: relative
            display: block
            @include btn-reset
            width: 40px
            max-width: 40px
            min-width: 40px
            height: 53px
            font-size: 0

            &:after 
                content: ""
                position: absolute
                @include centerH 
                top: 18px
                width: 4px
                height: 4px
                background-color: $textColor 
                border-radius: 50%
                box-shadow: 0 7px 0 0 $textColor, 0 14px 0 0 $textColor

    &__list 

        @media (max-width: $screenL - 1)
            position: absolute
            top: 100%
            right: 0
            padding: 0
            box-shadow: 0px 1px 5px 0px rgba(50,50,50,0.2)
            max-height: 0
            overflow: hidden 
            transition: max-height 0.3s ease

            &.show 
                max-height: 100000px

        @media (max-width: $screenXS - 1)
            top: 54px

.menu-nav-list
    position: relative
    @include row-component
    box-sizing: border-box
    margin: 0
    padding: 0
    list-style: none

    @media (max-width: $screenL - 1)
        flex-direction: column 
        align-items: flex-start
        box-sizing: border-box
        padding: 6px 21px 30px 21px
        height: 100%
        width: 320px
        background-color: #fff

        .menu-nav-list__item:first-child,
        .menu-nav-list__item:nth-child(2)
            display: none

        .menu-nav-list__item:last-child a 
            border-top: none

    @media (max-width: 1165px)

        .menu-nav-list__item:last-child a
            border-top: 1px solid $lines-d

        .menu-nav-list__item:nth-child(2)
            display: inline-block
            vertical-align: top

            a 
                border-top: none

    @media (max-width: 900px)

        .menu-nav-list__item:first-child
            display: inline-block
            vertical-align: top

        .menu-nav-list__item:nth-child(2) a 
            border-top: 1px solid $lines-d

    @media (max-width: $screenXS-s - 1)
        width: 100vw
        background-color: $textColor

    &._shadow 
        position: absolute
        opacity: 0
        pointer-events: none 
        max-width: 0
        overflow: hidden

        @media (max-width: 1279px)
            position: static
            opacity: 1
            pointer-events: initial
            max-width: none 
            overflow: visible
            padding: 0
            flex-direction: row
            height: auto
            width: auto
            margin-left: auto
            margin-bottom: auto
            margin-top: auto

            .menu-nav-list__item

                &:last-child
                    position: absolute
                    opacity: 0
                    pointer-events: none 
                    padding: 0
                    max-width: 0
                    max-height: 0
                    overflow: hidden

            .menu-nav-list__item:first-child,
            .menu-nav-list__item:nth-child(2)
                display: inline-block
                vertical-align: top

        @media (max-width: 1165px)

            .menu-nav-list__item:nth-child(2)
                display: none

        @media (max-width: 900px)
            display: none

        .menu-nav-list__item
            width: auto
            padding: 5px 20px
            border-right: 1px solid rgba(47, 47, 47, 0.2)

        .menu-nav-list__item-head
            border-top: none

    &__item 
        padding: 5px 20px
        text-align: center
        font-family: $font-alt 
        font-size: 14px
        line-height: 22px
        color: $textColor
        border-left: 1px solid rgba(47, 47, 47, 0.2)
        cursor: pointer

        a 
            display: block
            color: $textColor

            @media (max-width: 599px)
                color: rgba(255, 255, 255, 0.6)

        @media (max-width: $screenL - 1) 
            width: 100%
            text-align: left
            padding: 0
            border-left: none

            &:first-child 

                .menu-nav-list__item-head 
                    border-top: none

        @media (max-width: $screenXS-s - 1)
            color: rgba(255, 255, 255, 0.6)

        &:first-child 

            @media (max-width: $screenXS-s - 1)
                border-bottom: 1px solid rgba(255, 255, 255, 0.2)

                &.expanded 
                    border-bottom: none

        &:nth-child(2)

            @media (max-width: $screenXS-s - 1)
                transform: translateY(-40px)
                margin-top: auto

        &:nth-child(3)

            @media (max-width: $screenXS-s - 1)
                transform: translateY(-40px)

        &.expanded 

            .menu-nav-sublist
                max-height: 100vh

    &__item-head 
        @include hover

        @media (max-width: $screenL - 1) 
            padding: 7px 20px 
            padding-left: 0
            border-top: 1px solid $lines-d

        @media (max-width: $screenXS-s - 1)
            border-top: 1px solid rgba(255, 255, 255, 0.2)

            .expanded & 
                border-bottom: 1px solid rgba(255, 255, 255, 0.2)

.menu-nav-sublist 
    position: absolute
    top: 100%
    right: -20px
    left: 0
    box-sizing: border-box
    padding: 0 35px
    max-height: 0
    height: auto
    text-align: left
    background-color: #fff
    overflow: hidden 
    list-style: none
    counter-reset: li
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2)

    @media (max-width: $screenXS-s - 1)
        background-color: $textColor

    @media (max-width: $screenL - 1)
        position: static
        padding: 0 14px
        box-shadow: none

        .expanded &
            border-top: 1px solid $lines-d

    &__link 
        color: rgba(47, 47, 47, 0.6)

        @media (max-width: $screenXS-s - 1)
            color: #fff

    &__item 
        position: relative
        margin-bottom: 16px
        padding-left: 17px
        max-width: 250px
        font-family: $font-alt 
        font-size: 14px
        line-height: 20px

        @media (max-width: $screenL - 1)
            padding-left: 15px

        &.current 

            .menu-nav-sublist__link
                color: $textColor

                @media (max-width: $screenXS-s - 1)
                    color: #fff

        &:hover 

            .menu-nav-sublist__link
                color: $brown

        &:before 
            content: counter(li)'.'
            counter-increment: li 
            position: absolute
            top: 0
            left: 0
            font-family: $font-alt 
            font-size: 14px
            line-height: 20px
            color: rgba(47, 47, 47, 0.6)

            @media (max-width: $screenXS-s - 1)
                color: rgba(255, 255, 255, 0.6)

        &:first-child 
            padding-top: 25px

            @media (max-width: $screenL - 1)
                padding-top: 24px

            @media (max-width: $screenXS-s - 1)
                padding-top: 20px

            &:before 
                top: 25px

                @media (max-width: $screenL - 1)
                    top: 24px

                @media (max-width: $screenXS-s - 1)
                    top: 20px

        &:last-child 
            margin-bottom: 0
            padding-bottom: 25px

            @media (max-width: $screenL - 1)
                padding-bottom: 8px
