.lectures-menu-row 
    height: 53px
    position: fixed
    left: 0
    right: 0
    background-color: #fff

    @media (max-width: $screenS - 1)
        border-bottom: 1px solid $lines-d

        ._dark & 
            border-bottom: 1px solid rgba(255,255,255,0.2)

.lectures-menu 
    position: relative
    @include row-component
    //padding-left: 16px
    padding-left: 0
    padding-right: 20px
    transition: background-color 0.3s ease, opacity 0.3s ease

    @media (max-width: $screenL - 1)
        padding-right: 0

    &:after 
        content: ""
        position: absolute
        bottom: 0
        left: 93px
        right: 0
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)

        @media (max-width: $screenXS - 1)
            left: 0

    &._dark
        color: #fff

        &.opened 
            background-color: $textColor

    &.hide 
        opacity: 0
        pointer-events: none

    &.opened 

        .lectures-list-wrapper 
            opacity: 1
            z-index: 1  
            visibility: visible

            @media (max-width: $screenM - 1)
                z-index: 2

    &__section 
        display: flex
        box-sizing: border-box
        width: 50%
        border-left: 1px solid rgba(47, 47, 47, 0.2)

        ._dark & 
            border-left: 1px solid rgba(255, 255, 255, 0.2)

        &:first-child 
            border-left: none
            box-sizing: border-box
            padding-left: 16px
            width: 50%
            min-width: 50%

            @media (max-width: $screenXS - 1)
                padding-left: 8px

    &__link-back 
        display: flex
        align-items: center
        margin-left: 2px
        padding: 16px 0
        font-family: $font-alt
        font-size: 14px
        line-height: 21px
        color: $textColor
        transition: opacity 0.3s ease
        letter-spacing: 0.15px

        @media (max-width: $screenM - 1)
            max-width: calc(100% - 75px)

        @media (max-width: $screenXS - 1)
            flex-grow: 1
            margin-left: 22px

        ._dark &
            color: #fff

        .icon 
            width: 18px
            height: 18px

            svg 
                display: block
                width: 100%
                height: 100%
                fill: $textColor 

                ._dark & 
                    fill: #fff

        span 

            @media (max-width: $screenXS - 1)
                font-size: 0

            @media (max-width: $screenM - 1)
                max-width: calc(100% - 30px)
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap

        .label 
            margin-left: 9px
            color: $brown

        &:hover 
            opacity: 0.8

    .play-block

        @media (max-width: $screenXS-s - 1)
            display: none

body[data-page="fullpage"] .lectures-menu 
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 10

.logo-min 
    display: block
    margin-top: 14px
    margin-bottom: 0
    width: 75px
    min-width: 75px
    height: 40px

    @media (max-width: $screenXS - 1)
        margin-top: 9px
        width: 57px
        min-width: 57px
        height: 30px

    svg
        display: block
        width: 100%
        height: 100%

        ._dark & 
            fill: #fff

    &._transparent 
        fill: #fff
        opacity: 0.2

.play-block-mobile
    display: none
    margin-left: auto
    width: 36px

    &__play-block 
        display: flex
        align-items: center

    &__duration 
        margin-left: 2px
        min-width: 42px
        text-align: right
        font-family: $font-alt
        font-size: 14px
        line-height: 20px
        color: $textColor-l

        ._dark & 
            color: rgba(255, 255, 255, 0.6)

        .active & 
            color: $textColor-l

    @media (max-width: $screenXS-s - 1)
        display: block
        width: auto

.player 

    @media (max-width: $screenXS-s - 1) 

        .lectures-list-trigger .label 
                display: none

        .lectures-menu__section
            width: 100px
            min-width: 100px

        .lectures-menu__link-back
            margin-left: 2px

        .lectures-list-block
            width: 68px
            min-width: 68px
            flex-grow: 0

        .lectures-list-trigger
            padding: 16px 4px