.lecture-player
    position: relative
    display: flex 
    flex-direction: column
    justify-content: flex-end
    box-sizing: border-box
    padding-top: 53px
    padding-bottom: 0
    min-height: 100vh
    background-repeat: no-repeat 
    background-size: cover 
    background-position: center top

    &._169
        @media (min-width: 900px)
            min-height: 0
            padding-top: calc(56.25% - 8px)

    @media (min-width: 900px) and (max-width: 900px)
        min-height: 100vh

    @media (max-width: $screenS - 1)
        justify-content: flex-start
        margin-top: 0
        min-height: 100px
        background-color: $textColor
        background-size: 100% auto
        background-image: none !important

    @media (max-width: $screenXS-s - 1)
        padding-left: 0
        padding-right: 0

    &.player-wrapper 
        background-color: $transparent

        @media (max-width: $screenXS - 1)
            padding-bottom: 0

    &__subscribe
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: flex 
        flex-direction: column 
        justify-content: center 
        align-items: center
        background-color: $lines-d

        &-descr 
            margin: 0 0 15px
            font-family: $font-alt
            font-size: 20px
            line-height: 24px

            @media (max-width: $screenS - 1)
                font-size: 15px
                line-height: 17px

        &-label 
            margin: 0 0 14px 
            font-family: $font-alt 
            font-size: 16px
            line-height: 20px

            @media (max-width: $screenS - 1)
                font-size: 12px
                line-height: 15px

        &-wrapper 
            max-width: 320px
            text-align: center

            @media (max-width: $screenS - 1)
                max-width: 260px

        .subscribe-form__field
            background-color: #fff

    &__subtitles 
        display: none
        @include centerH
        bottom: 62px
        margin: 0 auto
        max-width: 290px
        font-family: $font-alt 
        text-align: center
        font-size: 12px
        line-height: 14px
        pointer-events: none
        transition: opacity 0.3s ease

        span 
            background-color: $textColor

        @media (max-width: $screenS - 1)
            display: block
            opacity: 0

            .playing & 
                opacity: 1

        @media (max-width: $screenXS-s - 1) and (orientation: portrait)
            position: static
            transform: none 
            box-sizing: border-box
            padding: 14px
            max-width: 100%
            opacity: 1
            background-color: $textColor
            transition: none

            span
                opacity: 0
                transition: opacity 0.3s ease

            .playing & 

                span 
                    opacity: 1


    &__img 
        position: absolute
        top: 53px
        left: 22px
        right: 0
        bottom: 75px
        display: flex 
        flex-direction: column 
        justify-content: flex-end

        ._pause &,
        ._subscribe & 
            left: 0
            bottom: 0

        @media (max-width: $screenS - 1)
            position: relative
            left: auto 
            right: auto 
            top: auto
            bottom: auto
            margin-bottom: 55px
            margin-left: -18px
            width: calc(100% + 36px)

            @media (orientation: landscape)
                max-height: 100vh
                overflow: hidden

        @media (max-width: $screenXS - 1)
            margin-bottom: 0
            max-height: 100vh
            overflow: hidden

        img 
            position: absolute
            top: 0
            left: 0
            display: block
            width: 100%
            height: auto
            opacity: 0

            @media (max-width: $screenS - 1)
                position: static
                opacity: 1

    .player-block
        display: flex 
        flex-direction: column
        padding: 0
        padding-top: 30px
        padding-bottom: 8px
        min-height: 40px

        @media (max-width: $screenXL - 1)
            padding-top: 8px

        @media (max-width: $screenS - 1)
            background-image: none

            &:before 
                content: ""
                position: absolute
                bottom: 0
                left: -18px
                right: -18px
                height: 100%
                background-image: linear-gradient(to top, #1C1B17 0%, rgba(28, 27, 23, 0) 100%)

        @media (max-width: $screenXS - 1)
            position: absolute
            left: 0
            right: 0
            padding-left: 18px
            padding-right: 18px
            bottom: 0

            &:before 
                bottom: 0

        @media (max-width: 600px)
            top: auto
            bottom: 0

            &:before 
                bottom: 0

        @media (max-width: $screenXS-s - 1) and (orientation: portrait)
            position: relative
            background-color: $textColor

        &__progress 
            margin-bottom: 0
            margin-top: auto

            @media (max-width: $screenXS - 1)
                position: relative
                left: 0
                right: 0
                bottom: 15px

        &__info 
            margin-left: auto
            margin-right: 0
            font-size: 15px
            line-height: 18px


            @media (max-width: $screenXS - 1)
                position: static

        &__row 
            order: 2
            min-height: 40px

            @media (max-width: $screenXL - 1)
                order: -1

            @media (max-width: $screenS - 1)
                transform: translateY(-7px)

            @media (max-width: $screenXS - 1)
                transform: translateY(-14px)

        &__stats 
            margin-left: 0

            @media (max-width: $screenS - 1)
                margin-right: -10px

            @media (max-width: $screenXS - 1)
                margin-top: -5px

            @media (max-width: 600px)
                margin-bottom: 10px


        &__controls 
            margin-left: auto
            margin-right: 0

            @media (max-width: $screenXL - 1)
                margin-right: auto
                margin-left: 0

            @media (max-width: $screenXS - 1)
                position: static
                transform: translateY(-5px)
                opacity: 1

        &__stats,
        &__controls,
        &__desktop-controls 
            max-height: 0
            opacity: 0
            overflow: hidden 
            transition: max-height 0.3s ease, opacity 0.3s ease

            @media (max-width: $screenS - 1)
                max-height: 40px
                opacity: 1

            .playing & 
                opacity: 1
                max-height: 40px

            ._pause & 
                opacity: 1
                max-height: 40px

        .played-time,
        .total-time 

            @media (max-width: $screenXS - 1)
                position: static

        .divider 

            @media (max-width: $screenXS - 1)
                display: inline

        .sound-button 

            @media (max-width: 600px)
                margin-left: 0
                width: 40px
                height: 30px

                svg 
                    width: 18px
                    height: 18px

        .content-button,
        .speed-button 

            @media (max-width: 600px)
                position: static

    .lecture-frame

        &__header 

            @media (max-width: $screenXL - 1)
                padding-left: 32px
                width: 67%

            @media (max-width: $screenS - 1)
                @include center
                padding-left: 0
                width: auto

        &__play-link
            max-width: 720px

            .title-text
                color: #fff

                @media (max-width: $screenS - 1)
                    display: none

        &__play-btn 

            svg 
                display: none
                transition: opacity 0.3s ease

            @media (max-width: $screenXL - 1)
                top: -5px

            @media (max-width: $screenS - 1)
                position: relative
                left: auto
                top: auto
                width: 97px
                height: 86px

                &:after 
                    display: none

                svg 
                    @include center
                    display: block

                .pause 
                    opacity: 0

                &.paused 

                    .pause 
                        opacity: 1

                    .play
                        opacity: 0

        &__duration 

            @media (max-width: $screenXL - 1)
                display: none

        &__author 
            font-family: $font

            @media (max-width: $screenXL - 1)
                font-size: 23px
                line-height: 30px

        &__descr 
            line-height: 27px

            @media (max-width: $screenXL - 1)
                font-size: 23px
                line-height: 27px

        &__title 
            margin-bottom: 34px
            line-height: 41px

            @media (max-width: $screenXL - 1)
                margin-bottom: 33px
                font-size: 40px
                line-height: 42px

                .number 
                    padding-left: 88px
                    font-size: 30px
                    line-height: 46px

            @media (max-width: $screenS - 1)
                margin: 0
                padding: 0

        &__text-block 

            @media (max-width: $screenS - 1)
                display: none

    .speed-tooltip
        right: 0

        @media (max-width: $screenXS - 1)
            bottom: 40px

        @media (max-width: 600px)
            pointer-events: none
            height: auto 
            transform: none

            &.opened 
                pointer-events: initial

        &:before 
            right: 11px

            @media (max-width: $screenS - 1)
                right: 4px

    .contents-tooltip
        right: 0

        @media (max-width: $screenXS - 1)
            bottom: 40px

        @media (max-width: 600px)
            pointer-events: none
            height: auto 
            transform: none
            max-width: 300px

            &.opened 
                pointer-events: initial

        &:before 
            right: 50px

            @media (max-width: $screenS - 1)
                right: 40px

        &__body 

            @media (max-width: 600px)
                height: 200px

    .play-btn-big:after
        border-width: 45px 0 45px 102px

    .social-block 
        margin-top: 30px

        @media (max-width: $screenS - 1)
            display: none

    .social-btn

        &._active 

            .social-btn__actions
                min-width: 23px

    .play-block--big 

        @media (max-width: $screenXXS - 1)
            margin-bottom: 0

    .player-frame

        &__play-screen
            top: 0
            bottom: 0

        &__cancel 
            font-family: $font-alt

            @media (max-width: $screenS - 1)
                margin-top: 20px
                font-size: 17px
                line-height: 18px

            @media (max-width: $screenXXS - 1) and (orientation: portrait)
                margin-top: 10px


        &__next 
            font-family: $font-alt 

            @media (max-width: $screenS - 1)
                margin-top: 15px
                max-width: 250px
                font-size: 12px
                line-height: 18px

                .label 
                    font-style: normal

            @media (max-width: $screenXXS - 1) and (orientation: portrait)
                margin-top: 10px
