.lectures-list-block 
    flex-grow: 1

    @media (max-width: 1279px)
        width: auto
        min-width: 200px
        flex-grow: 0
        flex-shrink: 1

    @media (max-width: 900px)
        width: calc(50% - 40px)
        flex-grow: 1
        flex-shrink: 0
        min-width: 100px

.lectures-list-wrapper 
    position: absolute
    top: 100%
    left: 0
    right: 0
    bottom: 0
    box-sizing: border-box
    padding-bottom: 60px
    width: 100%
    min-height: calc(100vh - 149px)
    background-color: rgba(255, 255, 255, 0.95)
    color: $textColor 
    opacity: 0
    z-index: -1000000
    visibility: hidden
    transition: opacity 0.3s ease-in
    overflow-y: scroll

    ._dark & 
        min-height: calc(100vh - 54px)
        color: #fff
        background-color: rgba(47, 47, 47, 0.98)

    &._dark 
        background-color: $textColor

        .lectures-list__item-header 
            color: #fff

        .lectures-list__item:before
            color: #fff

        .lectures-sublist
            color: #fff

.lectures-list-trigger 
    position: relative
    display: block
    box-sizing: border-box
    padding: 16px 0 16px 16px
    width: 100%
    text-align: left
    font-family: $font-alt
    font-size: 14px
    line-height: 21px
    color: $textColor
    letter-spacing: 0.15px
    transition: opacity 0.3s ease
    background-color: $transparent
    border: none

    @media (max-width: $screenXS - 1)
        padding: 16px
        text-align: center

    ._dark &
        color: #fff

    .num 
        margin-left: 5px
        font-size: 18px
        color: rgba(47, 47, 47, 0.6)
        font-variant-numeric: oldstyle-nums
        font-feature-settings: 'onum' on

        @media (max-width: $screenXS - 1)
            font-size: 14px

        ._dark &
            color: rgba(255, 255, 255, 0.6)

    .current 
        font-size: 17px
        color: $textColor

        @media (max-width: $screenXS - 1)
            font-size: 15px

        ._dark &
            color: #fff

    &:after 
        content: ""
        position: absolute
        top: 50%
        transform: translateY(-50%) rotate(45deg)
        right: 25px
        margin-top: -4px
        width: 11px
        height: 11px
        border: 2px solid rgba(47,47,47,0.2)
        border-left: none
        border-top: none
        transition: transform 0.3s ease

        @media (max-width: $screenXS - 1)
            display: none

        ._dark & 
            border: 2px solid rgba(255, 255, 255, 0.8)
            border-left: none
            border-top: none

        .opened & 
            margin-top: 1px
            transform: translateY(-50%) rotate(-135deg)

    &:hover 
        opacity: 0.7

    &:focus 
        outline: none

.lectures-list 
    margin: 0 auto
    padding: 0
    width: 66.666666%
    max-width: 900px
    list-style: none 
    counter-reset: li

    @media (max-width: $screenM - 1)
        box-sizing: border-box 
        padding-left: 16px
        padding-right: 17px
        width: 100%

    &__item
        position: relative
        padding-left: 46px

        @media (max-width: $screenXS-s - 1)
            padding-left: 4px

        &:hover 

            .lectures-list__item-title span 
                border-bottom: 1px solid $lines

        &.active:hover

            .lectures-list__item-title span 
                border-bottom: 1px solid $lines-d

        &:before 
            content: counter(li)'.'
            counter-increment: li
            position: absolute
            left: 13px
            top: 14px
            font-family: $font-alt
            font-size: 23px
            line-height: 41px

            @media (max-width: $screenXS-s - 1)
                font-size: 19px
                line-height: 22px
                top: 25px

        &:after 
            content: ""
            position: absolute
            bottom: -1px
            right: 0
            left: 45px
            border-bottom: 1px solid rgba(47, 47, 47, 0.2)

            ._dark &
                border-bottom: 1px solid rgba(255, 255, 255, 0.2)

        &.active 

            .lectures-list__item-header
                position: relative

                &>* 
                    position: relative
                    z-index: 1

                &:before 
                    content: ""
                    position: absolute
                    top: 0
                    bottom: 0
                    right: -17px
                    left: -80px
                    background-color: #d5d5d5
                    border-bottom: none

                    ._dark & 
                        background-color: #fff

                    @media (max-width: $screenM - 1)
                        right: -16px

            .lectures-list__item-title
                color: $textColor

            .lectures-list__item-author
                color: rgba(47, 47, 47, 0.6)

            .play-block__duration
                color: rgba(47, 47, 47, 0.6)

            &:before
                color: $textColor
                z-index: 1

        &--old 

            .lectures-list__item-title 
                font-size: 17px
                line-height: 23px
                color: rgba(47, 47, 47, 0.6)

                ._dark &
                    color: rgba(255, 255, 255, 0.6)

            &:after
                top: 18px 
                font-size: 17px
                line-height: 23px
                color: rgba(47, 47, 47, 0.6)

                ._dark &
                    color: rgba(255, 255, 255, 0.6)

    &__item-date
        margin: 0
        font-family: $font-alt
        font-size: 14px
        line-height: 23px
        color: rgba(47, 47, 47, 0.6)

        ._dark &
            color: rgba(255, 255, 255, 0.6)

    &__item-header 
        display: flex
        padding-top: 16px
        padding-bottom: 24px
        color: $textColor

        ._dark & 
            color: #fff

        @media (max-width: $screenM - 1)
            //overflow: hidden

        @media (max-width: $screenXS-s - 1)
            padding-top: 22px
            padding-bottom: 15px


    &__item-info 
        margin-right: auto
        padding-top: 3px

    &__item-title 
        margin: 0
        padding-right: 5px
        max-width: 300px
        font-weight: 400
        font-size: 23px
        line-height: 30px

        @media (max-width: $screenXS-s - 1)
            margin-bottom: 5px
            font-size: 19px
            line-height: 22px

            &:first-letter 
                padding-left: 30px

        span 
            border-bottom: 1px solid $transparent
            transition: border-color 0.3s ease

    &__item-author 
        margin: 0
        font-family: $font-alt
        font-size: 14px
        line-height: 27px
        color: rgba(47, 47, 47, 0.6)

        ._dark & 
            color: rgba(255, 255, 255, 0.6)

        @media (max-width: $screenXS-s - 1)
            font-size: 13px
            line-height: 16px

.lectures-sublist
    margin: 0 0 0 56px 
    padding: 0 6px 0 0
    list-style: none 
    counter-reset: li

    @media (max-width: $screenXS-s - 1)
        margin: 0
        padding: 0

    &__item 
        position: relative
        display: flex
        padding-left: 40px
        padding-top: 10px
        padding-bottom: 14px
        border-top: 1px solid rgba(47, 47, 47, 0.2)

        @media (max-width: $screenXS-s - 1)
            padding-left: 28px

        &:hover
            .lectures-sublist__title
                border-bottom: 1px solid rgba(255, 255, 255, 0.2)

        ._dark &
            border-top: 1px solid rgba(255, 255, 255, 0.2)

        .sublist-num
            position: absolute
            top: 8px
            left: 0
            font-family: $font-alt 
            font-size: 14px
            line-height: 23px
            letter-spacing: 1.5px

            @media (max-width: $screenXS-s - 1)
                top: 5px

        &.active 
            background-color: #d5d5d5

            ._dark & 
                background-color: #fff

                &:before,
                &:after 
                    background-color: #fff

            &:hover 

                .lectures-sublist__title
                    border-bottom: 1px solid $lines-d

            &:before,
            &:after 
                content: ""
                position: absolute
                top: -1px
                bottom: 0
                background-color: #d5d5d5

            &:before
                left: -20px
                width: 21px

            &:after 
                right: -23px
                width: 24px

            .lectures-sublist__title
                color: $textColor

            .sublist-num
                color: $textColor-l

            .lectures-sublist__item-author
                color: $textColor-l

            .lectures-sublist__item-duration
                color: $textColor-l

            .lectures-sublist__item
                border-top: 1px solid $lines-d

    &__title 
        display: inline-block
        vertical-align: top
        margin: 0
        font-weight: 400
        font-family: $font-alt 
        font-size: 17px
        line-height: 23px
        color: $textColor
        border-bottom: 1px solid rgba(255, 255, 255, 0)
        transition: border-color 0.3s ease
        cursor: pointer
        margin-bottom: 10px

        ._dark & 
            color: #fff

        @media (max-width: $screenM - 1)
            margin-bottom: 0
            border-bottom: none !important

        @media (max-width: $screenXS-s - 1)
            font-size: 14px
            line-height: 16px

    &__item-info 
        display: flex 
        align-items: center
        margin-left: auto

    &__play-block 
        display: flex
        align-items: center

    &__item-author,
    &__item-duration 
        margin: 0
        padding-bottom: 8px
        font-family: $font-alt 
        font-size: 14px
        line-height: 20px
        color: rgba(47, 47, 47, 0.6)

        @media (max-width: $screenXS-s - 1)
            font-size: 13px
            line-height: 16px

        ._dark & 
            color: rgba(255, 255, 255, 0.6)

    &__item-duration
        margin-left: 2px
        min-width: 42px
        padding-bottom: 5px
        text-align: right

    .play-btn-small 
        margin-left: 28px

