.lecture-info

    @media (max-width: $screenS - 1)
        padding-top: 30px
        padding-bottom: 30px
        border-bottom: 1px solid $lines-d

    @media (max-width: $screenXS - 1)
        padding-top: 24px
        padding-bottom: 36px

    @media (max-width: $screenXS-s - 1)
        padding-bottom: 30px

    ._mobile
        display: none

        @media (max-width: $screenS - 1)
            display: block

    &__wrapper 

        @media (max-width: $screenS - 1)
            padding: 0 50px

        @media (max-width: $screenXS - 1)
            padding: 0 35px

        @media (max-width: $screenXS-s - 1)
            padding: 0 15px

    &__block 

        @media (max-width: $screenS - 1)
            padding-bottom: 24px

        @media (max-width: $screenXS - 1)
            padding-bottom: 26px

    &__title 
        margin: 0 0 20px
        font-family: $font-alt 
        font-weight: 400
        font-size: 20px
        line-height: 24px

        @media (max-width: $screenXS - 1)
            margin-bottom: 22px

        .number 
            @include numeric 
            color: $brown

    &__descr 
        margin: 0
        font-size: 15px
        line-height: 18px

        @media (max-width: $screenXS-s - 1)
            line-height: 19px

    &__author 
        display: block
        font-family: $font-alt 
        font-size: 12px
        line-height: 18px
        color: $textColor-l

        @media (max-width: $screenXS-s - 1)
            display: inline

    &__extras 
        display: flex
        border-bottom: 1px solid $lines-d

        @media (max-width: $screenS - 1)
            flex-direction: column
            border-bottom: none

        &-label 
            flex: none 
            box-sizing: border-box
            margin: 0
            padding-top: 12px
            padding-left: 18px
            width: 25%
            font-family: $font-alt 
            font-size: 28px
            line-height: 34px

            @media (max-width: $screenXL - 1)
                font-size: 17px
                line-height: 36px

            @media (max-width: $screenS - 1)
                margin-bottom: 8px
                padding-left: 0
                width: 100%
                font-size: 15px
                line-height: 18px
                color: $textColor-l

            .mobile 
                display: none

                @media (max-width: $screenS - 1)
                    display: inline

            .desktop 

                @media (max-width: $screenS - 1)
                    display: none

        &-list 
            flex: none 
            box-sizing: border-box
            width: 75%
            border-top: none

            @media (max-width: $screenS - 1)
                width: 100%
                border-top: 1px solid $lines-d

            li 
                padding-right: 4.7%

            &.extras-list

                @media (max-width: $screenS - 1)

                    li 
                        padding-top: 20px
                        padding-bottom: 19px
                        padding-right: 0

                    .extras-list__item 
                        order: 1
                        margin-left: 0
                        margin-top: 0
                        font-weight: 400
                        font-size: 15px
                        line-height: 30px

                    .extras-list__play-btn 
                        order: 2
                        margin-top: -4px
                        width: 30px
                        height: 30px
                        border: 2px solid $brown 
                        background-image: none !important

                        svg 
                            fill: $brown

                            &.play 
                                margin-left: 2px
                                width: 12px
                                height: 10px

                            &.pause 
                                width: 14px
                                height: 10px

                        .duration 
                            display: none

                    .extras-list__fav 
                        order: 3

                @media (max-width: $screenXS - 1)

                    li 
                        padding-top: 19px
                        padding-bottom: 16px

                @media (max-width: $screenXS-s - 1)

                    li
                        align-items: flex-start
                        padding-top: 16px

                    .extras-list__item
                        line-height: 18px

                    .extras-list__play-btn
                        margin-top: 4px

                    .extras-list__fav
                        margin-top: 7px

    .social-block._mobile 
        margin-bottom: 15px

        @media (max-width: $screenXS-s - 1)
            max-width: 290px

        .social-btn 

            @media (max-width: $screenXS-s - 1)
                flex-grow: 1