ol.lectures-tab 
    @include list-reset 
    counter-reset: li

    @media (max-width: 899px)
        padding-top: 0

ul.lectures-tab 
    @include list-reset 

    @media (max-width: 899px)
        padding-top: 25px

.lecture-full 
    position: relative
    padding: 48px 0
    padding-bottom: 46px
    border-bottom: 1px solid $lines-d

    @media (max-width: 899px)
        padding-top: 25px
        padding-bottom: 27px

    @media (max-width: 767px)
        padding-bottom: 24px

    @media (max-width: 639px)
        padding-top: 18px

    .icon 
        display: none
        width: 18px
        height: 18px
        margin-right: 6px

        svg 
            display: block
            width: 100%

        @media (max-width: 899px)
            display: block

    &:before 
        position: absolute
        top: 43px
        left: 8.333333%
        content: counter(li)'.'
        counter-increment: li 
        font-family: $font-alt 
        font-size: 30px
        line-height: 30px
        color: $brown

        //ul &
            display: none

        @media (max-width: $screenXL - 1)
            left: 75px

        @media (max-width: 899px)
            font-size: 20px
            line-height: 20px
            left: 36px
            top: 32px

        @media (max-width: 639px)
            left: auto 
            right: 20px
            top: 15px

    &__wrapper 
        display: flex
        align-items: flex-end
        margin: 0 auto
        padding: 0 8.333333%
        //max-width: 1170px


        @media (max-width: 899px)
            padding: 0 36px

        @media (max-width: 639px)
            flex-direction: column
            padding: 0 20px

    &__play-block,
    &__info-block 
        box-sizing: border-box
        width: 50%

        @media (max-width: 639px)
            width: 100%

    &__play-block 
        padding-right: 12%
        max-height: 311px

        .play-block 
            margin-left: auto
            margin-right: auto

        @media (max-width: $screenXL - 1)
            padding-left: 12%

            .play-block 
                box-sizing: border-box
                min-width: 126px
                padding-top: 100%
                width: 100%
                max-width: 311px
                max-height: 311px

                &__image-wrapper 
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0

                    &:after 
                        max-height: 311px

                &__loader 
                    width: 100%
                    height: 100%
                    max-height: 311px

                    svg 
                        width: 100%
                        height: 100%
                        max-height: 311px

        @media (max-width: 899px)
            padding-left: 52px
            padding-right: 52px

            .play-block 
                box-sizing: border-box
                min-width: 126px
                padding-top: 100%
                width: 100%
                max-width: 311px

                &__image-wrapper 
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0

                &__loader 
                    width: 100%
                    height: 100%
                    max-height: 311px

                    svg 
                        width: 100%
                        height: 100%
                        max-height: 311px

        @media (max-width: 639px)
            padding-left: 0

            .play-block 
                padding-top: 0
                width: 126px
                height: 126px
                max-width: 126px    
                max-height: 126px

    &__info-block 
        position: relative
        display: flex 
        flex-direction: column 
        justify-content: flex-end

    &__source
        display: table
        margin: 0 0 7px 0
        font-weight: 400
        font-size: 14px
        line-height: 22px
        cursor: pointer
        border-bottom: 1px solid rgba(47, 47, 74, 0)
        transition: border-color 0.3s ease

        &:hover
            border-bottom: 1px solid rgba(47, 47, 74, 0.2)

        .label 
            font-style: italic 
            color: $brown

    &__text-block 
        position: relative
        //max-width: 585px
        padding-right: 50px
        font-size: 20px
        line-height: 26px

        @media (max-width: $screenXL - 1)
            padding-top: 4px
            line-height: 25px

        @media (max-width: 899px)
            font-size: 15px
            line-height: 19px

    &__fav 
        @include btn-reset
        @include hover
        position: absolute
        top: 10px
        left: -20px
        width: 14px
        height: 23px

        svg 
            display: block 
            width: 100%
            height: auto
            fill: $lines-d

        @media (max-width: $screenS - 1)
            left: auto 
            right: 0
            top: 8px

    &__descr 
        margin: 0
        display: inline 

    &__title 
        display: inline 
        margin: 0
        font-family: $font-alt 
        font-weight: 700
        font-size: 20px
        border-bottom: 1px solid rgba(200, 104, 76, 0.3)
        transition: border-color 0.3s ease

        @media (max-width: 899px)
            font-size: 15px

        &:hover 
            border-bottom: 1px solid $brown

        a 
            color: $textColor

    &__author
        display: inline 
        margin: 0
        font-family: $font-alt 
        font-size: 14px
        line-height: 28px
        color: $textColor-l

    &__extras 
        margin-bottom: -10px
        margin-top: 20px

        @media (max-width: $screenS - 1)
            margin-top: 6px

    &__extras-label 
        margin: 0
        font-family: $font-alt 
        font-size: 17px
        line-height: 34px
        color: $textColor-l

        @media (max-width: $screenS - 1)
            font-size: 15px

    // &__info-table 
    //     display: flex
    //     margin-top: 25px

    //     @media (max-width: 899px)
    //         margin-top: 5px

    //     @media (max-width: 767px)
    //         margin-bottom: 5px

    // &__info-table-col 
    //     width: 109px

    //     @media (max-width: 899px)
    //         @include row-component
    //         width: auto
    //         min-width: 59px

    // &__info-table-label 
    //     margin: 0
    //     font-family: $font-alt 
    //     font-size: 14px
    //     line-height: 18px
    //     color: $textColor-l

    //     @media (max-width: 899px)
    //         display: none

    // &__info-table-value 
    //     margin: 5px 0 2px 0
    //     font-family: $font-alt 
    //     font-size: 17px
    //     line-height: 21px

    //     @media (max-width: 899px)
    //         font-size: 15px
    //         line-height: 18px
    //         margin-bottom: 4px

    &__archive-title
        margin: 0
        padding-left: 117px
        font-weight: 700
        font-family: $font-alt 
        font-size: 20px
        line-height: 24px

        @media (max-width: $screenXL - 1)
            padding-left: 98px

        @media (max-width: 899px)
            font-size: 15px
            padding-left: 47px

        @media (max-width: 639px)
            line-height: 19px
            padding-left: 29px

        a 
            color: $textColor-l

    &__archive-date
        margin-left: auto
        font-size: 16px
        line-height: 24px
        color: $textColor-l

        @media (max-width: $screenXL - 1)
            padding-right: 23px

        @media (max-width: 899px)
            padding-right: 0
            font-size: 15px

        @media (max-width: 639px)
            margin-left: 0
            line-height: 20px
            padding-left: 28px

    &--archive 
        padding-top: 25px
        padding-bottom: 25px

        &:before 
            top: 18px
            color: $lines-d

            @media (max-width: 899px)
                top: 25px

            @media (max-width: 639px)
                right: auto 
                left: 20px
                top: 23px

        .lecture-full__wrapper 

            @media (max-width: 639px)
                flex-direction: column

    &._single

        @media (max-width: 1279px) 
            padding-bottom: 60px
            border-width: 2px

        @media (max-width: 768px)
            border-width: 1px

        @media (max-width: 480px)
            padding-bottom: 36px

        &::before 
            display: none

        .play-block__duration
            color: $textColor-l

        .lecture-full

            &__play-block

                @media (max-width: 1279px) 
                    padding-left: 6.5%
                    padding-right: 17%

                @media (max-width: 899px)
                    padding-left: 4%
                    padding-right: 13%

                @media (max-width: 480px)
                    padding-left: 0

                .play-block 

                    @media (max-width: 480px)
                        margin-left: 0
                        margin-bottom: 16px

            &__text-block
                padding-right: 0

                @media (max-width: 480px)
                    position: static

            &__title 
                display: block
                font-weight: 400
                font-size: 28px
                line-height: 34px
                border-bottom: none

                @media (max-width: 899px)
                    font-size: 20px
                    line-height: 24px

                @media (max-width: 639px)
                    padding-right: 50px
                    font-size: 15px
                    line-height: 19px

                @media (max-width: 480px)
                    margin-bottom: 16px
                    padding-right: 0
                    font-size: 20px
                    line-height: 24px
                    letter-spacing: -0.5px

                .label 
                    color: $brown

                    @media (max-width: 639px)
                        font-size: 15px
                        line-height: 19px

                    @media (max-width: 480px)
                        font-size: 20px
                        line-height: 24px

                a 
                    span 
                        border-bottom: 1px solid $transparent
                        transition: border-color 0.3s ease

                &:hover 

                    a 
                        span
                            border-color: $brown-l

            &__info-block 

                @media (max-width: 1279px) 
                    margin-bottom: -12px

                @media (max-width: 480px)
                    position: static

            &__descr 
                font-size: 17px
                line-height: 17px

                @media (max-width: 639px)
                    font-size: 14px

                @media (max-width: 480px)
                    font-family: $font-alt 
                    font-size: 15px
            
            &_stats
                font-family: $font-alt
                font-size: 15px
                color: $textColor-l

                @media (max-width: 639px)
                    font-size: 14px
                    line-height: 19px

                @media (max-width: 480px)
                    font-size: 12px

                .author 
                    padding-left: 4px

            &__fav 
                top: 0
                left: -27px

                @media (max-width: 1279px) 
                    top: 8px

                @media (max-width: 639px)
                    left: auto 
                    right: 0

                @media (max-width: 480px)
                    right: 21px
                    top: 24px