.lecture-wrapper 
    background-repeat: no-repeat
    background-size: cover 
    background-position: top center

    .fp-tableCell
        background-image: radial-gradient(rgba(28, 27, 23, 0) 0%, #1C1B17 100%)

    @media (max-width: 900px)
        position: relative
        display: flex 
        flex-direction: column
        min-height: 100vh

        &:before 
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background-image: radial-gradient(rgba(28, 27, 23, 0) 0%, #1C1B17 100%)

    ._player & 

        @media (max-width: $screenS - 1)
            min-height: auto
            background-color: $textColor


#fp-nav 
    transition: opacity 0.5s ease, transform 0.5s ease