.link-to-transcript 
    position: absolute
    top: 50%
    right: 20px
    transform: translateY(-50%)
    display: flex 
    flex-direction: column 
    justify-content: center
    width: 122px
    font-family: $font-alt 
    font-size: 14px
    line-height: 20px
    color: #fff
    transition: opacity 0.5s ease, transform 0.5s ease
    z-index: 1

    @media (max-width: $screenM - 1)
        right: 8px
        top: auto
        bottom: 115px
        transform: translateY(0)
        width: 200px
        padding-right: 36px
        text-align: right

        br
            display: none

    @media (max-width: $screenXS - 1)
        bottom: 55px
        right: 0

    @media (max-width: $screenXS-s - 1)
        right: 14px 
        left: 21px
        bottom: 33px
        width: auto
        text-align: left


    &:after 
        content: ""
        position: absolute
        top: 50%
        right: 15px
        transform: translateY(-50%) rotate(45deg)
        width: 83px
        height: 83px
        border: 3px solid #fff 
        border-bottom: none 
        border-left: none 

        @media (max-width: $screenM - 1)
            width: 15px
            height: 15px

    &:hover 
        opacity: 0.6

    &._reduced
    .player-wrapper & 
        top: auto 
        left: auto 
        bottom: 10px;
        right: 0;
        margin: 0;
        transform: none
        font-size: 0;
        width: 39px;
        height: 44px;
        font-size: 0;
        border-radius: 22px 0 0 22px
        background-color: rgba(255, 255, 255, 0.2)
        transition: transform 0.5s ease, opacity 0.5s ease

        @media (max-width: 600px)
            position: absolute

        @media (max-width: $screenM - 1)
            right: 0
            bottom: 10px
            width: 39px 
            padding: 0

        @media (max-width: $screenXS - 1)
            bottom: 10px

        @media (max-width: $screenXS-s - 1)
            right: 0
            bottom: 10px
            left: auto 
            width: 39px

        @media (max-width: 600px)
            bottom: auto 
            top: 4px

        &:after 
            width: 15px;
            height: 15px;

