.link-to-lecture
    position: relative
    display: flex 
    flex-direction: column 
    justify-content: center
    padding-left: 50px
    width: 120px
    height: 120px
    font-family: $font-alt 
    font-size: 14px
    line-height: 20px
    color: rgba(47, 47, 47, 0.6)
    transition: opacity 0.3s ease 
    z-index: 1

    &:after 
        content: ""
        position: absolute
        top: 50%
        left: 17px
        transform: translateY(-50%) rotate(-135deg)
        width: 83px
        height: 83px
        border: 3px solid $textColor
        border-bottom: none 
        border-left: none 

    &:hover 
        opacity: 0.6

    @media (max-width: $screenXS - 1)
        padding: 0
        width: 72px
        height: 72px
        background-color: rgba(47, 47, 47, 0.4)
        border-radius: 50%
        font-size: 0

        &:after 
            left: 45px
            border-color: #fff
            width: 16px
            height: 16px