.literature-sources
    padding-top: 43px
    margin-top: 43px
    border-top: 1px solid rgba(47, 47, 47, 0.2)

    @media (max-width: $screenM)
        margin-top: -8px
        padding-top: 30px

    &__title 
        margin: 0 0 29px 0
        font-family: $font-alt
        font-weight: 400
        font-size: 30px
        line-height: 32px

        @media (max-width: $screenM)
            margin-bottom: 20px
            font-size: 20px
            line-height: 26px

.sources-list
    @include list-reset 
    counter-reset: li 
    column-count: 2
    column-width: 50%
    column-gap: 60px

    @media (max-width: $screenM)
        padding-left: 42px
        column-count: 1
        column-width: 100%
        column-gap: 0

    @media (max-width: $screenXS-s - 1)
        padding-left: 27px

    li
        position: relative
        margin-bottom: 18px
        max-width: 320px
        font-family: $font-alt 
        font-size: 14px
        line-height: 18px

        @media (max-width: $screenM)
            max-width: 100%

        &:before 
            content: counter(li)'.'
            counter-increment: li
            position: absolute
            top: 0
            left: -40px
            width: 30px
            text-align: right
            font-family: $font-alt 
            font-size: 14px
            line-height: 23px
            color: rgba(47, 47, 47, 0.6)

            @media (max-width: $screenM)
                top: -3px

        a 
            color: $textColor
            border-bottom: 1px solid $transparent
            transition: border-color 0.3s ease

            &:hover 
                border-bottom: 1px solid $lines-d
