.lock-icon
    @include center
    @include hover
    width: 27px
    height: 30px

    @media (max-width: $screenXS - 1)
        width: 20px
        height: 26px

    svg 
        display: block
        width: 100%
        height: 100%
        fill: #fff