.menu-mobile 
    position: relative

    @media (max-width: $screenS - 1)
        position: fixed
        top: 64px
        bottom: 0
        left: 0
        right: 0
        transform: translateX(2000px)
        flex-direction: column
        padding: 0 18px 15px 18px
        color: #fff
        background-color: $textColor 
        transition: transform 0.2s ease
        z-index: 100

        .opened & 
            transform: translateX(0)
