.menu-trigger
    position: absolute
    right: 9px
    top: 25px
    display: none
    width: 36px
    height: 28px
    font-size: 0
    background-color: $transparent
    border: none

    &:focus 
        outline: none

    span 
        position: absolute
        top: 50%
        left: 50%
        transform: translateX(-50%)
        margin-top: -1px
        display: block
        width: 16px
        height: 2px
        background-color: $textColor

        .opened & 
            background-color: $transparent

        &:before,
        &:after 
            content: ""
            position: absolute
            left: 0
            right: 0
            width: 16px
            height: 2px
            background-color: $textColor

            .opened & 
                top: 0
                right: auto
                width: 20px
                background-color: #fff
                transform: rotate(45deg)

        &:before 
            top: 6px

            .opened & 
                top: 0
                transform: rotate(-45deg)

        &:after 
            bottom: 6px

            .opened &
                bottom: auto 

    @media (max-width: $screenS - 1)
        display: block