.modal-form
    margin: 0 auto 

    @media (max-width: 767px)
        max-width: calc(100% - 40px)

    &__row 
        @include row-component
        margin-top: 18px

        @media (max-width: 640px)
            flex-direction: column
            align-items: flex-start

        .btn
            flex: none 
            margin-left: 26px
            height: 50px
            min-width: 227px
            font-weight: 400
            font-size: 18px

            @media (max-width: 640px)
                margin-left: 0
                margin-top: 21px
                min-width: 100%

        .form__field 
            flex-grow: 1

    .form 

        &__field,
        &__message 
            box-sizing: border-box
            padding: 0 16px
            height: 34px
            font-size: 13px
            line-height: 17px 
            border: 1px solid #d5d5d5

        &__message 
            padding: 12px 16px
            height: 165px
