.modal-overlay 
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: -40px
    display: flex
    flex-direction: column
    padding: 30px 0
    overflow-y: auto
    opacity: 0
    pointer-events: none
    transition: opacity .3s ease-in-out

    &.is-opened
        opacity: 1
        pointer-events: initial
        z-index: 10000

.modal
    position: relative
    left: -20px
    margin: auto
    box-sizing: border-box
    padding: 38px 42px 40px
    width: 100%
    max-width: 750px
    background-color: #fff
    box-shadow: 0 6px 64px rgba(0, 0, 0, 0.6)

    @media (max-width: $screenS - 1)
        width: 600px

    @media (max-width: $screenXS - 1)
        padding-left: 0
        padding-right: 0
        min-width: 300px
        width: calc(100% - 88px)
        margin-top: 0

    &._billing 
        padding-bottom: 0
        border-radius: 4px

    &__close 
        @include btn-reset
        position: absolute
        top: -24px
        right: -24px
        width: 48px
        height: 48px
        font-size: 0
        background-color: #fff
        border-radius: 50%
        transition: box-shadow 0.3s ease
        z-index: 1

        @media (max-width: $screenXS - 1)
            position: fixed
            top: 5px
            right: 0
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

        &:before,
        &:after 
            content: ""
            @include center
            width: 24px
            height: 2px
            background-color: $textColor
            transition: background-color 0.3s ease

        &:before 
            transform: translate(-50%, -50%) rotate(45deg)

        &:after 
            transform: translate(-50%, -50%) rotate(-45deg)

        &:hover 
            
            &::before,
            &::after 
                background-color: rgba(130,130, 130, 1)

    &__header 
        display: flex
        align-items: flex-start
        min-height: 50px
        padding-bottom: 20px

        @media (max-width: $screenXS - 1)
            flex-direction: column
            padding-left: 20px
            padding-right: 20px

            ._message & 
                padding-bottom: 13px

    &__headline 
        margin: 0
        margin-right: 20px
        font-family: $font-alt
        font-size: 20px
        line-height: 20px

        @media (max-width: $screenXS - 1)
            margin-bottom: 10px

            ._donation &,
            ._message & 
                padding-right: 30px

        span 
            white-space: nowrap

    &__descr
        margin: 0
        max-width: 200px
        font-family: $font-alt
        font-size: 13px
        line-height: 15px
        color: $textColor-l

        .emph 
            color: $textColor

    &__message 
        display: flex
        flex-direction: column 

        @media (max-width: 767px)
            padding: 0 20px

        p 
            margin: 0
            font-family: $font-alt
            font-size: 13px
            line-height: 15px
            color: $textColor-l

        .btn 
            margin-top: 40px
            margin-left: auto
            min-width: 227px
            height: 50px
            font-weight: 400
            font-size: 18px

            @media (max-width: 767px)
                margin-left: 0
                margin-top: 20px
                min-width: 100%
