.navigation 
    margin-right: auto

    @media (max-width: $screenS - 1)
        display: none

    ul 
        display: flex 
        flex-wrap: wrap
        margin: 0
        padding: 0
        list-style: none
        text-transform: uppercase
        font-family: $font-alt
        font-size: 14px
        line-height: 22px
        letter-spacing: 1.7px

        @media (max-width: $screenS - 1)
            font-size: 13px
            letter-spacing: 1.5px

        li 
            margin-right: 23px
            transition: opacity 0.4s ease
            opacity: 0.6

            @media (max-width: $screenS - 1)
                position: relative
                margin-right: 16px
                padding-top: 4px

            @media (max-width: $screenXS - 1)
                display: none

                &.current 
                    display: block

            &:hover 
                opacity: 0.8

            &.current 
                font-weight: 700
                opacity: 1

                &:before 

                    @media (max-width: $screenS - 1)
                        content: ""
                        position: absolute
                        bottom: -7px
                        left: 0
                        right: 0
                        height: 2px
                        background-color: $textColor 

                        .opened & 
                            background-color: #fff

            &.filter 
                opacity: 1

                &:hover 
                    opacity: 1

                a 
                    box-sizing: border-box
                    padding: 10px 11px
                    max-height: 36px

                svg 
                    fill: $textColor 
                    opacity: 0.6
                    transition: opacity 0.4s ease

                &:hover
                    opacity: 1

                &.active

                    svg
                        opacity: 1

        a 
            display: block
            padding: 10px 0 4px 0
            color: $textColor

            .opened & 

                @media (max-width: $screenS - 1)
                    color: #fff

.navigation-mobile 
    display: none

    @media (max-width: $screenS - 1)
        display: block