.new-lectures

    &__title 
        margin: 0
        padding: 61px 20px 47px 20px
        font-weight: 400
        font-size: 54px
        line-height: 60px
        text-align: center

        @media (max-width: 1279px)
            padding-bottom: 87px

        @media (max-width: 899px)
            font-size: 29px
            line-height: 33px
            padding-top: 11px
            padding-bottom: 47px

        @media (max-width: 639px)
            line-height: 30px
            padding-top: 25px
            padding-bottom: 30px

    &__inner 
        display: flex
        flex-wrap: wrap
        border-top: 1px solid $lines-d

.new-lecture
    display: flex 
    flex-direction: column
    box-sizing: border-box
    padding: 30px 40px 24px 26px
    width: 50%
    min-height: 390px
    border-right: 1px solid $lines-d
    border-bottom: 1px solid $lines-d

    @media (max-width: 899px)
        flex-direction: column
        padding-top: 16px
        padding-left: 10px
        padding-bottom: 26px
        padding-right: 20px
        width: 50%
        min-width: 50%
        min-height: 347px
        border-left: none
        border-top: none

        @media (max-width: 767px)
            padding-left: 18px

        &:first-child 
            flex-direction: column

    @media (max-width: 639px)
        padding-right: 20px

    @media (max-width: 639px)
        width: 100%
        min-width: 100%
        border-right: none

    &:nth-child(even)
        border-right: none

    &__favourites 
        @include btn-reset
        position: absolute
        top: 33px
        right: 33px

        @media (max-width: 899px)
            top: 20px
            right: 18px

        svg
            display: block
            opacity: 0.2
            transition: opacity 0.3s ease

        &:hover 

            svg
                opacity: 0.4

    &__header
        display: flex
        box-sizing: border-box
        margin-bottom: auto
        padding-left: 10px
        width: 50%

        @media (max-width: 899px)
            padding-top: 0
            padding-bottom: 12px
            width: 100%
            min-height: 45px

        @media (max-width: 767px)
            padding-right: 20px

        @media (max-width: 639px)
            display: block

        @media (max-width: 639px)
            padding-right: 20px

    &__add 
        position: relative
        top: 5px
        @include btn-reset
        margin-right: 13px
        width: 34px
        min-width: 34px
        height: 34px
        background-color: $lines-d
        border-radius: 50%

        @media (max-width: 639px)
            display: inline
            margin-right: 4px

        svg 
            @include center 
            display: block

    &__title-block 
        display: block
        max-width: 270px
        color: #2f2f2f
        line-height: 19px

        @media (max-width: 639px)
            display: inline

    &__title 
        display: inline
        margin: 0
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 19px

        &:hover 
            border-bottom: 1px solid $brown

    &__label 
        color: $brown 

    &__tag 
        margin: 0
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 19px
        color: $brown
        opacity: 0.6

        &._inline 
            display: inline 
            position: relative
            padding-left: 15px

            @media (max-width: 639px)
                display: none

            &:before 
                content: ""
                @include centerV
                left: 6px
                width: 3px
                height: 3px
                background-color: $textColor-l
                border-radius: 50%

        @media (max-width: 639px)
            display: none


    &__type 
        margin: 0
        text-transform: uppercase
        font-family: $font-alt 
        font-size: 13px
        line-height: 19px
        color: $textColor-l
        letter-spacing: 2.5px

        @media (max-width: 639px)
            letter-spacing: 0.5px

    &__body 
        display: flex
        align-items: flex-end

        @media (max-width: 899px)
            flex-direction: column 
            align-items: flex-start
            height: 100%

    &__play-block
        margin-right: 5%
        width: 160px
        min-width: 160px
        height: 160px

        &._small
            width: 120px
            min-width: 120px 
            height: 120px

            @media (max-width: 899px)
                width: 106px
                min-width: 106px
                height: 106px

            @media (max-width: 767px)
                width: 83px
                min-width: 83px
                height: 83px

        @media (max-width: 899px)
            width: 106px
            min-width: 106px
            height: 106px

        .lecture__image-wrapper
            width: 100%
            height: 100%

        .lecture__loader
            width: 100%
            height: 100%

        .svg-loader
            width: 100%
            height: 100%

    &__desc 
        margin-left: auto
        max-width: 383px
        font-size: 17px
        line-height: 22px

        @media (max-width: 1279px)
            max-width: 210px

        @media (max-width: 899px)
            margin-top: auto
            max-width: 100%
            font-size: 15px
            line-height: 19px

    &__slogan
        display: inline 
        margin: 0
        font-family: $font-alt 
        font-weight: 700

        .num 
            color: $brown

    &__announce 
        display: inline 
        margin: 0

    &__author 
        display: inline 
        margin: 0
        font-style: italic 
        color: $textColor-l

        &._inline 
            font-family: $font-alt 
            font-size: 13px
            font-style: normal

.link-block
    display: flex
    justify-content: center 
    padding-top: 84px
    padding-bottom: 80px

    @media (max-width: 899px)
        padding-top: 53px
        padding-bottom: 56px

.lectures-link
    min-width: 227px

    @media (max-width: 639px)
        font-size: 16px
