.new-lecture-announce
    position: relative
    box-sizing: border-box
    display: flex 
    flex-direction: column
    padding: 25px 0 0 37px
    width: 50%
    border-bottom: 1px solid $lines-d
    border-right: 1px solid $lines-d
    overflow: hidden

    @media (max-width: 899px)
        padding-top: 23px
        padding-left: 20px

    @media (max-width: 639px)
        padding-right: 20px
        width: 100%
        border-right: none

    &__row 
        display: flex

    &__header 
        margin-bottom: -34px

        @media (max-width: 899px)
            margin-bottom: -11px

    &__body 
        display: flex
        align-items: flex-end
        margin-top: auto

        @media (max-width: 639px)
            position: relative
            top: -20px
            max-height: 230px

    &__title
        display: block
        margin-bottom: 6px
        max-width: 500px
        font-weight: 400
        font-size: 30px
        line-height: 40px
        color: $textColor 

        @media (max-width: 899px)
            padding-right: 40px
            font-size: 20px
            line-height: 26px

        h2 
            display: inline 
            margin: 0
            font-weight: 400
            font-size: 30px
            line-height: 40px
            color: $textColor 

            @media (max-width: 899px)
                font-size: 20px
                line-height: 26px

    &__label 
        font-style: italic 
        color: $brown

    &__author,
    &__tag,
    &__count 
        display: inline-block 
        vertical-align: top
        margin: 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 17px
        color: $textColor-l

    &__tag,
    &__author 
        position: relative
        padding-left: 11px

        &:before 
            content: ""
            position: absolute
            top: 7px
            left: 4px
            width: 3px
            height: 3px
            background-color: $textColor-l 
            border-radius: 50%

    &__link-block
        width: 48%
        min-width: 48%

    &__image-block
        width: 50%
        min-width: 50%

    &__link 
        padding: 14px 21px
        min-width: 170px
        font-size: 14px

    &__link-block
        padding-bottom: 35px

        @media (max-width: 899px)
            display: none

    &__image-block 
        position: relative
        bottom: 0
        display: flex 
        justify-content: flex-start
        max-height: 243px
        overflow: hidden

        @media (max-width: 899px)
            width: 100%
            min-width: 100%
            margin-left: -40px

        @media (max-width: 639px)
            margin-left: 0
            bottom: -52px

        svg
            width: 370px
            height: 270px

            @media (max-width: 639px)
                width: 284px