.password-form
    margin: 0 auto 
    width: 427px

    @media (max-width: 500px)
        box-sizing: border-box
        width: 100%

    &__title 
        margin: 0 0 67px 0
        text-align: center
        font-family: $font-alt 
        font-weight: 400
        font-size: 30px
        line-height: 34px

        @media (max-width: 500px)
            margin-bottom: 27px
            padding-top: 14px
            font-size: 20px
            line-height: 24px

    &__field-wrapper 
        position: relative
        margin-bottom: 27px
        width: 100%
        text-align: center

        @media (max-width: 500px)
            margin-bottom: 32px

        &:first-of-type
            margin-bottom: 55px
            margin-left: 0

            @media (max-width: 500px)
                margin-bottom: 39px

        &._show-password

            .icon-eye svg 
                fill: $textColor

    .form__field
        text-align: center

    &__submit

    &__reset-btn 
        position: absolute
        width: auto
        right: -22px

        @media (max-width: 500px)
            position: static