.payment-form

    &__label 
        margin: 0 24px 0 0
        font-family: $font-alt
        font-size: 14px
        line-height: 18px

        @media (max-width: $screenXS - 1)
            margin-top: -4px

        .total 
            margin-left: 3px
            font-size: 28px
            line-height: 34px
            color: $brown

        .cur 
            font-size: 28px
            line-height: 34px
            color: rgba(47, 47, 47, 0.3)

    &__text 
        position: relative
        display: flex
        align-items: center
        padding-left: 35px
        padding-right: 17px
        height: 42px

        @media (max-width: $screenXS - 1)
            padding-left: 53px
            padding-right: 35px
            height: 41px

        &::before 
            content: ""
            @include centerV
            left: 10px
            width: 14px
            height: 14px
            border: 1px solid $textColor-l
            border-radius: 50%

            @media (max-width: $screenXS - 1)
                left: 29px

        &::after 
            content: ""
            @include centerV
            left: 13px
            width: 10px
            height: 10px
            background-color: $textColor 
            border-radius: 50%
            opacity: 0
            transition: opacity 0.3s ease

            @media (max-width: $screenXS - 1)
                left: 32px

    &__option 
        position: absolute
        top: 0
        left: 0
        opacity: 0
        width: 0
        height: 0

        &:hover 

            & + label
                background-color: rgba(200, 104, 76, 0.1)

            & + label::before 
                border-color: $brown

        &:checked 

            & + label
                background-color: rgba(47, 47, 47, 0.1)

                &::after 
                    opacity: 1  

        &._single 

            &:hover,
            &:checked

                & + label 
                    background-color: $transparent

    &__footer 
        position: sticky
        bottom: -30px
        left: 0
        right: 0
        display: flex
        align-items: center
        justify-content: flex-end
        padding-top: 27px
        padding-bottom: 42px
        background-color: #fff

        @media (max-width: $screenXS - 1)
            display: flex
            flex-direction: row
            flex-wrap: wrap
            padding-top: 29px
            padding-left: 20px
            padding-right: 20px
            box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.05)

            .payment-form__label 

                max-width: calc(100% - 155px)

            &.subscription-form 
                display: flex

            .subscription-form__check
                margin-bottom: 15px

    &__submit 
        padding: 15px
        min-width: 207px
        font-weight: 400
        font-size: 16px
        box-shadow: 0 5px 16px rgba(200, 104, 76, 0.2)

        @media (max-width: $screenXS - 1)
            padding: 12px
            min-width: 129px