.payment-methods 
    margin-top: -10px
    padding-top: 20px
    border-top: 1px solid $lines-d

    @media (max-width: $screenXS - 1)
        margin-top: 4px

    &__title 
        margin: 0 0 16px
        font-family: $font-alt 
        font-weight: 400
        font-size: 20px
        line-height: 26px

        @media (max-width: $screenXS - 1)
            padding: 0 20px

    &__list 
        @include list-reset 
        column-count: 2 
        column-gap: 24px
        //column-fill: auto

        @media (max-width: $screenXS - 1)
            column-count: auto 
            column-gap: 0

    &__stored
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin-bottom: 20px
        font-family: $font-alt
        font-size: 14px

        @media (max-width: 767px)
            padding-right: 35px

        @media (max-width: 640px)
            display: block
            padding-right: 0

        &-col 
            flex: none
            width: calc(50% - 11px)

            @media (max-width: 640px)
                width: 100%

            &:first-child 
                border-top: 1px solid $lines-d

            &:nth-child(2)

                @media (max-width: 640px)
                    box-sizing: border-box
                    padding: 0 20px

        .card-block
            height: 94px

            @media (max-width: 640px)
                height: 70px

        .payment-form__text 
            padding-right: 0

.payment-method
    position: relative
    //width: calc(50% - 12px)
    margin-top: -1px
    font-family: $font-alt
    font-size: 14px
    line-height: 16px
    break-inside: avoid
    border-bottom: 1px solid rgba(209, 209, 209, 1)
    border-top: 1px solid rgba(209, 209, 209, 1)

    &__icons 
        display: flex
        align-items: center
        margin-left: auto 

    &__icon 
        flex: none
        margin-left: 5px  
        max-width: 25px

        img 
            display: block
            max-width: 100%
