.play-block
    position: relative
    width: 126px
    min-width: 126px
    height: 126px
    border-radius: 50%

    &:hover 

        .play-block__action
            opacity: 1
            z-index: initial 
            pointer-events: initial

        .play-block__image-wrapper

            &:after 
                content: ""
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background-color: rgba(200, 104, 76, 0.3)
                border-radius: 50%

        .play-block__btn
            svg
                fill-opacity: 1

    img 
        display: block
        width: 100%
        height: auto

    &__duration 
        position: absolute
        top: -2px
        left: -6px
        transform: rotate(-45deg)
        font-family: $font-alt 
        font-size: 14px
        line-height: 18px
        color: rgba(47, 47, 47, 0.6)

        ._dark &
            color: rgba(255, 255, 255, 0.2)

    &__tooltip,
    &__action-tooltip
        position: absolute
        top: calc(100% + 10px)
        left: 50% 
        transform: translateX(-50%)
        padding: 6px 9px
        min-width: 56px
        text-align: center
        font-family: $font-alt 
        font-size: 13px
        line-height: 16px
        color: #fff
        background-color: $textColor 
        border-radius: 4px
        box-shadow: 0 2px 12px 0 rgba(47, 47, 47,0.2)
        opacity: 0
        z-index: -100 
        transition: opacity 0.3s ease

        ._dark &
            color: $textColor
            background-color: #fff

        &:before 
            content: ""
            position: absolute
            top: -5px
            left: 50%
            transform: translateX(-50%)
            width: 0
            height: 0
            border-style: solid
            border-width: 0 4px 7px 4px
            border-color: rgba(255,255,255,0) rgba(255,255,255,0) #2f2f2f rgba(255,255,255,0)

            ._dark &
                border-color: rgba(255,255,255,0) rgba(255,255,255,0) #fff rgba(255,255,255,0)

    &__image-wrapper 
        width: 126px
        height: 126px
        border-radius: 50% 
        overflow: hidden
        background-repeat: no-repeat 
        background-position: center 
        background-size: cover

        &:after
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            border-radius: 50%
            transition: background-color .2s ease-in-out

    &__loader
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 126px
        height: 126px
        // border-color: $brown $brown $brown $transparent
        // border-width: 3px
        // border-style: solid 
        // border-radius: 50%
        // transform: rotate(45deg)

        &:after 
            position: absolute
            display: block
            height: 126px
            width: 126px
            left: 50%
            top: 50%
            box-shadow: inset 0 0 0 3px $transparent
            content: ""
            transform: translate(-50%,-50%)
            border-radius: 100%
            line-height: 160px
            font-size: 2em

    &__action
        position: absolute
        top: 0
        right: 0
        box-sizing: border-box
        width: 36px
        height: 36px
        background-color: #fff 
        border: 1px solid $brown 
        border-radius: 50%
        box-shadow: 0 3px 12px 0 rgba(200, 104, 76, 0.3)
        opacity: 0
        transition: opacity 0.3s ease
        cursor: pointer
        pointer-events: none

        &:hover 

            .play-block__action-tooltip 
                opacity: 1
                z-index: 1

    &__action-loader
        position: absolute
        top: -1px
        bottom: 0
        left: -1px
        right: 0
        width: 32px
        height: 32px
        border-color: $brown $brown $brown $transparent
        border-width: 2px
        border-style: solid 
        border-radius: 50%
        transform: rotate(45deg)

    &__action-btn
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        max-width: 14px

    &__btn 
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        margin-left: 5px
        font-size: 0

        &:hover 

            & + .play-block__tooltip 
                opacity: 1
                z-index: 1

        svg 
            display: block
            width: 40px
            transition: all .2s ease-in-out
            fill-opacity: .8

    &--big 
        width: 311px
        height: 311px

        @media (max-width: $screenXL - 1)
            width: 200px
            height: 200px

        @media (max-width: 899px)
            width: 246px
            height: 246px

        @media (max-width: 767px)
            width: 182px
            height: 182px

        @media (max-width: 639px)
            width: 126px
            height: 126px
            margin-bottom: 40px

        .play-block__image-wrapper
            width: 100%
            height: 100%
            max-height: 311px

        .svg-loader
            width: 311px
            height: 311px

            @media (max-width: $screenXL - 1) 
                width: 200px
                height: 200px

            @media (max-width: 899px)
                width: 246px
                height: 246px

            @media (max-width: 767px)
                width: 182px
                height: 182px

            @media (max-width: 639px)
                width: 126px
                height: 126px

            circle 
                r: 154

                @media (max-width: $screenXL - 1)
                    r: 98

                @media (max-width: 899px)
                    r: 121

                @media (max-width: 767px)
                    r: 89

                @media (max-width: 639px)
                    r: 61

        .play-block__loader
            width: 311px
            height: 311px   

            @media (max-width: $screenXL - 1)
                width: 200px
                height: 200px

            @media (max-width: 899px)
                width: 242px
                height: 242px

            @media (max-width: 767px)
                width: 178px
                height: 178px

            @media (max-width: 639px)
                width: 122px
                height: 122px

        .play-block__duration
            top: 5px
            left: 0
            color: rgba(255, 255, 255, 0.6)

            @media (max-width: 639px)
                top: -2px
                left: -6px

        .play-block__action
            top: 24px
            right: 24px

            @media (max-width: $screenXL - 1)
                top: 6px
                right: 16px

            @media (max-width: 639px)
                right: -6px

        &:hover 

            .play-block__image-wrapper

                &:after
                    background-color: rgba(200, 104, 76, 0.3)