.lectures-menu._plain-menu
    position: absolute
    top: 0
    left: 0
    right: 0
    padding-right: 0
    background-color: #fff 
    border-bottom: 1px solid $lines-d
    z-index: 1

    &._fixed
        z-index: 101

    &:after 
        display: none

    &._fixed 
        position: fixed

    .menu-nav-list__item
        padding: 16px 20px
        border-right: 1px solid $lines

        &:last-child 
            border-right: none

    .menu-nav-sublist
        margin-top: 11px
        background-color: #fff

    .logo-min
        margin-top: 8px
        width: 53px
        min-width: 53px
        height: 29px

        @media (max-width: $screenS - 1)
            margin-top: 11px
            width: 48px
            min-width: 48px
            height: 26px

    .lectures-menu__section
        width: auto
        min-width: 180px
        flex-grow: 0

        @media (max-width: $screenS - 1)
            margin: 0 auto
            min-width: 180px
            border: none

            @media (max-width: $screenXS-s - 1)
                min-width: 100px

        &:first-child 
            padding-left: 18px
            width: 50%
            min-width: 50%
            flex-grow: 1

            @media (max-width: $screenXL - 1)
                min-width: 10%

            @media (max-width: $screenS - 1)
                flex-grow: 0
                margin: 0
                padding-left: 9px
                width: 110px
                min-width: 110px
                min-width: 0

            @media (max-width: $screenXS-s - 1)
                min-width: 100px
                width: auto

        &.section-nav 

            @media (max-width: $screenS - 1)
                margin: 0
                min-width: 54px

    .lectures-menu__link-back
        margin-left: 16px

        @media (max-width: $screenS - 1)
            margin-left: 8px

            span 
                display: none

    .lectures-list-trigger
        padding-top: 12px
        padding-bottom: 14px
        padding-right: 45px

        @media (max-width: $screenXS-s - 1)
            display: flex
            justify-content: center
            align-items: center
            padding-left: 0
            padding-right: 0
            width: 100%

    .lectures-list-wrapper
        min-height: calc(100vh - 53px)

    .lectures-list-block

        @media (max-width: $screenXS - 1)
            flex-grow: 1

    &._dark
        background-color: $textColor
        border-color: $transparent

        .menu-nav-sublist__item:before
            color: $lines

        .menu-nav-list__item a
            color: rgba(255, 255, 255, .8)

        .menu-nav-sublist
            background-color: $textColor

