.play-btn 
    @include btn-reset 
    position: absolute
    top: 0
    right: 16px
    margin-top: 5px
    margin-bottom: 40px
    width: 126px
    height: 126px
    background-color: $lines-d
    background-size: cover
    background-repeat: no-repeat
    border-radius: 50%

    @media (max-width: $screenS - 1)
        width: 100px
        height: 100px

    @media (max-width: $screenXS - 1)
        display: none

    &._fixed 
        position: fixed
        margin-top: 58px

    svg 
        @include center 
        display: block 
        margin-left: 4px
        fill: rgba(255, 255, 255, 0.8)

    .duration 
        position: absolute
        top: -3px
        left: -9px
        font-family: $font-alt 
        font-size: 14px
        line-height: 17px
        color: $textColor-l
        transform: rotate(-45deg)