.player 
    height: 100vh
    background-color: $textColor

    .page-header._fixed 
        padding: 0 16px
        background-color: $transparent

        @media (max-width: 600px)
            padding: 0 8px

.player-window
    display: flex 
    flex-direction: column
    height: 100vh

    &__poster 
        flex-grow: 1
        margin-top: 99px
        background-repeat: no-repeat 
        background-position: center bottom 
        background-size: auto 100%

        @media (max-width: 600px)
            margin-top: 12px
            margin-bottom: 12px

    &__footer 
        margin-top: auto
        padding-bottom: 20px
        padding-top: 40px

        @media (max-width: 600px)
            position: absolute
            bottom: 0
            left: 0
            right: 0

    &__title 
        margin: 0
        text-align: center
        font-family: $font-alt
        font-size: 14px
        line-height: 18px
        color: #fff

    &__subtitle 
        margin: 0
        text-align: center
        font-family: $font-alt
        font-size: 14px
        line-height: 18px
        color: rgba(255, 255, 255, 0.6)

.player-wrapper
    background-color: $textColor

    @media (max-width: 900px)
        position: relative

    @media (max-width: 600px)

        .lectures-menu
            position: absolute
            top: 0
            left: 0
            right: 0
            z-index: 100

            &:after 
                display: none

        .lectures-menu__link-back
            flex-grow: 0
            margin-left: 14px

        .lectures-menu__section
            width: auto
            min-width: 50px

        .lectures-list-block
            border-left: none

        .lectures-list-trigger
            padding-left: 14px
            text-align: left

        .social-trigger
            margin-right: 48px
            border-left: none

            svg 
                width: 20px
                height: 20px

        .link-to-transcript._reduced
            bottom: auto 
            top: 4px