.play-block-small
    @include row-component
    
    &__duration 
        margin: 0 12px 0 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 17px
        color: $textColor-l