.player-frame
    display: flex 
    flex-direction: column
    padding-top: 48px

    @media (max-width: 900px)
        box-sizing: border-box 
        height: calc(100vh - 54px)

    @media (max-width: 600px)
        box-sizing: border-box
        padding-top: 15px
        height: 100vh 
        min-height: 360px

    &__poster-text
        display: none
        position: absolute
        bottom: 48px
        left: 50%
        transform: translateX(-50%)
        width: 90%
        max-width: 540px
        text-align: center
        font-family: $font-alt 
        font-size: 14px
        line-height: 20px
        color: #fff

        @media (max-width: 600px)
            display: block
            z-index: 1

    &__poster-title 
        margin: 0
        font-weight: 400
        font-size: 14px
        line-height: 20px

    &__poster-subtitle
        margin: 0
        color: rgba(255, 255, 255, 0.6)


    &__poster 
        width: 100%
        height: calc(100vh - 149px)
        overflow: hidden

        @media (max-width: 600px)
            position: relative
            margin-bottom: 14px
            height: 100%

            &:before,
            &:after 
                content: ""
                position: absolute
                left: 0
                right: 0
                height: 20%
                pointer-events: none

            &:before 
                top: 0
                background-image: linear-gradient(to bottom, rgba(47, 47, 47, 0.7), $transparent)

            &:after 
                bottom: 0
                height: 100%
                background-image: linear-gradient(to top, rgba(47, 47, 47, 0.7), $transparent)

        img 
            display: block
            margin: 0 auto
            height: 100%
            width: auto 

    &__screen 
        position: absolute
        top: 97px
        bottom: 100px
        left: 0
        right: 0
        display: flex 
        flex-direction: column 
        justify-content: flex-end
        background-color: rgba(47, 47, 47, 0.8)

        @media (max-width: 600px)
            bottom: 0
            top: 0

    &__play-screen
        position: absolute
        top: 97px
        bottom: 100px
        left: 0
        right: 0
        display: flex 
        flex-direction: column 
        justify-content: center
        align-items: center
        background-color: rgba(47, 47, 47, 0.8)

        @media (max-width: 600px)
            bottom: 0
            top: 0

        .svg-loader .bar
            stroke: #fff

    &__cancel 
        @include btn-reset 
        margin-top: 36px
        font-family: $font-alt 
        font-weight: 400
        font-size: 17px
        line-height: 21px
        color: #fff

        @media (max-width: 600px)
            margin-top: 22px
            font-size: 15px
            line-height: 19px

    &__next 
        margin: 0
        margin-top: 24px
        max-width: 420px 
        text-align: center
        font-size: 23px
        line-height: 27px
        color: #fff 

        @media (max-width: 600px)
            margin-top: 10px
            max-width: 90%  
            font-size: 20px 
            line-height: 22px

        .label 
            font-style: italic 
            color: rgba(255, 255, 255, 0.6)

    .play-block__duration
        color: #fff

    .play-block--big

        @media (max-width: 600px)
            margin-bottom: 0    