.play-btn-small 
    position: relative
    padding: 0
    width: 36px
    height: 36px
    font-size: 0
    background-color: $transparent 
    border: 1px solid $brown 
    border-radius: 50%

    svg 
        @include center 
        display: block
        margin-left: 2px
        width: 12px
        height: 11px
        max-width: 12px
        max-height: 11px

    &:hover,
    &:focus,
    &:active 

        &:after 
            opacity: 0.7