.play-btn-big
    position: relative
    @include btn-reset
    @include hover
    font-size: 0
    width: 102px
    height: 90px

    &:after 
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 0
        height: 0
        border-style: solid
        border-width: 45px 0 45px 102px
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.4)

        @media (max-width: $screenM - 1)
            border-width: 20.5px 0 20.5px 47px