.player-block 
    position: relative
    box-sizing: border-box
    padding-top: 48px
    padding-left: 18px
    padding-right: 58px
    padding-bottom: 10px
    min-height: 100px
    background-image: linear-gradient(to top, #1C1B17 0%, rgba(28, 27, 23, 0) 100%)
    transition: opacity 0.5s ease

    @media (max-width: 600px)
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        padding: 0
        background-color: $transparent
        pointer-events: none

    &__progress 
        position: relative
        margin-bottom: 6px
        width: 100%
        height: 5px
        background-color: rgba(255, 255, 255, 0.3)
        cursor: pointer

        @media (max-width: 600px)
            pointer-events: initial
            position: absolute
            bottom: 23px
            left: 84px
            right: 112px
            width: auto

        &:hover 

            .player-block__time
                opacity: 1

    &__desktop-controls 
        display: flex 
        align-items: center 

        @media (max-width: $screenXL - 1)
            display: none

    &__controls 

        @media (max-width: 600px)
            @include center
            opacity: 0
            transition: opacity 0.3s ease

            &.show 
                opacity: 1
                pointer-events: initial

                .player-pause &,
                .player-block-page &
                    opacity: 0
                    pointer-events: none

    &__load
        position: absolute
        top: 0
        left: 0
        height: 5px
        background-color: rgba(255, 255, 255, 0.3)

    &__play
        text-align: right
        position: absolute
        top: 0
        left: 0
        height: 5px
        background-color: $brown

    &__gap 
        position: absolute
        top: 0
        width: 1px
        height: 5px
        background-color: $textColor

    &__time 
        position: absolute
        top: -18px
        font-family: $font-alt 
        font-size: 14px
        line-height: 16px
        color: #fff
        opacity: 0
        transition: opacity 0.3s ease

    .indicator 
        display: inline-block
        vertical-align: top
        width: 3px
        height: 5px
        background-color: #fff

    &__row 
        @include row-component

    &__controls 
        @include row-component
        margin-right: auto

    &__stats 
        @include row-component
        margin-left: auto

    &__info
        padding-right: 14px
        text-align: right
        font-family: $font-alt 
        font-weight: 400
        font-size: 14px
        line-height: 20px
        color: #fff

        @media (max-width: 600px)
            position: fixed 
            left: calc(100% - 125px)
            right: 0
            bottom: 0
            z-index: 10000

    .played-time 

        @media (max-width: 600px)
            position: absolute
            bottom: 20px
            right: calc(100% - 67px)

    .divider 

        @media (max-width: 600px)
            display: none

    .total-time 

        @media (max-width: 600px)
            position: absolute
            bottom: 20px
            left: calc(100% - 100px)

    .backwards,
    .play-button,
    .sound-button,
    .speed-button,
    .content-button,
    .fullscreen-button
        @include btn-reset
        @include hover
        display: flex 
        justify-content: center
        align-items: center
        width: 40px
        height: 30px

        svg 
            display: block
            max-width: 20px

        &:hover,
        &:active,
        &.active 

            svg 
                filter: drop-shadow(0 0 6px $brown)

    .fullscreen-button, 
    .backwards
        width: 32px

    .backwards
        justify-content: flex-start

        @media (max-width: 600px)
            margin: 0
            margin-right: 50px
            width: auto
            height: auto

            svg 
                width: 48px
                height: 30px
                max-width: 100px

    .play-button

        @media (max-width: 600px)
            margin: 0 50px
            width: auto 
            height: auto

            svg 
                max-width: 100px

                &.pause 
                    width: 24px
                    height: 36px

                &.play 
                    width: 48px
                    height: 30px

    .sound-button

        svg 
            fill: #fff 

        .on 
            display: none

        .off 
            display: block

        &._sound-on

            .on
                display: block

            .off
                display: none

        @media (max-width: 600px)
            margin: 0
            margin-left: 50px
            width: auto
            height: auto

            svg 
                max-width: 100px
                width: 48px
                height: 48px

    .fullscreen-button
        justify-content: flex-end

        .normal 
            display: none

        &.active 

            .normal 
                display: block

            .full 
                display: none

    .speed-button 

        @media (max-width: 600px)
            position: absolute
            top: 12px
            //right: 165px
            right: 85px
            pointer-events: initial
            z-index: 101

    .content-button

        @media (max-width: 600px)
            position: absolute
            top: 12px
            //right: 111px
            right: 50px
            pointer-events: initial
            z-index: 101

    .fullscreen-button

        @media (max-width: 600px)
            position: absolute
            bottom: 15px
            right: 18px
            pointer-events: initial

.sound-control 
    position: relative
    display: flex 
    flex-direction: column 
    justify-content: center 
    width: 100px
    height: 16px

    @media (max-width: 600px)
        display: none

    &__bar 
        position: relative
        height: 4px
        background-color: rgba(255, 255, 255, 0.3)

    &__progress 
        position: absolute
        top: 0
        left: 0
        height: 4px
        background-color: $brown

    &__btn 
        @include btn-reset 
        @include centerV 
        width: 4px
        height: 16px
        font-size: 0
        background-color: #fff



