.popup 
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: rgba(47, 47, 47, 0.9)
    opacity: 0
    z-index: -1000
    transition: opacity 0.3s ease 

    @media (max-width: 900px) 
        position: fixed

    @media (max-width: 600px) 
        pointer-events: initial

    &.opened 
        opacity: 1
        z-index: 1000

    &._share 
        bottom: auto
        height: 100vh

    &__header 
        position: absolute
        top: 0
        left: 0
        right: 0
        background-color: #2f2f2f

        &-row 
            padding: 0 16px

    &-close 
        @include btn-reset
        @include hover
        position: absolute
        top: 20px
        right: 20px
        width: 20px
        height: 20px
        font-size: 0

        &:before,
        &:after 
            content: ""
            position: absolute
            top: 9px
            left: -1px
            width: 25px
            height: 2px
            background-color: #fff
            transform: rotate(45deg)

        &:after 
            transform: rotate(-45deg)

    &__wrapper
        display: flex 
        justify-content: center 
        align-items: center
        height: 100%

.social-block-popup

    &__label 
        margin: 0 0 20px 0
        text-align: center
        font-family: $font-alt 
        font-size: 19px
        color: #fff
        line-height: 23px

    &__inner
        display: flex 
        justify-content: center 

    @media (max-width: 600px)
        padding-bottom: 10px

.social-btn-big
    @include hover
    display: flex
    flex-direction: column
    margin: 0 13px

    svg 
        fill: #fff

    &__icon 
        flex-grow: 1

    &__actions 
        margin-top: auto
        text-align: center
        font-family: $font-alt 
        font-size: 13px
        line-height: 15px
        color: #fff