.profile-block
    display: flex 
    flex-direction: column
    flex-grow: 1

    &__header 
        display: flex

        @media (max-width: 639px)
            flex-direction: column

    &__header-col 
        box-sizing: border-box 
        padding-top: 70px
        padding-bottom: 20px

        @media (max-width: 899px)
            padding-top: 44px

        &:first-child 
            padding-left: 8.333333%
            box-sizing: content-box
            width: 200px
            flex-grow: 1
            overflow: hidden 
            text-overflow: ellipsis

            @media (max-width: 899px)
                padding-left: 44px

            @media (max-width: 768px)
                padding-left: 37px

            @media (max-width: 639px)
                box-sizing: border-box
                padding-right: 20px
                padding-left: 20px
                width: 100%

        &:last-child 
            margin-left: auto
            padding-right: 8.333333%

            @media (max-width: 899px)
                padding-right: 44px

            @media (max-width: 768px)
                padding-right: 33px

            @media (max-width: 639px)
                margin-left: 0
                padding-left: 20px
                padding-right: 20px

            @media (max-width: 639px)
                padding-top: 2px

            @media (max-width: 479px)
                padding-left: 0
                padding-right: 0
                overflow: hidden

    &__name 
        margin: 0
        max-width: 100%
        font-family: $font-alt 
        font-size: 20px
        line-height: 26px
        color: $textColor
        overflow: hidden 
        text-overflow: ellipsis

        @media (max-width: 899px)
            font-size: 15px
            line-height: 17px

    &__tab-controls 

        ul 
            @include list-reset
            @include row-component

            @media (max-width: 479px)
                padding-left: 20px
                padding-right: 20px
                overflow-x: auto

    &__tab-control
        position: relative
        margin-left: 40px
        padding: 22px 0 28px 0
        font-family: $font-alt
        font-size: 30px
        line-height: 30px
        color: $textColor-l
        transition: color 0.3s ease
        cursor: pointer

        @media (max-width: 899px) 
            margin-left: 25px
            padding-top: 18px
            padding-bottom: 6px
            font-size: 20px
            line-height: 20px

        .qty
            position: absolute
            left: calc(100% + 4px)
            top: 14px
            font-size: 18px

            @media (max-width: 899px)
                top: 16px
                font-size: 13px
                line-height: 13px

        &.active 
            color: $textColor

        &:first-child
            margin-left: 100px

            @media (max-width: 899px)
                margin-left: 60px

            @media (max-width: 639px)
                margin-left: 24px

    .icon 
        position: absolute
        left: -27px
        top: 26px
        width: 14px
        height: 23px

        @media (max-width: 899px)
            top: 19px
            left: -24px

        svg 
            display: block
            width: 100%
            height: 100%
            fill: #b2b2b2
            transition: fill 0.3s ease

    &__body 
        position: relative
        display: flex 
        flex-direction: column
        flex-grow: 1

    &__tab 
        position: absolute
        display: flex 
        flex-direction: column
        opacity: 0
        z-index: -100
        transition: opacity 0.3s ease

        &.active 
            position: static
            flex-grow: 1
            opacity: 1
            z-index: initial
