.progress-bar 
    margin-top: 48px
    width: 100%
    height: 5px
    background-color: rgba(255, 255, 255, 0.3)

    @media (max-width: $screenM - 1)
        margin-top: 24px

    @media (max-width: $screenS - 1)
        margin-top: 27px

    @media (max-width: $screenXS - 1)
        margin-top: 25px

    @media (max-width: $screenXS-s - 1)
        display: none

    &__bar 
        height: 5px
        background-color: $brown
