.project-info 
    
    &__wrapper 
        padding-left: 8.333333%
        padding-right: 8.333333%

        @media (max-width: 899px) 
            padding-left: 4.6875%
            padding-right: 4.6875%

        @media (max-width: 639px)
            padding-left: 6.25%
            padding-right: 6.35%

    &__inner 
        display: flex

        @media (max-width: 899px) 
            flex-direction: column

    &__col 
        box-sizing: border-box 
        padding-bottom: 33px
        width: 50%

        @media (max-width: 899px)
            padding-bottom: 0

        &:first-child 

            @media (max-width: 899px)
                margin-bottom: 50px
                width: 65%

            @media (max-width: 639px)
                width: 100%

        &:nth-child(2)

            @media (max-width: 899px)
                align-self: flex-end
                padding-top: 0
                width: 75%

            @media (max-width: 639px)
                width: 100%

    &__title 
        margin: 0 0 220px 0
        font-weight: 400
        font-size: 54px
        line-height: 60px
        white-space: nowrap

        @media (max-width: 899px)
            display: none

        &._mobile 
            display: none
            margin-bottom: -74px
            padding-top: 30px
            text-align: right
            font-size: 29px
            line-height: 31px

            @media (max-width: 899px)
                display: block

            @media (max-width: 639px)
                margin-bottom: 35px
                text-align: left

    &__image-block
        position: relative
        padding-top: 52px
        padding-right: 20%

        @media (max-width: 899px)
            display: flex
            flex-direction: column

        @media (max-width: 639px)
            padding-top: 0
            padding-right: 0

        &:before
            content: ""
            position: absolute
            top: 369px
            left: -19%
            width: 79%
            height: 100%
            background-image: url("../images/svg/vector.svg")
            background-repeat: no-repeat 
            background-size: contain 
            background-position: top center

            @media (max-width: 1000px)
                top: 375px
                left: -17%
                width: 77%

            @media (max-width: 899px)
                display: none

        img 
            position: relative
            display: block
            width: 100%
            height: auto
            z-index: 1

            @media (max-width: 639px)
                position: absolute
                top: 0
                left: 0
                height: 100%

    &__image 

        @media (max-width: 899px)
            margin-bottom: 10px
            order: 1

        @media (max-width: 639px)
            position: relative
            margin-bottom: 12px
            width: 100%
            padding-top: 100%
            overflow: hidden

    &__name,
    &__position 
        margin: 0
        text-align: right
        font-family: $font-alt
        font-weight: 400
        font-size: 14px
        line-height: 18px

        @media (max-width: 899px)
            font-size: 13px
            line-height: 16px

    &__name 

        @media (max-width: 899px)
            order: 2

    &__position 
        margin-bottom: 19px
        color: $textColor-l

        @media (max-width: 899px)
            order: 3

    &__text-block 
        padding-top: 242px

        @media (max-width: 899px)
            padding-top: 0
            padding-bottom: 20px

    &__text 
        margin: 0 0 24px 0
        font-size: 20px
        line-height: 26px

        @media (max-width: 1000px) 

            br 
                display: none

        @media (max-width: 899px)
            margin-bottom: 21px
            font-size: 15px
            line-height: 19px

        .letter 
            padding-left: 48px

            @media (max-width: 899px)
                padding-left: 0

            svg 
                display: inline-block
                width: 97px
                height: 108px

        .sans-serif 
            font-family: $font-alt
