.reading-list-block 
    display: flex

    @media (max-width: $screenL - 1)
        flex-direction: column

    &__col1 
        width: 25%
        min-width: 25%

        @media (max-width: $screenL - 1)
            width: 100%

    &__col3 
        min-width: 75%

        @media (max-width: $screenL - 1)
            box-sizing: border-box
            padding-left: 55px
            padding-right: 55px
            width: 100%

        @media (max-width: $screenM - 1)
            padding-left: 48px

        @media (max-width: $screenXS - 1)
            padding-left: 36px
            padding-right: 22px

        @media (max-width: $screenXS-s - 1)
            padding-left: 20px
            padding-right: 20px

    &__label 
        margin: 0 0 35px 0
        padding-left: 14px
        padding-top: 13px
        font-family: $font-alt
        font-weight: 400
        font-size: 30px
        line-height: 32px

        @media (max-width: $screenL - 1)
            margin: 0
            padding: 25px 55px
            padding-bottom: 2px
            font-size: 20px

        @media (max-width: $screenXS - 1)
            padding-left: 36px

        @media (max-width: $screenXS-s - 1)
            margin-bottom: 24px
            padding-left: 20px

.reading-list
    @include list-reset
    display: flex
    flex-wrap: wrap

    @media (max-width: $screenM - 1)
        padding-bottom: 26px

    &__item
        box-sizing: border-box 
        padding-top: 26px
        padding-right: 35px
        width: 33.333333%
        min-width: 33.333333%
        min-height: 478px

        @media (max-width: $screenM - 1)
            padding-right: 33px
            width: 50%
            min-height: 428px

        @media (max-width: $screenXS-s - 1)
            margin-bottom: 28px
            width: 100%

    &__img
        margin-bottom: 16px
        width: 145px
        height: 207px
        overflow: hidden
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.35)

        img 
            display: block
            width: 100%
            height: auto

    &__item-info
        padding-top: 8px
        border-top: 1px solid rgba(47, 47, 47, 0.2)

    &__title
        margin: 0
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 17px

    &__author
        margin: 0
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 15px
        color: rgba(47, 47, 47, 0.6)

    &__descr 
        margin: 15px 0 10px 0
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 17px
