._registration
    position: fixed
    padding-bottom: 50px
    background-color: $textColor
    background-image: url("../images/logo-big.png")
    background-size: 276px auto 
    background-repeat: no-repeat
    background-position: center top 44px
    overflow: auto

    @media (max-width: 900px)
        background-position: center top -93px

        .popup-close 
            right: 0
            top: 4px
            width: 48px
            height: 48px
            background-color: rgba(47, 47, 47, 0.9)
            border-radius: 50%

            &:before,
            &:after 
                top: 23px
                left: 11px

.success-message
    margin-top: 56px
    text-align: center

    &__text 
        margin: 0 0 43px 0
        text-align: center
        font-family: $font-alt 
        font-size: 17px
        line-height: 23px
        color: #fff

    &__check-link 
        @include hover
        display: inline-block
        vertical-align: top
        font-family: $font-alt 
        font-size: 30px
        line-height: 30px
        color: $brown 
        border-bottom: 1px solid $brown-l

    &__note 
        margin: 49px 0 0 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 13px
        color: rgba(255, 255, 255, 0.6)

    &__link 
        @include hover
        margin: 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 13px
        color: #fff 
        border-bottom: 1px solid $brown-l

