.register-block-wrapper
    margin: 0 auto 
    box-sizing: border-box
    padding: 0 24px
    padding-top: 217px
    width: 320px
    overflow: hidden

    @media (max-width: 900px)
        padding-top: 82px

    &__label 
        display: block
        margin: 32px 0 -12px 0
        width: 100%
        text-align: center
        font-family: $font-alt 
        font-size: 20px
        line-height: 24px
        color: #fff

    &__note 
        margin: 38px 0 37px 0
        text-align: center
        font-family: $font-alt 
        font-size: 17px
        line-height: 21px
        color: #fff

.register-block
    display: flex 
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 15px

    &__title 
        margin: 0 0 19px 0
        width: 100%
        text-align: center
        font-family: $font-alt 
        font-size: 20px
        line-height: 24px
        color: #fff

    &__btn 
        @include row-component
        @include hover
        justify-content: flex-start
        margin-bottom: 14px
        padding: 9px 13px
        width: 130px
        font-weight: 400
        font-size: 14px
        border-radius: 4px

        &--fullwidth
            width: 100%

        .icon 
            display: flex
            flex-direction: column 
            justify-content: center

        .svg 
            display: block

        .text
            display: block
            margin: 0 auto 

.register-form
    margin-top: 27px

    &__field-wrapper 
        margin-bottom: 16px
        width: 100%

        &:nth-child(2)

            @media (max-width: 899px)
                margin-left: 0
    
    &__field 
        width: 100%
        text-align: center
        font-size: 16px
        line-height: 22px
        color: #fff 
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)

    &__field-label 
        width: 100%
        text-align: center
        color: rgba(255, 255, 255, 0.6)
        opacity: 0
        transition: opacity 0.3s ease

    &__submit 
        margin-top: 27px
        width: 100%
        font-size: 15px

    &__password-recovery 
        margin: 0
        align-self: flex-end
        flex: 0 0 70px
        font-family: $font-alt 
        font-size: 13px
        line-height: 17px
        color: #fff

    &__buttons 
        display: flex
        margin-top: 29px

    &__enter 
        flex: 1 1 auto
        margin-left: auto

    &__link-back 
        position: relative
        display: block
        margin-right: 11px
        width: 46px
        min-width: 46px
        height: 46px
        border: 1px solid rgba(255, 255, 255, 0.2)
        border-radius: 50%

        .icon 
            @include center 

        svg 
            display: block

    .icon-eye 

        svg 
            fill: rgba(255, 255, 255, 0.6)

    ._show-password 

        svg 
            fill: #fff

.captcha-block
    margin-top: 29px
    width: 100%

    div 
        width: 100% !important

    iframe 
        width: 100%
