.renew-subscription
    padding-top: 6px
    padding-left: 0
    max-width: 105px
    text-align: left
    font-family: $font-alt
    font-size: 14px
    line-height: 1.2
    color: $brown 
    transition: opacity 0.3s ease

    @media (max-width: 899px)
        padding-top: 50px
        max-width: 200px

    &:hover 
        opacity: 0.6