.search-block 
    box-sizing: border-box
    background-color: #fff

    @media (max-width: $screenS - 1)
        display: flex
        background-color: $textColor
        border-bottom:  1px solid rgba(255, 255, 255, 0.2)

    &__trigger 
        margin-right: 42px
        margin-left: 32px
        padding: 0
        padding-top: 6px
        width: 36px
        height: 36px
        background-color: $transparent
        border: none
        opacity: 0.6

        @media (max-width: 950px)
            margin-left: 22px
            margin-right: 22px

        @media (max-width: $screenS - 1)
            margin-left: -7px
            margin-right: 1px
            padding-top: 12px

        &:focus 
            outline: none

        svg 
            display: block
            margin: auto
            fill: $textColor

            @media (max-width: $screenS - 1)
                fill: #fff

    &.opened 
        position: absolute
        left: 230px
        right: 0
        top: 0
        bottom: 0
        padding: 30px 0
        max-height: 93px
        z-index: 2

        @media (max-width: $screenS - 1)
            position: relative
            left: 0
            padding: 0

        .search-form
            position: relative

            @media (max-width: $screenS - 1)
                flex-grow: 1

        .search-form__field
            box-sizing: border-box
            padding-right: 90px
            padding-left: 41px
            max-width: 100%
            width: 100%

            @media (max-width: $screenS - 1)
                text-align: left
                padding-left: 35px

        .search-form__close
            opacity: 1
            z-index: 1

        .search-block__trigger
            position: absolute
            margin: 0
            padding-top: 4px
            pointer-events: none
            opacity: 1

            @media (max-width: $screenS - 1)
                left: -7px
                padding-top: 12px

.search-form
    position: absolute

    @media (max-width: $screenS - 1)
        position: static

    &__field 
        box-sizing: border-box
        padding: 3px 36px
        max-width: 0 
        font-family: $font-alt
        font-size: 20px
        line-height: 30px
        color: $textColor 
        background-color: $transparent
        border: none 
        overflow: hidden

        @media (max-width: $screenS - 1)
            padding-right: 0
            padding-left: 0
            padding-top: 10px
            padding-bottom: 11px
            max-width: 53px
            text-transform: uppercase
            text-align: right
            font-size: 13px
            color: #fff
            letter-spacing: 1px

        &:focus
            outline: none

    &__close 
        position: absolute
        top: 50%
        right: 42px
        margin-top: -9px
        width: 18px
        height: 18px
        font-size: 0
        opacity: 0
        z-index: -100
        cursor: pointer

        @media (max-width: $screenS - 1)
            right: 0
            top: 16px
            margin-top: 0

        &:before,
        &:after 
            content: ""
            position: absolute
            top: -3px
            left: 8px
            width: 1px
            height: 24px
            background-color: $textColor
            transform: rotate(45deg)

            @media (max-width: $screenS - 1)
                background-color: #fff

        &:after 
            transform: rotate(-45deg)