.section-nav
    position: relative

    &__trigger 
        @include btn-reset 
        position: relative
        width: 54px
        height: 53px
        display: none

        @media (max-width: $screenS - 1)
            display: block

        svg 
            @include center 
            display: block
            fill: $textColor
            transition: opacity 0.3s ease

            ._dark & 
                fill: #fff

        &:before,
        &:after
            content: ""
            @include center 
            width: 24px
            height: 2px
            background-color: $brown 
            transform: translate(-50%, -50%)
            transition: transform 0.3s ease, opacity 0.3s ease
            opacity: 0

    &__list 

        @media (max-width: $screenS - 1)
            position: absolute
            top: calc(100% + 1px)
            right: 0
            box-sizing: border-box
            width: 320px
            opacity: 0
            pointer-events: none 
            transition: opacity 0.3s ease

    &.expanded 

        @media (max-width: $screenS - 1)

            .section-nav__list
                opacity: 1
                pointer-events: initial

            .section-nav__trigger
                background-color: #fff

                ._dark &
                    background-color: $textColor

                svg 
                    opacity: 0

                &:before,
                &:after
                    opacity: 1
                    transform: translate(-50%, -50%) rotate(45deg)

                &:after 
                    transform: translate(-50%, -50%) rotate(-45deg)

.section-nav-list
    position: relative
    @include list-reset 
    display: flex 
    align-items: flex-start
    background-color: #fff

    ._dark & 
        background-color: $textColor

    @media (max-width: $screenS - 1)
        flex-direction: column
        padding: 0 20px
        background-color: #fff
        border: 1px solid $lines-d
        border-top: none
        border-right: none

        ._dark & 
            background-color: $textColor
            border-color: $transparent

    &__item 
        padding: 15px 18px
        font-family: $font-alt
        font-size: 14px
        line-height: 23px
        border-right: 1px solid $lines-d 

        @media (max-width: $screenS - 1)
            padding: 15px 0
            border: none 
            border-bottom: 1px solid $lines-d

            ._dark &
                border-color: $lines

            &:last-child
                border-bottom: none

        ._dark & 
            border-color: $lines

        &:last-child
            border-right: none

        &-head 
            color: $textColor

            @media (max-width: $screenS - 1)
                color: $textColor

                ._dark &
                    color: rgba(255, 255, 255, 0.6)

            ._dark &
                color: #fff

        &.expanded 

            @media (max-width: $screenS - 1)
                border-bottom: 1px solid $lines

                .section-nav-sublist
                    max-height: 10000px

                    &__item 

                        &:first-child 
                            margin-top: 15px

                        &:last-child
                            margin-bottom: 0

                .section-nav-list__item-head
                    display: block
                    padding-bottom: 15px
                    color: $textColor
                    border-bottom: 1px solid $lines-d

                    ._dark &
                        color: rgba(255, 255, 255, 0.6)
                        border-color: $lines

.section-nav-sublist
    @include list-reset
    counter-reset: li
    position: absolute
    top: 100%
    right: 0
    padding: 20px 20px 0
    font-family: $font-alt 
    font-size: 14px
    line-height: 16px
    background-color: $textColor
    z-index: 1

    opacity: 0
    pointer-events: none 

    transition: opacity 0.3s ease

    @media (max-width: $screenS - 1)
        position: static
        opacity: 1
        padding-top: 0
        max-height: 0
        overflow: hidden 

        transition: max-height 0.3s ease

    &.show 
        opacity: 1
        pointer-events: initial

    &__item 
        position: relative
        margin-bottom: 18px
        padding-left: 30px

        &:before 
            content: counter(li)'.'
            counter-increment: li 
            position: absolute
            left: 0 
            top: 0
            color: rgba(255, 255, 255, 0.6)

    &__link 
        color: #fff