.settings-block
    position: relative
    padding-top: 85px
    padding-bottom: 60px
    padding-left: 8.333333%
    padding-right: 8.333333%
    border-top: 1px solid $lines-d

    @media (max-width: 899px)
        padding-left: 44px
        padding-right: 44px

    @media (max-width: 768px)
        padding-left: 37px
        padding-right: 37px

    @media (max-width: 640px)
        padding-top: 32px

    @media (max-width: 639px)
        padding-left: 20px
        padding-right: 20px

    @media (max-width: 500px)
        padding-bottom: 0

    &__screen 
        position: absolute
        opacity: 0
        z-index: -100
        transition: opacity 0.3s ease

        &.current 
            position: relative
            opacity: 1
            z-index: initial