.sign-in-block
    position: absolute
    top: 20px
    left: 26px

    @media (max-width: 900px)
        @include row-component

    &__label
        margin: 0 0 8px 0
        font-family: $font-alt 
        font-size: 14px
        line-height: 24px
        color: #fff

        @media (max-width: 900px)
            font-size: 13px

    &__link
        min-width: 124px

        @media (max-width: 900px) 
            flex: none
            margin-left: 11px
            min-width: 103px
            font-size: 13px
            line-height: 14px
            padding: 7px