.social-block-vertical
    @include centerV
    position: fixed
    right: 0
    display: flex
    flex-direction: column
    z-index: 2

    @media (max-width: $screenXS-s - 1)
        display: none

    &._left 
        position: absolute
        right: auto 
        left: 0 
        top: 0
        transform: none
        padding-bottom: 70px
        padding-top: 220px

        &._fixed 
            position: fixed
            padding-top: 73px

.social-btn-dark
    margin-bottom: 12px
    text-align: center

    &__icon 
        padding: 0 12px
        width: 26px

    svg 
        display: block
        width: 100%
        fill: $textColor
        fill-opacity: 0.6

    &__actions
        margin-top: 4px
        font-family: $font-alt
        font-size: 14px
        line-height: 18px
        color: rgba(47, 47, 47, 0.6)
