.social-block 
    display: flex
    align-items: center

    // @media (max-width: $screenM - 1)
    //     position: absolute
    //     bottom: 40px
    //     right: 17px

    @media (max-width: $screenXS - 1)
        position: static

    &__inner 
        display: flex

    &--dark 

        .social-btn
            border: 1px solid $lines-d

        .social-btn__icon svg
            fill: $textColor-l

        .social-btn__actions
            color: $textColor-l

        .social-btn._active:last-child
            border-right: 1px solid $lines-d

    .fav 
        @include hover
        margin-left: 20px

        svg 
            display: block
            fill: rgba(255, 255, 255, 0.2)

.social-btn  
    @include hover
    display: flex
    margin-right: 6px
    //margin-bottom: 7px
    border: 1px solid rgba(255, 255, 255, 0.2)

    &._active 
        margin-right: 0
        border-right: none 

        &:last-child 
            border-right: 1px solid rgba(255, 255, 255, 0.2)

        .social-btn__actions
            padding-right: 5px
            min-width: 48px 

            @media (max-width: $screenM - 1)
                min-width: 36px

    &__icon 
        position: relative
        width: 37px
        height: 34px

        svg 
            @include center 
            display: block
            fill: #fff

    &__actions 
        display: block
        text-align: center
        font-family: $font-alt
        font-size: 14px
        line-height: 34px
        color: #fff 