.social-trigger 
    position: relative
    @include btn-reset
    @include hover
    display: flex 
    justify-content: flex-end 
    align-items: center
    width: 40px
    height: 53px
    border-left: 1px solid $lines

    @media (max-width: 1279px)
        width: 60px 
        justify-content: center

    svg 
        display: block
        width: 18px
        height: 18px