.speed-tooltip
    position: absolute
    right: 58px
    bottom: 64px
    padding: 0 16px
    box-sizing: border-box 
    width: 140px
    //height: 277px
    font-family: $font-alt 
    font-size: 14px
    line-height: 20px
    color: #fff
    background-color: $textColor
    box-shadow: 2px 0 10px 3px rgba(0, 0, 0, 0.4)
    opacity: 0
    pointer-events: none
    z-index: -1000 
    transition: opacity 0.3s ease

    @media (max-width: 600px)
        pointer-events: initial
        bottom: 0
        right: 50%
        transform: translateX(50%)
        height: 100%

    &.opened 
        opacity: 1
        pointer-events: initial
        z-index: 100

        @media (max-width: 600px)
            z-index: 150

    &:before 
        content: ""
        position: absolute
        width: 18px
        height: 18px
        background-color: $textColor 
        bottom: -9px
        right: 86px
        transform: rotate(45deg)
        box-shadow: 2px 0 10px 3px rgba(0, 0, 0, 0.3)

        @media (max-width: 600px)
            display: none

    &:after 
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 20px
        background-color: $textColor

        @media (max-width: 600px)
            display: none

    &__header 
        padding-top: 14px
        padding-bottom: 8px
        border-bottom: 1px solid $lines

    &__title 
        margin: 0

    &__body 
        margin: 0
        padding: 0
        padding-top: 24px
        padding-bottom: 6px
        list-style: none

        li 
            position: relative
            margin-bottom: 10px
            padding-left: 30px
            padding-right: 16px
            line-height: 18px
            cursor: pointer
            color: #fff
            transition: color 0.3s ease

            &:hover 
                color: $brown

            &.active 

                &:after 
                    content: url("../images/svg/check.svg")
                    position: absolute
                    top: 1px
                    left: 0
