.sticky-block
    position: fixed
    top: 50%
    left: 20px
    transform: translateY(-50%)
    display: flex
    flex-direction: column

    @media (max-width: $screenXS - 1)
        top: auto 
        bottom: 30px
        left: -36px

    &.slider-opened

        .link-to-lecture 
            margin-top: -10vh

            @media (max-width: 767px)
                margin-top: -45vh
