.subscription-form 
    display: flex
    font-family: $font-alt

    @media (max-width: 899px)
        display: block

    &__card-block,
    &__actions 
        flex: none
        width: calc(50% - 26px)
        box-sizing: border-box

        @media (max-width: 1399px)
            width: calc(50% - 15px)

        @media (max-width: 899px)
            width: 100%

    &__card-block 
        margin-right: 20px

        @media (max-width: 1399px)
            margin-right: 24px

        @media (max-width: 899px)
            margin-bottom: 19px

    &__btn 
        display: none
        min-width: 215px

        @media (max-width: 639px)
            width: 100%
            line-height: 26px

    &__label 
        position: relative
        padding-bottom: 20px
        display: block
        font-size: 17px
        line-height: 20px
        border-bottom: 1px solid rgba(47, 47, 47, 0.2)

        @media (max-width: 899px)
            padding-bottom: 17px
            font-size: 15px

        ._billing & 
            box-sizing: border-box
            padding-left: 43px
            max-width: 245px
            border-bottom: none
            font-size: 13px
            line-height: 1
            color: $textColor-l

        &::before 
            content: ""
            position: absolute
            right: 0
            top: 3px
            width: 33px
            height: 20px
            background-color: rgba(47, 47, 47, 0.6)
            border-radius: 10px
            transition: background-color 0.3s ease

            @media (max-width: 899px)
                top: -3px

            ._billing & 
                left: 0
                right: auto

                @media (max-width: 640px)
                    top: 0

        &::after 
            content: ""
            position: absolute
            top: 4px
            right: 14px
            width: 18px
            height: 18px
            background-color: #fff
            border-radius: 50%  
            transition: right 0.3s ease

            @media (max-width: 899px)
                top: -2px

            ._billing & 
                right: auto 
                left: 14px

                @media (max-width: 640px)
                    top: 1px

    input[type="checkbox"]:checked + label::before 
        background-color: #C8684C
    input[type="checkbox"]:checked + label::after 
        right: 1px

        ._billing & 
            left: 1px
            right: auto

    &__check 
        width: 100%

        ._billing & 
            margin-right: auto
            padding-bottom: 0
            width: auto

    &__actions 
        display: flex
        flex-direction: column 
        justify-content: flex-end
        align-items: flex-start
        width: 50%

        @media (max-width: 1399px) 
            width: calc(50% - 9px)

        @media (max-width: 899px)
            width: 100%

        &._inactive 

            @media (max-width: 639px)
                margin-top: 25px

            .subscription-form__check 
                display: none
            .subscription-form__btn
                display: inline-block
                vertical-align: top