.subscriptions-list

    ul
        @include list-reset
        padding-bottom: 42px
        display: flex
        border-top: 1px solid $lines-d

        @media (max-width: $screenXS - 1)
            flex-direction: column
            border-top: none

.subscription-item
    flex: none
    box-sizing: border-box
    display: flex
    flex-direction: column
    padding: 12px 20px 0 20px
    width: 37.59%
    min-height: 250px
    border-left: 1px solid $lines-d

    @media (max-width: $screenXS - 1)
        width: 100%
        padding-bottom: 20px
        min-height: 165px
        border-left: none
        border-top: 1px solid $lines-d

    &:first-child,
    &:last-child
        width: 31.205%

        @media (max-width: $screenXS - 1)
            width: 100%

    &:first-child
        padding-left: 0
        border-left: none

        @media (max-width: $screenXS - 1)
            padding-left: 20px

    &:last-child

        @media (max-width: $screenS - 1)
            padding-right: 0

        @media (max-width: $screenXS - 1)
            padding-right: 20px

    &__headline 
        margin: 0 0 4px 0
        font-family: $font-alt 
        font-size: 14px
        line-height: 16px

        .duration 
            color: $brown

    &__descr 
        margin: 0 0 15px 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 15px
        color: $textColor-l

        @media (max-width: $screenXS - 1)
            max-width: 180px

        .emph
            color: $textColor

    &__price-block
        margin-top: auto

        @media (max-width: $screenXS - 1)
            display: flex
            align-items: center

    &__price 
        display: flex
        align-items: flex-end
        margin-bottom: 15px
        font-family: $font-alt

        @media (max-width: $screenXS - 1)
            margin-bottom: 0

        .amount
            margin-right: 4px
            font-size: 54px
            line-height: 45px
            color: $brown

            @media (max-width: $screenS - 1)
                margin-right: 0
                font-size: 40px
                line-height: 36px

            @media (max-width: $screenXS - 1)
                font-size: 29px
                line-height: 26px

        .currency 
            font-size: 54px
            line-height: 45px
            color: $lines-d

            @media (max-width: $screenS - 1)
                font-size: 40px
                line-height: 36px

            @media (max-width: $screenXS - 1)
                font-size: 29px
                line-height: 26px

        .period 
            font-size: 13px
            line-height: 18px
            color: $textColor-l

            @media (max-width: $screenS - 1)
                font-size: 12px

    &__btn
        margin-right: auto
        min-width: 166px

        @media (max-width: $screenS - 1)
            min-width: 140px

        @media (max-width: $screenXS - 1)
            margin-right: 0
            margin-left: auto
            padding: 11px
            min-width: 122px