.subscription-info
    padding-top: 46px
    padding-bottom: 52px
    border-top: 1px solid rgba(47, 47, 47, 0.15)

    @media (max-width: 899px)
        padding-top: 14px
        padding-bottom: 47px

    @media (max-width: 639px)
        padding-bottom: 50px

    &__header 

        @media (max-width: 1399px)
            margin-left: -18px
            width: calc(100% + 18px)

        @media (max-width: 899px)
            margin-left: 0
            width: 100%

    &__wrapper 
        margin: 0 auto
        padding-left: 8.333333%
        padding-right: 8.333333%
    
        @media (max-width: $screenXL - 1)
            padding-left: 75px
            padding-right: 75px

        @media (max-width: 899px)
            padding-left: 35px
            padding-right: 35px

        @media (max-width: 639px)
            padding-left: 18px
            padding-right: 18px

    &__period 
        display: flex
        align-items: flex-end
        margin: 0 0 40px
        font-family: $font-alt
        font-size: 17px
        line-height: 27px

        @media (max-width: 1399px)
            padding-left: 17px

        @media (max-width: 899px)
            margin-bottom: 9px
            padding-left: 0
            font-size: 15px

        .days 
            margin-right: 10px
            font-size: 54px
            line-height: 52px
            letter-spacing: -0.02px

            @media (max-width: 1399px)
                font-size: 48px
            
            @media (max-width: 899px)
                margin-right: 3px
                letter-spacing: -1px

            @media (max-width: 639px)
                margin-right: 7px