.subscribe-form-block
    position: relative
    display: flex
    justify-content: flex-end
    align-items: center
    height: 383px

    &:before 
        content: ""
        position: absolute
        top: 63px
        left: 10%
        width: 322px 
        height: 345px
        background-image: url("../images/svg/p.svg")
        background-repeat: no-repeat 
        background-size: contain 
        transform: rotate(20deg)

        @media (max-width: 1279px)
            left: 4%

        @media (max-width: 899px)
            top: 37px
            left: 6%
            width: 241px
            height: 259px
            transform: rotate(11deg)

        @media (max-width: 767px)
            left: 5%

    @media (max-width: 899px)
        min-height: 297px
        background-size: 239px auto
        align-items: flex-end

    @media (max-width: 639px)
        background-size: 280px auto
        padding-bottom: 36px
    
    &__form
        box-sizing: border-box
        width: 50%
        padding-right: 16.666666%
        padding-bottom: 20px

        @media (max-width: 1279px)
            padding-bottom: 48px

        @media (max-width: 899px)
            padding-right: 22px
            padding-bottom: 0

        @media (max-width: 639px)
            width: 100%
            padding-top: 341px
            padding-left: 20px

.subscribe-form
    padding-bottom: 15px

    @media (max-width: 899px)
        padding-bottom: 19px
    
    &__label 
        display: block
        margin-bottom: 20px
        font-family: $font-alt 
        font-weight: 400
        font-size: 20px
        line-height: 30px
        color: $brown 

        @media (max-width: 899px)
            font-size: 18px

        @media (max-width: 639px)
            line-height: 25px

    &__field-wrapper 
        position: relative

    &__field 
        @include field-reset
        padding: 0 40px 0 16px
        height: 34px
        font-family: $font-alt
        font-size: 13px
        line-height: 34px
        border: 1px solid $lines-d

    &__btn 
        @include btn-reset
        @include centerV 
        right: 10px
        width: 18px
        height: 18px
        font-size: 0