.subscription-history
    display: flex
    flex-direction: column
    padding-top: 74px
    font-family: $font-alt

    @media (max-width: 899px)
        padding-top: 40px

    h2 
        margin: 0 0 13px
        font-weight: 400
        font-size: 28px
        line-height: 1.2

        @media (max-width: 899px)
            font-size: 20px
            letter-spacing: -0.3px

        @media (max-width: 639px)
            margin-bottom: 15px

    ul 
        @include list-reset
        margin-bottom: 51px
        border-top: 1px solid rgba(47, 47, 47, 0.2)

        @media (max-width: 639px)
            margin-bottom: 48px

    &__item 
        display: flex
        align-items: center
        border-bottom: 1px solid rgba(47, 47, 47, 0.2)

    &__total 
        margin: 0 0 0 auto
        padding: 18px 0
        font-size: 28px
        line-height: 34px
        color: rgba(47, 47, 47, 0.6)

        @media (max-width: 899px)
            padding: 14px 0 21px
            font-size: 20px

    &__transaction 
        flex-grow: 1
        display: flex
        margin: 0
        max-width: 67.5%
        font-size: 17px
        line-height: 21px

        @media (max-width: 1399px)
            max-width: 71.5%

        @media (max-width: 899px)
            display: block
            font-size: 15px

        @media (max-width: 639px)
            max-width: 75%
            white-space: nowrap
            overflow: hidden 
            text-overflow: ellipsis

    &__date 
        margin-left: auto
        font-size: 14px
        line-height: 21px
        color: rgba(47, 47, 47, 0.6)

        @media (max-width: 899px)
            margin-left: 0
            display: block
            font-size: 12px

    &__btn 
        margin: 0 auto
        min-width: 240px
        font-size: 17px
        line-height: 22px

        @media (max-width: 899px)
            min-width: 284px
            font-size: 15px
            line-height: 16px