.text-block 
    position: relative
    padding-bottom: 79px
    border-bottom: 2px solid rgba(47, 47, 47, 0.2)

    @media (max-width: $screenM - 1)
        padding-bottom: 26px
        border-bottom-width: 1px

    &__wrapper
        margin: 0 auto 
        width: 50%
        min-width: 550px
        max-width: 750px

        @media (max-width: $screenM - 1)
            width: 49%
            min-width: 435px

        @media (max-width: $screenXS-s - 1)
            box-sizing: border-box 
            padding-left: 16px
            padding-right: 16px
            width: 100%
            min-width: 280px

    h2 
        margin: 0 0 20px 0
        font-family: $font-alt
        font-weight: 400
        font-size: 30px
        line-height: 32px

        @media (max-width: $screenM - 1)
            margin-bottom: 30px
            font-size: 20px
            line-height: 26px

    h3
        margin: 0 0 15px 0
        font-family: $font-alt
        font-weight: 400
        font-size: 30px
        line-height: 32px

        @media (max-width: $screenM - 1)
            margin-bottom: 4px
            font-size: 20px
            line-height: 26px

    p 
        margin: 0 0 26px 0
        font-size: 20px
        line-height: 29px

        @media (max-width: $screenM - 1)
            font-size: 15px
            line-height: 20px

        @media (max-width: $screenXS-s - 1)
            line-height: 22px

        &.text-block__label 
            font-size: 28px
            line-height: 34px

            @media (max-width: $screenXL - 1)
                font-size: 17px
                line-height: 32px

            @media (max-width: $screenS - 1)
                margin-bottom: 40px
                padding-left: 51px
                font-size: 19px

            @media (max-width: $screenXS - 1)
                margin-bottom: 51px
                padding-left: 35px

            @media (max-width: $screenXS-s - 1)
                padding-left: 16px
                margin-bottom: 48px

    ul 
        @include list-reset
        margin-top: -7px
        padding-left: 32px

        @media (max-width: $screenM - 1)
            margin-top: -11px
            margin-bottom: 20px
            padding-left: 55px

        @media (max-width: $screenXS - 1)
            padding-left: 36px

        @media (max-width: $screenXS-s - 1)
            margin-top: 2px

        li 
            margin-bottom: 22px
            position: relative
            padding-left: 13px
            font-size: 17px
            line-height: 22px

            @media (max-width: $screenM - 1)
                margin-bottom: 18px
                font-size: 14px
                line-height: 18px
                letter-spacing: -0.3px

            &:before 
                content: ""
                position: absolute
                top: 9px
                left: 0
                width: 5px
                height: 5px
                background-color: $textColor
                border-radius: 50%

    &__label 
        margin: 0
        padding-left: 16px
        font-family: $font-alt
        font-size: 28px
        line-height: 34px

    &__headline 
        display: flex
        align-items: flex-start
        margin: 0 0 40px
        font-weight: 400
        font-size: 54px
        line-height: 57px
        letter-spacing: -1.2px

        @media (max-width: $screenS - 1)
            display: block
            margin-bottom: 64px
            font-size: 25px
            line-height: 30px

        @media (max-width: $screenXS-s - 1)
            margin-bottom: 23px

        .number
            margin-left: -75px
            box-sizing: border-box
            padding-right: 4px
            min-width: 75px
            font-family: $font-alt 
            font-size: 55px
            line-height: 54px
            color: $brown
            @include numeric

            @media (max-width: $screenS - 1)
                margin-left: 0
                width: auto
                font-size: 30px
                line-height: 30px

    &__quote 
        position: relative
        margin: 32px 0 38px 0
        padding-left: 118px
        font-family: $font-alt 
        font-weight: 400
        font-size: 23px
        line-height: 34px
        color: rgba(47, 47, 47, 0.6)

        @media (max-width: $screenM - 1)
            margin: 35px 0 17px 0
            padding-left: 59px
            font-size: 20px
            line-height: 26px

        @media (max-width: $screenXS-s - 1)
            margin-top: 22px
            padding-left: 56px

        .brown
            position: absolute
            left: 103px
            top: 0
            display: block
            color: $brown

            @media (max-width: $screenM - 1)
                left: 41px

            @media (max-width: $screenXS-s - 1)
                left: 38px


.text-intro
    margin-bottom: 36px

    @media (max-width: $screenM - 1)
        margin-bottom: 19px

    p
        margin: 0 0 26px 0
        font-size: 20px
        line-height: 29px

        @media (max-width: $screenM - 1)
            margin-bottom: 14px
            font-size: 15px
            line-height: 20px

        @media (max-width: $screenXS-s - 1)
            margin-bottom: 26px
            line-height: 19px

            br 
                display: none

    .first-letter 
        float: left
        width: 50px
        //height: 29px
        font-family: $font-alt 
        font-weight: 400
        font-size: 61px
        line-height: 58px
        color: $brown

        @media (max-width: $screenM - 1)
            margin-top: 3px
            width: 38px
            //height: 18px
            font-size: 43px
            line-height: 35px
