.user-block
    max-height: 36px

    &.opened 

        .user-tooltip 
            opacity: 1
            z-index: 1

        .user-block__header:after 
            transform: translateY(-50%) rotate(-135deg)
            margin-top: -2px

    &__header 
        position: relative
        padding-left: 25px
        cursor: pointer

        &:before 
            content: ""
            position: absolute
            left: 0
            top: 50%
            margin-top: -31px
            width: 1px
            height: 63px
            background-color: rgba(47, 47, 47, 0.15)

            @media (max-width: $screenS - 1)
                display: none

        &:after 
            content: ""
            position: absolute
            top: 50%
            transform: translateY(-50%) rotate(45deg)
            right: 25px
            margin-top: -4px
            width: 11px
            height: 11px
            border: 2px solid rgba(47, 47, 47, 0.2)
            border-left: none 
            border-top: none
            transition: transform 0.3s ease

    &__name
        box-sizing: border-box
        margin: 0
        margin-bottom: 6px
        padding-right: 65px
        width: 126px
        text-align: left
        font-family: $font-alt
        font-size: 14px
        color: rgba(47, 47, 47, 0.6)

        .user-block.opened &,
        &:hover
            color: rgba(47, 47, 47, 1)

    ul 
        display: none

    @media (max-width: $screenS - 1)
        display: flex 
        flex-direction: column
        padding-top: 10px

        ul 
            display: block
            margin: 0 0 33px 0
            padding: 0
            list-style: none
            font-family: $font-alt 
            font-size: 14px
            line-height: 36px

        li
            margin-bottom: 6px

        a 
            color: rgba(255, 255, 255, 0.6)


.login-btn 
    position: relative
    display: flex 
    align-items: center
    padding-top: 10px
    padding-left: 32px
    padding-right: 35px
    text-transform: uppercase
    font-family: $font-alt
    font-size: 14px
    line-height: 22px
    letter-spacing: 1.7px
    color: $textColor
    opacity: 0.6

    &:before 
        content: ""
        position: absolute
        left: 0
        top: 50%
        margin-top: -31px
        width: 1px
        height: 63px
        background-color: rgba(47, 47, 47, 0.15)

        @media (max-width: $screenS - 1)
            display: none

    @media (max-width: $screenS - 1)
        padding-left: 0
        padding-right: 0
        padding-top: 11px
        padding-bottom: 10px
        text-transform: initial
        font-size: 17px
        color: rgba(255, 255, 255, 0.4)

    svg 
        margin-right: 8px

        @media (max-width: $screenS - 1)
            margin-right: 8px
            fill: #fff

.logout-btn
    position: relative
    display: flex 
    align-items: center
    //display: none
    padding-top: 0
    padding-bottom: 0
    //padding-left: 32px
    padding-right: 35px
    font-family: $font-alt
    font-size: 14px
    line-height: 22px
    color: rgba(255, 255, 255, 0.6)

    @media (max-width: $screenS - 1)
        padding-right: 0
        padding-bottom: 10px
        font-size: 17px
        line-height: 21px
        color: rgba(255, 255, 255, 0.6)

    svg 
        margin-right: 8px
        fill: #fff

        @media (max-width: $screenS - 1)
            margin-right: 6px

.page-header.opened 

    .user-block__header
        padding-left: 0

    .user-block__name
        margin-bottom: 13px
        padding-right: 0
        width: auto
        font-family: $font
        font-size: 29px
        line-height: 40px
        color: #fff

ul.user-tooltip
    position: absolute
    right: 0
    top: 100%
    display: block
    margin: 0
    box-sizing: border-box 
    padding: 13px 12px 10px 26px
    width: 216px
    list-style: none
    font-family: $font-alt 
    font-size: 14px
    line-height: 24px
    color: #fff
    background-color: $textColor
    border-radius: 4px
    box-shadow: 0 2px 13px 0px rgba(0,0,0,0.2)
    opacity: 0
    z-index: -100

    @media (max-width: $screenS - 1)
        padding: 0
        width: auto
        font-size: 17px
        box-shadow: none
        opacity: 1
        z-index: 1

    &:before 
        content: ""
        position: absolute
        top: -7px
        right: 35px
        width: 0
        height: 0
        border-style: solid
        border-width: 0 9px 11px 9px
        border-color: $transparent $transparent $textColor $transparent

        @media (max-width: $screenS - 1)
            display: none


    li 
        padding: 4px 0

        @media (max-width: $screenS - 1)
            margin-bottom: 13px

    a 
        color: rgba(255, 255, 255, 0.6)
        transition: opacity 0.3s ease

        &:hover 
            color: #fff

    @media (max-width: $screenS - 1)
        position: static

.user-subscription
    display: flex
    width: 100%

    &__label 
        position: relative
        margin: 0
        padding-left: 22px

    &__days 
        margin: 0
        margin-left: auto

    &._expiring 

        .user-subscription

            &__days 
                color: #FECE00

            &__label

                &::before 
                    content: ""
                    position: absolute
                    top: 6px
                    left: 0
                    width: 12px
                    height: 12px
                    background-color: #FECE00
                    border-radius: 50%

    &._inactive 

        .user-subscription

            &__label

                &::before 
                    content: ""
                    position: absolute
                    top: 6px
                    left: 0
                    width: 12px
                    height: 12px
                    background-color: #E02F37
                    border-radius: 50%

    &._ok

        .user-subscription

            &__label

                &::before 
                    content: ""
                    position: absolute
                    top: 0
                    left: 2px
                    width: 8px
                    height: 12px
                    border-top: 2px solid #3D9440
                    border-left: 2px solid #3D9440
                    transform: rotate(-135deg)