.video-block
    position: relative
    padding-top: 43.75%

    @media (max-width: 1023px) 
        padding-top: 56.25%

    @media (max-width: 639px)
        order: -1
        margin-top: 20px

    video 
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: block
        width: 100%
        height: 100%

        @media (max-width: 1023px) 
            @include center
            height: 100%
            width: auto
            min-width: 100%

    &__btn 
        @include center
        @include btn-reset
        @include hover
        width: 102px
        height: 90px

        @media (max-width: 1023px)
            transform: translate(-50%, -50%) scale(0.5)

        &:before 
            content: ""
            @include center 
            width: 0
            height: 0
            border-style: solid
            border-width: 45px 0 45px 102px
            border-color: $transparent $transparent $transparent #fff
