@import normalize
@import fonts.scss
@import mask.sass
@import animation.sass


// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    min-width: 1900px
    font-family: $font
    font-size: 16px
    line-height: 21px
    color: $textColor
    background-color: #fff

    @media (max-width: $screenXXL - 1)
        min-width: 1385px

    @media (max-width: $screenXL - 1)
        min-width: 1280px

    @media (max-width: $screenL - 1)
        min-width: 1009px

    @media (max-width: $screenM - 1)
        min-width: 885px

    @media (max-width: $screenS - 1)
        min-width: 768px

    @media (max-width: $screenXS - 1)
        min-width: 640px

    @media (max-width: $screenXXS - 1)
        min-width: 500px

    @media (max-width: $screenMob - 1)
        min-width: 320px

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &.overflow 
        height: 100%
        overflow: hidden

.global-wrapper
    display: flex
    flex-direction: column
    margin: 0 auto
    min-height: 100vh
    position: relative
    overflow: hidden

.layout-positioner
    position: relative
    box-sizing: border-box
    margin: 0 auto
    padding: 0 10px
    width: 1200px

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden

.svg-wrapper 
    position: absolute
    opacity: 0
    z-index: -100

.visually-hidden
    position: absolute !important
    clip: rect(1px 1px 1px 1px)
    clip: rect(1px, 1px, 1px, 1px)
    padding:0 !important
    border:0 !important
    height: 1px !important 
    width: 1px !important 
    overflow: hidden
