.fade 

    @media (min-width: 601px)

        .player-block 
            opacity: 0

        .player-wrapper .link-to-transcript
            opacity: 0
            transform: translateX(20px)

        #fp-nav
            opacity: 0
            transform: translateX(20px)

    @media (min-width: 901px)

        #fp-nav
            opacity: 0
            transform: translateX(20px)

        &[data-page="fullpage"] .lectures-menu  
            opacity: 0

        .lecture-frame
            opacity: 0

        .lecture-wrapper .link-to-transcript
            opacity: 0
            transform: translateX(20px)
            
