// Fira Sans

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.eot');
  src: url('../fonts/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Regular.woff2') format('woff2'),
         url('../fonts/FiraSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.eot');
  src: url('../fonts/FiraSans-Bold.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Bold.woff2') format('woff2'),
         url('../fonts/FiraSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
