._mask01 image
    clip-path: url("#clipping01")
    min-height: 100%
    min-width: 100%

._mask02 image
    clip-path: url("#clipping02")
    min-height: 100%
    min-width: 100%

._mask03 image
    clip-path: url("#clipping03")
    min-height: 100%
    min-width: 100%

._mask04 image
    clip-path: url("#clipping04")
    min-height: 100%
    min-width: 100%

._mask05 image
    clip-path: url("#clipping05")
    min-height: 100%
    min-width: 100%

._mask06 image
    clip-path: url("#clipping06")
    min-height: 100%
    min-width: 100%

._mask07 image
    clip-path: url("#clipping07")
    min-height: 100%
    min-width: 100%

._mask08 image
    clip-path: url("#clipping08")
    min-height: 100%
    min-width: 100%

._mask09 image
    clip-path: url("#clipping09")
    min-height: 100%
    min-width: 100%

._mask10 image
    clip-path: url("#clipping10")
    min-height: 100%
    min-width: 100%

._mask11 image
    clip-path: url("#clipping11")
    min-height: 100%
    min-width: 100%

._mask12 image
    clip-path: url("#clipping12")
    min-height: 100%
    min-width: 100%