// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXXL: 1900px;
$screenXL: 1400px;
$screenL: 1280px;
$screenM: 1024px;
$screenS: 900px;
$screenXS: 768px;
$screenXS-s: 600px;
$screenXXS: 640px;
$screenMob: 500px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0);
$textColor: rgba(47, 47, 47, 1);
$textColor-l: rgba(47, 47, 47, 0.6);
$brown: rgba(200, 104, 76, 1);
$brown-l: rgba(200, 104, 76, 0.5);
$red: #E02F37;

$lines: rgba(255, 255, 255, 0.2);
$lines-d: rgba(47, 47, 74, 0.2);
// ----------------------------------------------------------------------
    // Gradients
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: 'PT Serif', serif;
$font-alt: 'Fira Sans', Arial, sans-serif;
$font-al: 'Alegreya Sans', Arial, sans-serif;
