<div class="announces">
    <div class="announces__wrapper">
        <div class="lecture-announce">
            <div id="trigger1"></div>
            <div class="lecture-announce__image-block">
                <img src="assets/images/lecture011.jpg" width="533" height="346" alt="">
            </div>
            <div class="lecture-announce__info-block">
                <p class="lecture-announce__date">18 января</p>
                <div class="lecture-announce__descr">
                    <p>Отношение античных мыслителей к письменному слову, место письменной речи в культуре философских школ.</p>
                    <a href="#" class="lecture-announce__link"><span>Читать еще</span></a>
                </div>
            </div>
        </div>
        <div class="lecture-announce">
            <div id="trigger2"></div>
            <div class="lecture-announce__image-block">
                <img src="assets/images/lecture012.jpg" width="533" height="346" alt="">
            </div>
            <div class="lecture-announce__info-block">
                <p class="lecture-announce__date">18 января</p>
                <div class="lecture-announce__descr">
                    <p>Отношение античных мыслителей к письменному слову, место письменной речи в культуре философских школ.</p>
                    <a href="#" class="lecture-announce__link"><span>Читать еще</span></a>
                </div>
            </div>
        </div>
    </div>
</div>