<div class="author-block">
    <div class="author-block__inner">
        <div class="author-block__col">
    <div class="author-block__image">
        <img src="assets/images/author02.jpg" width="583" height="884" alt="">
    </div>
</div>
<div class="author-block__col">
    <div class="author-block__info">
        <h2 class="author-block__name">Лекманов Олег Андершанович</h2>
        <p class="author-block__descr">Окончил Московский педагогический государственный университет (1991). Кандидатская диссертация о книге Осипа Мандельштама «Камень» (1995), докторская диссертация «Акмеизм как литературная школа (опыт структурной характеристики)» (2002). Профессор факультета журналистики МГУ (2006—2013), профессор факультета филологии Высшей школы экономики (с 2011).</p>
        <div class="book-card _desktop">
            <div class="book-card__inner">
                <div class="book-card__image">
                    <img src="assets/images/book02.png" width="145" height="222" alt="">
                </div>
                <div class="book-card__info">
                    <h3 class="book-card__title">Обними меня крепче </h3>
                    <p class="book-card__author">Сью Джонсон</p>
                    <a href="#" class="btn btn--gray book-card__btn">
                        <span>Купить книгу <span class="price">350p.</span></span>
                    </a>
                    <p class="book-card__descr">Когда люди слышат, что я соблюдаю распорядок, каждый день пишу, посвящаю время иностранному языку, работаю над крупным проектом, а через день хожу в спортзал, их изумляет моя дисциплина. Но на самом деле это всего лишь привычки, которые наделяют меня суперспособностями.</p>
                </div>
            </div>
        </div>
        <div class="book-card book-card--full _mobile">
            <div class="book-card__inner">
                <div class="book-card__image">
                    <img src="assets/images/book02.png" width="145" height="222" alt="">
                </div>
                <div class="book-card__info">
                    <h3 class="book-card__title">Обними меня крепче </h3>
                    <p class="book-card__author">Сью Джонсон</p>
                    <a href="#" class="btn btn--gray book-card__btn">
                        <span>Купить книгу <span class="price">350p.</span></span>
                    </a>
                </div>
            </div>
            <p class="book-card__descr">Когда люди слышат, что я соблюдаю распорядок, каждый день пишу, посвящаю время иностранному языку, работаю над крупным проектом, а через день хожу в спортзал, их изумляет моя дисциплина. Но на самом деле это всего лишь привычки, которые наделяют меня суперспособностями.</p>
        </div>
    </div>
</div>
    </div>
</div>
<div class="author-block">
    <div class="author-block__subtitle js-author-block-trigger active">
        <h3>Курсы</h3>
    </div>
    <div class="author-block__wrap js-author-block-content author-block__content opened">
        <div class="course-announce">
            <div class="course-announce__col">
                <div class="course-announce__image _mask01">
                    <svg viewBox="0 0 574 503" width="574" height="503">
                        <image preserveAspectRatio="xMaxYMax slice" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/gallery06.jpg"></image>
                    </svg>
                </div>
            </div>
            <div class="course-announce__col">
                <h3 class="course-announce__title">
                    <a href="#"><span class="course-announce__label">Курс:</span> Буддизм: история, философия, доктрина, практика</a>
                </h3>
                <div class="course-announce__row">
                    <div class="course-announce__progress">
                        <span class="course-announce__progress-label">Вышло</span>
                        <span class="course-announce__progress-actual">10</span>
                        <span class="course-announce__progress-total">/13</span>
                    </div>
                    <a href="#" class="btn btn--gray course-announce__btn">Подробнее о курсе</a>
                </div>
            </div>
        </div>
        <div class="course-announce">
            <div class="course-announce__col">
                <div class="course-announce__image _mask01">
                    <svg viewBox="0 0 574 503" width="574" height="503">
                        <image preserveAspectRatio="xMaxYMax slice" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/gallery08.jpg"></image>
                    </svg>
                </div>
            </div>
            <div class="course-announce__col">
                <h3 class="course-announce__title">
                    <a href="#"><span class="course-announce__label">Курс:</span> Довоенная советская литература</a>
                </h3>
                <div class="course-announce__row">
                    <div class="course-announce__progress">
                        <span class="course-announce__progress-label">Вышло</span>
                        <span class="course-announce__progress-actual">10</span>
                        <span class="course-announce__progress-total">/13</span>
                    </div>
                    <a href="#" class="btn btn--gray course-announce__btn">Подробнее о курсе</a>
                </div>
            </div>
        </div>
    </div>
    <div class="author-block__subtitle js-author-block-trigger active">
        <h3>Лекции и доп. эпизоды</h3>
    </div>
    <ul class="lectures-tab js-author-block-content author-block__content opened">
        <li class="lecture-full">
            <div class="lecture-full__wrapper">
                <div class="lecture-full__play-block">
                    <div class="play-block play-block--big">
                        <div class="play-block__image-wrapper" style="background-image: url('assets/images/play-big02.png')"></div>
                        <div class="play-block__loader" id="cont01" data-pct="100">
                            <svg class="svg-loader" id="svg01" width="200" height="200" viewport="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0" style="r: 153.5px;"></circle>
                                <circle class="bar" id="bar01" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0" style="r: 153.5px; stroke-dasharray: 964.469px; stroke-dashoffset: 231.473px;"></circle>
                            </svg>
                        </div>
                        <div class="play-block__btn">
                            <svg width="41" height="36">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
                            </svg>
                        </div>
                        <div class="play-block__tooltip">Смотреть</div>
                        <div class="play-block__duration">35:18</div>
                        <!-- <div class="play-block__action">
                            <div class="play-block__action-loader"></div>
                            <div class="play-block__action-btn">
                                <svg class="action-btn" width="14" height="14">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#reload-small"></use>
                                </svg>
                            </div>
                            <div class="play-block__action-tooltip">С начала</div>
                        </div> -->
                    </div>
                </div>
                <div class="lecture-full__info-block">
                    <div class="lecture-full__text-block">
                        <a class="lecture-full__source"><span class="label">Курс:</span> Довоенная советская литература</a>
                        <h3 class="lecture-full__title"><a href="#">Писатель и государство после 1917 года.</a></h3>
                        <p class="lecture-full__descr">  История поэтапного движения «государства нового типа» в сторону тотального контроля над литературным процессом и жизнью писателей в 1920-е и 30-е годы. </p>
                    </div>
                    <div class="lecture-full__info-table">
                        <div class="lecture-full__info-table-col">
                            <span class="icon">
                                <svg width="18" height="18">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eps"></use>
                                </svg>
                            </span>
                            <p class="lecture-full__info-table-label">Доп. эпизоды</p>
                            <p class="lecture-full__info-table-value">3</p>
                        </div>
                        <div class="lecture-full__info-table-col">
                            <span class="icon">
                                <svg width="18" height="18">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lit"></use>
                                </svg>
                            </span>
                            <p class="lecture-full__info-table-label">Литература</p>
                            <p class="lecture-full__info-table-value">5</p>
                        </div>
                        <div class="lecture-full__info-table-col">
                            <span class="icon">
                                <svg width="18" height="18">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#books"></use>
                                </svg>
                            </span>
                            <p class="lecture-full__info-table-label">Книги</p>
                            <p class="lecture-full__info-table-value">1</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>