<section class="authors">
    <div class="authors__inner">
        <div class="authors__header">
            <h1 class="authors__title">Авторы <span class="number">12</span></h1>
        </div>
        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author001.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Виктор Листов</h2>
                <p class="author-card__lectures">
                    <span class="number">1</span>
                    <span class="label">Курс</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author002.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Евгения Кольцова</h2>
                <p class="author-card__lectures">
                    <span class="number">1</span>
                    <span class="label">Курс</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author003.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Ирина Языкова</h2>
                <p class="author-card__lectures">
                    <span class="number">2</span>
                    <span class="label">Курсa</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author004.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Кирилл Светляков</h2>
                <p class="author-card__lectures">
                    <span class="number">1</span>
                    <span class="label">Курс</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author005.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Михаил Кукин</h2>
                <p class="author-card__lectures">
                    <span class="number">1</span>
                    <span class="label">Курс</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author006.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Олег Лекманов</h2>
                <p class="author-card__lectures">
                    <span class="number">2</span>
                    <span class="label">Курсa</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author007.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Олег Воскобойников</h2>
                <p class="author-card__lectures">
                    <span class="number">1</span>
                    <span class="label">Курс</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author008.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Ольга Алиева</h2>
                <p class="author-card__lectures">
                    <span class="number">1</span>
                    <span class="label">Курс</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author009.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Роман Насонов</h2>
                <p class="author-card__lectures">
                    <span class="number">1</span>
                    <span class="label">Курс</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author010.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name"> Сергей Мельников</h2>
                <p class="author-card__lectures">
                    <span class="number">1</span>
                    <span class="label">Курс</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author011.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Сергей Щербак</h2>
                <p class="author-card__lectures">
                    <span class="number">1</span>
                    <span class="label">Курс</span>
                </p>
            </div>
        </a>

        <a href="#" class="author-card">
            <div class="author-card__image">
                <img src="assets/images/author012.jpg" width="162" height="207" alt="">
            </div>
            <div class="author-card__info">
                <h2 class="author-card__name">Федор Синельников</h2>
                <p class="author-card__lectures">
                    <span class="number">2</span>
                    <span class="label">Курсa</span>
                </p>
            </div>
        </a>

        <div class="dummy js-dummy"></div>
    </div>
</section>