<div class="books-tab">
    <div class="books-tab__inner">
        <div class="books-tab__item book-card book-card--full">
            <div class="book-card__inner">
                <div class="book-card__image">
                    <img src="assets/images/book03.png" width="145" height="222" alt="">
                </div>
                <div class="book-card__info">
                    <h3 class="book-card__title">Обними меня крепче </h3>
                    <p class="book-card__author">Сью Джонсон</p>
                    <a href="#" class="btn btn--gray book-card__btn">
                        <span>Купить ↗ <span class="price">350p.</span></span>
                    </a>
                </div>
            </div>
            <p class="book-card__descr">Когда люди слышат, что я соблюдаю распорядок, каждый день пишу, посвящаю время иностранному языку, работаю над крупным проектом, а через день хожу в спортзал, их изумляет моя дисциплина. Но на самом деле это всего лишь привычки, которые наделяют меня суперспособностями.</p>
        </div>
        <div class="books-tab__item book-card book-card--full">
            <div class="book-card__inner">
                <div class="book-card__image">
                    <img src="assets/images/book04.png" width="156" height="221" alt="">
                </div>
                <div class="book-card__info">
                    <h3 class="book-card__title">Искусство формы. Мой курс в Баухаузе и других школах </h3>
                    <p class="book-card__author">Иоханнес Иттен</p>
                    <a href="#" class="btn btn--gray book-card__btn">
                        <span>Купить ↗ <span class="price">350p.</span></span>
                    </a>
                </div>
            </div>
            <p class="book-card__descr">Когда люди слышат, что я соблюдаю распорядок, каждый день пишу, посвящаю время иностранному языку, работаю над крупным проектом, а через день хожу в спортзал, их изумляет моя дисциплина. Но на самом деле это всего лишь привычки, которые наделяют меня суперспособностями.</p>
        </div>
        <div class="books-tab__item book-card book-card--full">
            <div class="book-card__inner">
                <div class="book-card__image">
                    <img src="assets/images/book05.png" width="145" height="222" alt="">
                </div>
                <div class="book-card__info">
                    <h3 class="book-card__title">Обними меня крепче </h3>
                    <p class="book-card__author">Сью Джонсон</p>
                    <a href="#" class="btn btn--gray book-card__btn">
                        <span>Купить ↗ <span class="price">350p.</span></span>
                    </a>
                </div>
            </div>
            <p class="book-card__descr">Когда люди слышат, что я соблюдаю распорядок, каждый день пишу, посвящаю время иностранному языку, работаю над крупным проектом, а через день хожу в спортзал, их изумляет моя дисциплина. Но на самом деле это всего лишь привычки, которые наделяют меня суперспособностями.</p>
        </div>
        <div class="books-tab__item book-card book-card--full">
            <div class="book-card__inner">
                <div class="book-card__image">
                    <img src="assets/images/book02.png" width="145" height="222" alt="">
                </div>
                <div class="book-card__info">
                    <h3 class="book-card__title">Обними меня крепче </h3>
                    <p class="book-card__author">Сью Джонсон</p>
                    <a href="#" class="btn btn--gray book-card__btn">
                        <span>Купить ↗ <span class="price">350p.</span></span>
                    </a>
                </div>
            </div>
            <p class="book-card__descr">Когда люди слышат, что я соблюдаю распорядок, каждый день пишу, посвящаю время иностранному языку, работаю над крупным проектом, а через день хожу в спортзал, их изумляет моя дисциплина. Но на самом деле это всего лишь привычки, которые наделяют меня суперспособностями.</p>
        </div>
        <div class="books-tab__item book-card book-card--full">
            <div class="book-card__inner">
                <div class="book-card__image">
                    <img src="assets/images/book05.png" width="145" height="222" alt="">
                </div>
                <div class="book-card__info">
                    <h3 class="book-card__title">Обними меня крепче </h3>
                    <p class="book-card__author">Сью Джонсон</p>
                    <a href="#" class="btn btn--gray book-card__btn">
                        <span>Купить ↗ <span class="price">350p.</span></span>
                    </a>
                </div>
            </div>
            <p class="book-card__descr">Когда люди слышат, что я соблюдаю распорядок, каждый день пишу, посвящаю время иностранному языку, работаю над крупным проектом, а через день хожу в спортзал, их изумляет моя дисциплина. Но на самом деле это всего лишь привычки, которые наделяют меня суперспособностями.</p>
        </div>
    </div>
</div>