<div class="course-tabs js-tabs">
    <ul class="course-tab-controls">
        <li class="course-tab-control js-tab-control active">
            <span class="course-tab-control__title">Лекции</span>
            <span class="course-tab-control__label">Вышло</span>
            <span class="course-tab-control__actual">10</span>
            <span class="course-tab-control__total">/13</span>
        </li>
        <li class="course-tab-control js-tab-control">
            <span class="course-tab-control__title _desktop">Список для чтения:</span>
            <span class="course-tab-control__title _mobile">Книги</span>
            <span class="course-tab-control__actual">23 </span>
            <span class="course-tab-control__label">книги</span>
        </li>
    </ul>
    <ul class="course-tabs-list">
        <li class="course-tab js-tab active">
            //= lectures-tab.html
        </li>
        <li class="course-tab js-tab">
            //= books-tab.html
        </li>
    </ul>
</div>