<div class="favourites">
    <div class="fav-card">
        <div class="fav-card__header">
            <h3 class="fav-card__title">
                <a href="#">
                    <span class="fav">
                        <svg width="14" height="23">
                            <use xlink:href="#fav" />
                        </svg>
                    </span>
                    <span class="fav-card__title-text"><span class="label">Курс:</span> Религия Древней Индии: Веды, Упанишады, шраманы</span>
                </a>
            </h3>
            <div class="fav-card__info">
                <a href="#" class="fav-card__info-link _author">Олег Воскобойников</a>
                <a href="#" class="fav-card__info-link _tag">История</a>
            </div>
        </div>
        <div class="fav-card__body">
            <div class="fav-card__col">
                <a href="#" class="btn btn--rounded fav-card__link">Подробнее о курсе</a>
            </div>
            <div class="fav-card__col">
                <div class="fav-card__image-block _mask05">
                    <svg viewBox="0 0 563 514" width="563" height="514">
                        <image preserveAspectRatio="xMaxYMax slice" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/bg-frame01.png" width="713" height="514"></image>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="fav-card">
        <div class="fav-card__header">
            <h3 class="fav-card__title">
                <a href="#">
                    <span class="fav">
                        <svg width="14" height="23">
                            <use xlink:href="#fav" />
                        </svg>
                    </span>
                    <span class="fav-card__title-text"><span class="label">Курс:</span> Древнерусская архитектура</span>
                </a>
            </h3>
            <div class="fav-card__info">
                <a href="#" class="fav-card__info-link _author">Андрей Виноградов,</a>
                <a href="#" class="fav-card__info-link _author">Лев Масиель Санчес</a>
                <a href="#" class="fav-card__info-link _tag">История</a>
            </div>
        </div>
        <div class="fav-card__body">
            <div class="fav-card__col">
                <a href="#" class="btn btn--rounded fav-card__link">Подробнее о курсе</a>
            </div>
            <div class="fav-card__col">
                <div class="fav-card__image-block _mask05">
                    <svg viewBox="0 0 563 514" width="563" height="514">
                        <image preserveAspectRatio="xMaxYMax slice" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/bg-frame01.png" width="713" height="514"></image>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="fav-card">
        <div class="fav-card__header">
            <h3 class="fav-card__title">
                <a href="#">
                    <span class="fav">
                        <svg width="14" height="23">
                            <use xlink:href="#fav" />
                        </svg>
                    </span>
                    <span class="fav-card__title-text"><span class="label">Курс:</span> Религия Древней Индии: Веды, Упанишады, шраманы</span>
                </a>
            </h3>
            <div class="fav-card__info">
                <a href="#" class="fav-card__info-link _author">Олег Воскобойников</a>
                <a href="#" class="fav-card__info-link _tag">История</a>
            </div>
        </div>
        <div class="fav-card__body">
            <div class="fav-card__col">
                <a href="#" class="btn btn--rounded fav-card__link">Подробнее о курсе</a>
            </div>
            <div class="fav-card__col">
                <div class="fav-card__image-block _mask05">
                    <svg viewBox="0 0 563 514" width="563" height="514">
                        <image preserveAspectRatio="xMaxYMax slice" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/bg-frame01.png" width="713" height="514"></image>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>