<div class="favourites">
    <div class="favourites__message">
        <b>Тут пока пусто</b>
        <p>Вы можете отмечать курсы или лекции  <i>символом закладки</i>&nbsp;<svg width="14" height="23"><use xlink:href="#flag-red" /></svg> <br>и&nbsp;они всегда будут доступны из&nbsp;этого раздела.</p>
    </div>
</div>