<div class="gallery-slider-wrapper js-gallery-slider-wrapper">
    <div class="gallery-slider swiper-container js-gallery-slider">
        <div class="gallery-wrapper swiper-wrapper">
            <a href="javascript:;" data-src="#gallery01" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery01.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">1.</span>Афинская школа. 1511 <br>Фреска. Художник – Рафаэль Санти (итал. Raffaello Santi, 1483–1520). Апостольский дворец, Ватикан</p>
            </a>
            <a href="javascript:;" data-src="#gallery02" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery02-full.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">2.</span>Титульный лист второго издания «Жизнеописаний…» Джорджо Вазари. Том 2. 1568</p>
            </a>
            <a href="javascript:;" data-src="#gallery03" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery03.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">3.</span>Братия аббатства св. Мартина преподносит Библию королю Карлу. Ок. 845 г. Миниатюра из Первой Библии Карла Лысого. Национальная библиотека Франции, Париж</p>
            </a>
            <a href="javascript:;" data-src="#gallery04" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery04.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">4.</span>Афинская школа. 1511 <br>Фреска. Художник – Рафаэль Санти (итал. Raffaello Santi, 1483–1520). Апостольский дворец, Ватикан</p>
            </a>
            <a href="javascript:;" data-src="#gallery05" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery05.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">5.</span>Титульный лист второго издания «Жизнеописаний…» Джорджо Вазари. Том 2. 1568</p>
            </a>
            <a href="javascript:;" data-src="#gallery06" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery06.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">5.</span>Афинская школа. 1511 <br>Фреска. Художник – Рафаэль Санти (итал. Raffaello Santi, 1483–1520). Апостольский дворец, Ватикан</p>
            </a>
            <a href="javascript:;" data-src="#gallery01" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery01.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">1.</span>Афинская школа. 1511 <br>Фреска. Художник – Рафаэль Санти (итал. Raffaello Santi, 1483–1520). Апостольский дворец, Ватикан</p>
            </a>
            <a href="javascript:;" data-src="#gallery02" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery02-full.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">2.</span>Титульный лист второго издания «Жизнеописаний…» Джорджо Вазари. Том 2. 1568</p>
            </a>
            <a href="javascript:;" data-src="#gallery03" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery03.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">3.</span>Братия аббатства св. Мартина преподносит Библию королю Карлу. Ок. 845 г. Миниатюра из Первой Библии Карла Лысого. Национальная библиотека Франции, Париж</p>
            </a>
            <a href="javascript:;" data-src="#gallery04" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery04.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">4.</span>Афинская школа. 1511 <br>Фреска. Художник – Рафаэль Санти (итал. Raffaello Santi, 1483–1520). Апостольский дворец, Ватикан</p>
            </a>
            <a href="javascript:;" data-src="#gallery05" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery05.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">5.</span>Титульный лист второго издания «Жизнеописаний…» Джорджо Вазари. Том 2. 1568</p>
            </a>
            <a href="javascript:;" data-src="#gallery06" data-fancybox="gallery-group" class="gallery-slide swiper-slide">
                <div class="gallery-slide__image">
                    <img src="assets/images/gallery06.jpg" alt="">
                </div>
                <p class="gallery-slide__caption dots"><span class="number">5.</span>Афинская школа. 1511 <br>Фреска. Художник – Рафаэль Санти (итал. Raffaello Santi, 1483–1520). Апостольский дворец, Ватикан</p>
            </a>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>