<div class="gallery-slides" style="position: absolute; top: 0; left: 0; z-index: -1000; visibility: hidden">
    <div id="gallery01" class="gallery-slide">
        <div class="gallery-slide__image">
            <img src="assets/images/gallery01.jpg" alt="">
        </div>
        <p class="gallery-slide__caption"><span class="number">1.</span>Афинская школа. 1511 <br>Фреска. Художник – Рафаэль Санти (итал. Raffaello Santi, 1483–1520). Апостольский дворец, Ватикан</p>
    </div>
    <div id="gallery02" class="gallery-slide">
        <div class="gallery-slide__image">
            <img src="assets/images/gallery02-full.jpg" alt="">
        </div>
        <p class="gallery-slide__caption"><span class="number">2.</span>Титульный лист второго издания «Жизнеописаний…» Джорджо Вазари. Том 2. 1568</p>
    </div>
    <div id="gallery03" class="gallery-slide">
        <div class="gallery-slide__image">
            <img src="assets/images/gallery03.jpg" alt="">
        </div>
        <p class="gallery-slide__caption"><span class="number">3.</span>Братия аббатства св. Мартина преподносит Библию королю Карлу. Ок. 845 г. <br>Миниатюра из Первой Библии Карла Лысого. Национальная библиотека Франции, Париж</p>
    </div>
    <div id="gallery04" class="gallery-slide">
        <div class="gallery-slide__image">
            <img src="assets/images/gallery04.jpg" alt="">
        </div>
        <p class="gallery-slide__caption"><span class="number">4.</span>Афинская школа. 1511 <br>Фреска. Художник – Рафаэль Санти (итал. Raffaello Santi, 1483–1520). Апостольский дворец, Ватикан</p>
    </div>
    <div id="gallery05" class="gallery-slide">
        <div class="gallery-slide__image">
            <img src="assets/images/gallery05.jpg" alt="">
        </div>
        <p class="gallery-slide__caption"><span class="number">5.</span>Титульный лист второго издания «Жизнеописаний…» Джорджо Вазари. Том 2. 1568</p>
    </div>
    <div id="gallery06" class="gallery-slide">
        <div class="gallery-slide__image">
            <img src="assets/images/gallery06.jpg" alt="">
        </div>
        <p class="gallery-slide__caption"><span class="number">5.</span>Афинская школа. 1511 <br>Фреска. Художник – Рафаэль Санти (итал. Raffaello Santi, 1483–1520). Апостольский дворец, Ватикан</p>
    </div>
</div>