<div class="history-list">
    <div class="history-item">
        <div class="history-item__date-block">
            <p class="history-item__date">Сегодня <br>12:28</p>
            <span class="history-item__icon">
                <svg width="18" height="18">
                    <use xlink:href="#ep" />
                </svg>
            </span>
        </div>
        <div class="history-item__info-block">
            <h3 class="history-item__title">
                <a href="#">
                    <span class="history-item__title-text"><span class="label">Курс:</span> Буддизм: история, философия, доктрина, практика</span>
                </a>
                <h4 class="history-item__lecture">
                    <span class="num">2.</span>
                    <span class="text">Принять или выдержать</span>
                </h4>
                <p class="history-item__author">Олег Воскобойников</p>
            </h3>
        </div>
        <div class="history-item__play-block">
            <div class="play-block-small">
                <span class="play-block-small__duration">13:37</span>
                <button type="button" class="play-btn-small">
                    <svg width="12" height="11">
                        <use xlink:href="#play-small" />
                    </svg>
                    <span>Воспроизвести</span>
                </button>
            </div>
        </div>
    </div>

    <div class="history-item">
        <div class="history-item__date-block">
            <p class="history-item__date">Сегодня <br>12:28</p>
            <span class="history-item__icon">
                <svg width="18" height="18">
                    <use xlink:href="#ep" />
                </svg>
            </span>
        </div>
        <div class="history-item__info-block">
            <h3 class="history-item__title">
                <a href="#">
                    <span class="history-item__title-text"><span class="label">Курс:</span> Пушкин: однажды и всегда</span>
                </a>
                <h4 class="history-item__lecture">
                    <span class="num">10.</span>
                    <span class="text">Опыты драматических изучений - «Маленькие трагедии».</span>
                </h4>
                <p class="history-item__author">Олег Воскобойников</p>
            </h3>
        </div>
        <div class="history-item__play-block">
            <div class="play-block-small">
                <span class="play-block-small__duration">13:37</span>
                <button type="button" class="play-btn-small">
                    <svg width="12" height="11">
                        <use xlink:href="#play-small" />
                    </svg>
                    <span>Воспроизвести</span>
                </button>
            </div>
        </div>
    </div>

    <div class="history-item">
        <div class="history-item__date-block">
            <p class="history-item__date">Сегодня <br>12:28</p>
            <span class="history-item__icon">
                <svg width="18" height="18">
                    <use xlink:href="#ep" />
                </svg>
            </span>
        </div>
        <div class="history-item__info-block">
            <h3 class="history-item__title">
                <a href="#">
                    <span class="history-item__title-text"><span class="label">Курс:</span> Буддизм: история, философия, доктрина, практика</span>
                </a>
                <h4 class="history-item__lecture">
                    <span class="num">2.2.</span>
                    <span class="text">Принять или выдержать</span>
                </h4>
                <p class="history-item__author">Олег Воскобойников</p>
            </h3>
        </div>
        <div class="history-item__play-block">
            <div class="play-block-small">
                <span class="play-block-small__duration">13:37</span>
                <button type="button" class="play-btn-small">
                    <svg width="12" height="11">
                        <use xlink:href="#play-small" />
                    </svg>
                    <span>Воспроизвести</span>
                </button>
            </div>
        </div>
    </div>

    <div class="history-item">
        <div class="history-item__date-block">
            <p class="history-item__date">Сегодня <br>12:28</p>
            <span class="history-item__icon">
                <svg width="18" height="18">
                    <use xlink:href="#ep" />
                </svg>
            </span>
        </div>
        <div class="history-item__info-block">
            <h3 class="history-item__title">
                <a href="#">
                    <span class="history-item__title-text"><span class="label">Курс:</span> Буддизм: история, философия, доктрина, практика</span>
                </a>
                <h4 class="history-item__lecture">
                    <span class="num">2.</span>
                    <span class="text">Принять или выдержать</span>
                </h4>
                <p class="history-item__author">Олег Воскобойников</p>
            </h3>
        </div>
        <div class="history-item__play-block">
            <div class="play-block-small">
                <span class="play-block-small__duration">13:37</span>
                <button type="button" class="play-btn-small">
                    <svg width="12" height="11">
                        <use xlink:href="#play-small" />
                    </svg>
                    <span>Воспроизвести</span>
                </button>
            </div>
        </div>
    </div>

    <div class="history-item">
        <div class="history-item__date-block">
            <p class="history-item__date">Сегодня <br>12:28</p>
            <span class="history-item__icon">
                <svg width="18" height="18">
                    <use xlink:href="#ep" />
                </svg>
            </span>
        </div>
        <div class="history-item__info-block">
            <h3 class="history-item__title">
                <a href="#">
                    <span class="history-item__title-text"><span class="label">Курс:</span> Буддизм: история, философия, доктрина, практика</span>
                </a>
                <h4 class="history-item__lecture">
                    <span class="num">2.</span>
                    <span class="text">Принять или выдержать</span>
                </h4>
                <p class="history-item__author">Олег Воскобойников</p>
            </h3>
        </div>
        <div class="history-item__play-block">
            <div class="play-block-small">
                <span class="play-block-small__duration">13:37</span>
                <button type="button" class="play-btn-small">
                    <svg width="12" height="11">
                        <use xlink:href="#play-small" />
                    </svg>
                    <span>Воспроизвести</span>
                </button>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn--white history-list__link">Больше лекций</a>
</div>