<ol class="lectures-tab">
    <li class="lecture-full js-lecture-full">
        <div class="lecture-full__wrapper">
            <div class="lecture-full__play-block">
                <div class="play-block play-block--big">
                    <div class="play-block__image-wrapper" style="background-image: url('assets/images/play-big01.png')"></div>
                    <div class="play-block__loader" id="cont" data-pct="100">
                        <svg class="svg-loader" id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            <circle class="bar" id="bar" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        </svg>
                    </div>
                    <div class="coming-soon">
                        <p class="coming-soon__content">
                            <span class="stats">2</span>
                            <span class="legend">дня</span>
                        </p>
                    </div>
                    <div class="play-block__tooltip">Смотреть</div>
                    <div class="play-block__duration">35:18</div>
                </div>
            </div>
            <div class="lecture-full__info-block">
                <div class="lecture-full__text-block">
                    <button type="button" class="lecture-full__fav">
                        <svg width="14" height="23">
                            <use xlink:href="#flag"/>
                        </svg>
                    </button>
                    <h3 class="lecture-full__title"><a href="#">Индия. Царство Маурья и ненасилие.</a></h3>
                    <p class="lecture-full__descr"> История трех имперских образований Древней Индии – причины их возникновения, успехи, неудачи и гибкая религиозная политика. </p>
                    <p class="lecture-full__author">Олег Воскобойников</p>
                </div>
                <div class="lecture-full__extras">
                    <p class="lecture-full__extras-label">Дополнительные эпизоды</p>
                    <ol class="lecture-full__extras-extras-list extras-list">
                        <li>
                            <a href="#" class="extras-list__item">Пьеро делла Франческа — образ человеческого достоинства. <span class="duration">13:37</span></a>
                            <button class="extras-list__play-btn" type="button">
                                <svg class="play" width="12" height="11">
                                    <use xlink:href="#play-small" />
                                </svg>
                                <svg class="pause" width="8" height="14">
                                    <use xlink:href="#pause-alt" />
                                </svg>
                                <span class="lecture__tooltip">Смотреть</span>
                            </button>
                            <button class="extras-list__fav" type="button">
                                <svg width="14" height="23">
                                    <use xlink:href="#flag" />
                                </svg>
                            </button>
                        </li>
                        <li>
                            <a href="#" class="extras-list__item">Умбрийская школа: Пьетро Перуджино и Пинтуриккио. <span class="duration">13:37</span></a>
                            <button class="extras-list__play-btn" type="button">
                                <svg class="play" width="12" height="11">
                                    <use xlink:href="#play-small" />
                                </svg>
                                <svg class="pause" width="8" height="14">
                                    <use xlink:href="#pause-alt" />
                                </svg>
                                <span class="lecture__tooltip">Смотреть</span>
                            </button>
                            <button class="extras-list__fav" type="button">
                                <svg width="14" height="23">
                                    <use xlink:href="#flag" />
                                </svg>
                            </button>
                        </li>
                    </ol>
                </div>
                <!-- <div class="lecture-full__info-table">
                    <div class="lecture-full__info-table-col">
                        <span class="icon">
                            <svg width="18" height="18">
                                <use xlink:href="#eps" />
                            </svg>
                        </span>
                        <p class="lecture-full__info-table-label">Доп. эпизоды</p>
                        <p class="lecture-full__info-table-value">3</p>
                    </div>
                    <div class="lecture-full__info-table-col">
                        <span class="icon">
                            <svg width="18" height="18">
                                <use xlink:href="#lit" />
                            </svg>
                        </span>
                        <p class="lecture-full__info-table-label">Литература</p>
                        <p class="lecture-full__info-table-value">5</p>
                    </div>
                    <div class="lecture-full__info-table-col">
                        <span class="icon">
                            <svg width="18" height="18">
                                <use xlink:href="#books" />
                            </svg>
                        </span>
                        <p class="lecture-full__info-table-label">Книги</p>
                        <p class="lecture-full__info-table-value">1</p>
                    </div>
                </div> -->
            </div>
        </div>
    </li>
    <li class="lecture-full js-lecture-full">
        <div class="lecture-full__wrapper">
            <div class="lecture-full__play-block">
                <div class="play-block play-block--big">
                    <div class="play-block__image-wrapper" style="background-image: url('assets/images/play-big02.png')"></div>
                    <div class="play-block__loader" id="cont01" data-pct="100">
                        <svg class="svg-loader" id="svg01" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            <circle class="bar" id="bar01" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        </svg>
                    </div>
                    <div class="hit-icon">
                        <svg width="30" height="30">
                            <use xlink:href="#crown" />
                        </svg>
                    </div>
                    <div class="play-block__tooltip">Смотреть</div>
                    <div class="play-block__duration">35:18</div>
                </div>
            </div>
            <div class="lecture-full__info-block">
                <div class="lecture-full__text-block">
                    <button type="button" class="lecture-full__fav">
                        <svg width="14" height="23">
                            <use xlink:href="#flag"/>
                        </svg>
                    </button>
                    <div class="crown-icon _inline">
                        <svg width="18" height="18">
                            <use xlink:href="#crown" />
                        </svg>
                    </div>
                    <h3 class="lecture-full__title"><a href="#">Писатель и государство после 1917 года.</a></h3>
                    <p class="lecture-full__descr">  История поэтапного движения «государства нового типа» в сторону тотального контроля над литературным процессом и жизнью писателей в 1920-е и 30-е годы. </p>
                </div>
                <!-- <div class="lecture-full__info-table">
                    <div class="lecture-full__info-table-col">
                        <span class="icon">
                            <svg width="18" height="18">
                                <use xlink:href="#eps" />
                            </svg>
                        </span>
                        <p class="lecture-full__info-table-label">Доп. эпизоды</p>
                        <p class="lecture-full__info-table-value">3</p>
                    </div>
                    <div class="lecture-full__info-table-col">
                        <span class="icon">
                            <svg width="18" height="18">
                                <use xlink:href="#lit" />
                            </svg>
                        </span>
                        <p class="lecture-full__info-table-label">Литература</p>
                        <p class="lecture-full__info-table-value">5</p>
                    </div>
                    <div class="lecture-full__info-table-col">
                        <span class="icon">
                            <svg width="18" height="18">
                                <use xlink:href="#books" />
                            </svg>
                        </span>
                        <p class="lecture-full__info-table-label">Книги</p>
                        <p class="lecture-full__info-table-value">1</p>
                    </div>
                </div> -->
            </div>
        </div>
    </li>
    <li class="lecture-full js-lecture-full">
        <div class="lecture-full__wrapper">
            <div class="lecture-full__play-block">
                <div class="play-block play-block--big">
                    <div class="play-block__image-wrapper" style="background-image: url('assets/images/play-big03.png')"></div>
                    <div class="play-block__loader" id="cont02" data-pct="100">
                        <svg class="svg-loader" id="svg02" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            <circle class="bar" id="bar02" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        </svg>
                    </div>
                    <div class="lock-icon">
                        <svg width="27" height="30">
                            <use xlink:href="#lock" />
                        </svg>
                    </div>
                    <div class="play-block__tooltip">Смотреть</div>
                    <div class="play-block__duration">35:18</div>
                </div>
            </div>
            <div class="lecture-full__info-block">
                <div class="lecture-full__text-block">
                    <button type="button" class="lecture-full__fav">
                        <svg width="14" height="23">
                            <use xlink:href="#flag"/>
                        </svg>
                    </button>
                    <h3 class="lecture-full__title"><a href="#">Евгений Замятин. «Мы».</a></h3>
                    <p class="lecture-full__descr"> Писательская судьба Евгения Замятина и его романа-антиутопии «Мы». Композиция, стиль, герои романа и попытка альтернативного прочтения.  </p>
                </div>
                <div class="lecture-full__extras">
                    <p class="lecture-full__extras-label">Дополнительные эпизоды</p>
                    <ol class="lecture-full__extras-extras-list extras-list">
                        <li>
                            <a href="#" class="extras-list__item">Принять или выдержать<span class="duration">13:37</span></a>
                            <button class="extras-list__play-btn" type="button">
                                <svg class="play" width="12" height="11">
                                    <use xlink:href="#play-small" />
                                </svg>
                                <svg class="pause" width="8" height="14">
                                    <use xlink:href="#pause-alt" />
                                </svg>
                                <span class="lecture__tooltip">Смотреть</span>
                            </button>
                            <button class="extras-list__fav" type="button">
                                <svg width="14" height="23">
                                    <use xlink:href="#flag" />
                                </svg>
                            </button>
                        </li>
                    </ol>
                </div>
                <!-- <div class="lecture-full__info-table">
                    <div class="lecture-full__info-table-col">
                        <span class="icon">
                            <svg width="18" height="18">
                                <use xlink:href="#eps" />
                            </svg>
                        </span>
                        <p class="lecture-full__info-table-label">Доп. эпизоды</p>
                        <p class="lecture-full__info-table-value">3</p>
                    </div>
                    <div class="lecture-full__info-table-col">
                        <span class="icon">
                            <svg width="18" height="18">
                                <use xlink:href="#lit" />
                            </svg>
                        </span>
                        <p class="lecture-full__info-table-label">Литература</p>
                        <p class="lecture-full__info-table-value">5</p>
                    </div>
                    <div class="lecture-full__info-table-col">
                        <span class="icon">
                            <svg width="18" height="18">
                                <use xlink:href="#books" />
                            </svg>
                        </span>
                        <p class="lecture-full__info-table-label">Книги</p>
                        <p class="lecture-full__info-table-value">1</p>
                    </div>
                </div> -->
            </div>
        </div>
    </li>
    <li class="lecture-full lecture-full--archive">
        <div class="lecture-full__wrapper">
            <h3 class="lecture-full__archive-title"><a href="#">Индия. Царство Маурья и ненасилие. </a></h3>
            <div class="lecture-full__archive-date">Февраль 2018</div>
        </div>
    </li>
    <li class="lecture-full lecture-full--archive">
        <div class="lecture-full__wrapper">
            <h3 class="lecture-full__archive-title"><a href="#">Индия. Царство Маурья и ненасилие. </a></h3>
            <div class="lecture-full__archive-date">Февраль 2018</div>
        </div>
    </li>
</ol>