<section class="lecture-info">
    <div class="lecture-info__wrapper">
        <div class="lecture-info__block _mobile">
            <h2 class="lecture-info__title">
                <span class="number">10.</span> Новизна и своеобразие буддизма в&nbsp;духовной культуре древней Индии.
            </h2>
            <p class="lecture-info__descr">Лекция о неудавшемся монахе и состоявшемся художнике Филиппо Липпи, который был учеником Мазаччо и учителем Боттичелли. <span class="lecture-info__author">Олег Лекманов</span></p>
        </div>
        <div class="social-block social-block--dark _mobile">
            <div class="social-block__inner">
                <a href="#" class="social-btn _active">
                    <div class="social-btn__icon">
                        <svg width="24" height="24">
                            <use xlink:href="#fb"></use>
                        </svg>
                    </div>
                    <span class="social-btn__actions">64</span>
                </a>
                <a href="#" class="social-btn _active">
                    <div class="social-btn__icon">
                        <svg width="26" height="15">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </div>
                    <span class="social-btn__actions">91</span>
                </a>
                <a href="#" class="social-btn _active">
                    <div class="social-btn__icon">
                        <svg width="14" height="24">
                            <use xlink:href="#ok"></use>
                        </svg>
                    </div>
                    <span class="social-btn__actions">4</span>
                </a>
                <a href="#" class="social-btn">
                    <div class="social-btn__icon">
                        <svg width="27" height="22">
                            <use xlink:href="#tw"></use>
                        </svg>
                    </div>
                    <span class="social-btn__actions"></span>
                </a>
            </div>
        </div>
        <div class="lecture-info__extras">
            <p class="lecture-info__extras-label">Доп<span class="mobile">олнительные</span><span class="desktop">.</span> эпизоды</p>
            <ol class="lecture-info__extras-list extras-list _full" data-number="10">
                <li>
                    <a href="#" class="extras-list__item">Умбрийская школа: Пьетро Перуджино и Пинтуриккио. <span class="duration">13:37</span></a>
                    <button class="extras-list__play-btn" type="button" style="background-image: url('assets/images/play-big03.png')">
                        <span class="duration">5:18</span>
                        <svg class="play" width="12" height="11">
                            <use xlink:href="#play-nofill"></use>
                        </svg>
                        <svg class="pause" width="8" height="14">
                            <use xlink:href="#pause-alt"></use>
                        </svg>
                    </button>
                    <button class="extras-list__fav" type="button">
                        <svg width="14" height="23">
                            <use xlink:href="#flag"></use>
                        </svg>
                    </button>
                </li>
                <li>
                    <a href="#" class="extras-list__item">Умбрийская школа: Пьетро Перуджино и Пинтуриккио. <span class="duration">13:37</span></a>
                    <button class="extras-list__play-btn" type="button" style="background-image: url('assets/images/play-big03.png')">
                        <span class="duration">5:18</span>
                        <svg class="play" width="12" height="11">
                            <use xlink:href="#play-nofill"></use>
                        </svg>
                        <svg class="pause" width="8" height="14">
                            <use xlink:href="#pause-alt"></use>
                        </svg>
                    </button>
                    <button class="extras-list__fav" type="button">
                        <svg width="14" height="23">
                            <use xlink:href="#flag"></use>
                        </svg>
                    </button>
                </li>
            </ol>
        </div>
    </div>
</section>