<div class="literature-sources">
    <h3 class="literature-sources__title">Источники</h3>
    <ol class="sources-list">
        <li>
            <a href="#">Античное наследие в культуре Возрождения, М., 1984. ↗</a>
        </li>
        <li>Бицилли П. Место Ренессанса в истории культуры. СПб., 1996.</li>
        <li>Вазари Джордже. Жизнеописания наиболее знаменитых живописцев, ваятелей и зодчих, М., 2008.</li>
        <li>Виппер Б. Р. Итальянский Ренессанс XIII-XVI века: курс лекций по истории изобразительного искусства и архитектуры. В 2-х томах М., 1977.</li>
        <li>Гарэн Э. Проблемы итальянского возрождения. М., 1986</li>
        <li>Данилова И. Е. Итальянский город XV века: реальность, миф, образ. М., 2000.</li>
        <li>Культура Возрождения и средние века. Сборник. М., 1993.</li>
        <li>Лазарев В. Н. Происхождение итальянского Возрождения. М., 1956.</li>
        <li>Лосев А.Ф. Эстетика Возрождения, М., 1978.</li>
        <li>Панофский Э. Ренессанс и «ренессансы» в искусстве Запада. СПб, 2006.</li>
        <li>Чемберлин Э. Эпоха Возрождения. Быт, религия, культура. М., 2006.</li>
    </ol>
</div>