<div class="modal-overlay modal-wrapper js-modal-wrapper" data-name="messagePopup">
    <div class="modal _message" id="messagePopup">
        <button type="button" class="modal__close js-modal-close" data-target="messagePopup">Закрыть</button>
        <div class="modal__header">
            <p class="modal__headline">Сообщение отправлено</p>
        </div>
        <div class="modal__body">
            <div class="modal__message">
                <p>Спасибо за Ваше сообщение. Оно успешно отправлено.</p>
                <button class="btn btn--brown js-modal-close" data-target="messagePopup">Закрыть</button>
            </div>
        </div>
    </div>
</div>
