<div class="modal-overlay modal-wrapper js-modal-wrapper" data-name="donation">
    <div class="modal _donation" id="donation">
        <button type="button" class="modal__close js-modal-close" data-target="donation">Закрыть</button>
        <div class="modal__header">
            <p class="modal__headline">Хотите помочь проекту?</p>
        </div>
        <div class="modal__body">
            <form action="#" method="post" class="form modal-form">
                <textarea name="message" id="message" class="form__message" placeholder="Если не хотите помочь не пишите."></textarea>
                <div class="modal-form__row">
                    <input type="text" id="contacts" class="form__field" placeholder="Как с вами связаться?">
                    <button class="btn btn--brown">Отправить сообщение</button>
                </div>
            </form>
        </div>
    </div>
</div>
