<div class="modal-overlay modal-wrapper js-modal-wrapper" data-name="billing">
    <div class="modal _billing billing-steps" id="billing">
        <button type="button" class="modal__close js-modal-close" data-target="billing">Закрыть</button>
        <div class="billing-steps__item js-billing-step active">   
            <div class="modal__header">
                <p class="modal__headline">Оформить подписку</p>
                <p class="modal__descr">и получить доступ <span class="emph">ко всем</span> курсам и&nbsp;материалам.</p>
            </div>
            <div class="modal__body subscriptions-list">
                <ul>
                    <li class="subscription-item">
                        <p class="subscription-item__headline">Подписка <span class="js-duration">   </span></p>
                        <p class="subscription-item__descr">Можно отменить в любой момент.</p>
                        <div class="subscription-item__price-block">
                            <div class="subscription-item__price">
                                <span class="amount">250</span>
                                <span class="currency">₽</span>
                                <span class="period">/ месяц</span>
                            </div>
                            <a href="#" class="btn btn--rounded subscription-item__btn js-subscribe">Оформить</a>
                        </div>
                    </li>
                    <li class="subscription-item">
                        <p class="subscription-item__headline">Подписка <span class="js-duration">на   <span class="duration">3</span> месяца  </span></p>
                        <p class="subscription-item__descr">При разовой оплате <span class="emph">550₽</span></p>
                        <div class="subscription-item__price-block">
                            <div class="subscription-item__price">
                                <span class="amount">183</span>
                                <span class="currency">₽</span>
                                <span class="period">/ месяц</span>
                            </div>
                            <a href="#" class="btn btn--rounded subscription-item__btn js-subscribe">Оформить</a>
                        </div>
                    </li>
                    <li class="subscription-item">
                        <p class="subscription-item__headline">Подписка <span class="js-duration">на   <span class="duration">12</span> месяцев  </span></p>
                        <p class="subscription-item__descr">При разовой оплате <span class="emph">1&nbsp;750₽</span></p>
                        <div class="subscription-item__price-block">
                            <div class="subscription-item__price">
                                <span class="amount">145</span>
                                <span class="currency">₽</span>
                                <span class="period">/ месяц</span>
                            </div>
                            <a href="#" class="btn btn--rounded subscription-item__btn js-subscribe">Оформить</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div><div class="billing-steps__item  js-billing-step">   
            <div class="modal__header">
                <p class="modal__headline">Оформить подписку <span class="js-subcribe-period"></span></p>
                <button class="billing-steps__back js-billing-back" type="button">← Выбрать другой вариант подписки</button>
            </div>
            <div class="modal__body payment-methods">
                <h3 class="payment-methods__title">Выберите способ оплаты</h3>
                <form action="#" method="post" class="payment-form">
                    <div class="payment-methods__stored">
                        <div class="payment-methods__stored-col">
                            <input type="radio" class="payment-form__option _single" name="stored" id="stored-card">
                            <label for="stored-card" class="payment-form__text">
                                <span>Запомненные реквизиты</span>  
                            </label>
                        </div>
                        <div class="payment-methods__stored-col">
                            <div class="payment-methods__card-block card-block">
                                <div class="card-block__header">
                                    <input type="text" class="card-block__number" id="cardnumber" value="**** **** **** 2344" readonly="">
                                </div>
                                <p class="card-block__error">Ошибка оплаты</p>
                                <div class="card-block__footer">
                                    <input type="text" class="card-block__valid-through" id="cardvalid" value="03/25" readonly="">
                                    <div class="card-block__type">
                                        <img src="assets/images/yad.png" width="15" height="19" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="payment-methods__list">
                        <li class="payment-method">
                            <input type="radio" class="payment-form__option" name="payment-type" id="card">
                            <label for="card" class="payment-form__text">
                                <span>Банковская карта</span>  
                                <div class="payment-method__icons">
                                    <div class="payment-method__icon">
                                        <img src="assets/images/visa.png" width="25" height="25" alt="">
                                    </div>
                                    <div class="payment-method__icon">
                                        <img src="assets/images/mastercard.png" width="19" height="18" alt="">
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li class="payment-method">
                            <input type="radio" class="payment-form__option" name="payment-type" id="yad">
                            <label for="yad" class="payment-form__text">
                                <span>Яндекс Деньги</span>  
                                <div class="payment-method__icons">
                                    <div class="payment-method__icon">
                                        <img src="assets/images/yad.png" width="15" height="19" alt="">
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li class="payment-method">
                            <input type="radio" class="payment-form__option" name="payment-type" id="sber" checked>
                            <label for="sber" class="payment-form__text">
                                <span>Сбербанк онлайн</span>  
                                <div class="payment-method__icons">
                                    <div class="payment-method__icon">
                                        <img src="assets/images/sber.png" width="18" height="18" alt="">
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li class="payment-method">
                            <input type="radio" class="payment-form__option" name="payment-type" id="alfa">
                            <label for="alfa" class="payment-form__text">
                                <span>Альфа-клик</span>  
                                <div class="payment-method__icons">
                                    <div class="payment-method__icon">
                                        <img src="assets/images/alfa.png" width="12" height="18" alt="">
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li class="payment-method">
                            <input type="radio" class="payment-form__option" name="payment-type" id="apple">
                            <label for="apple" class="payment-form__text">
                                <span>Apple pay</span>  
                                <div class="payment-method__icons">
                                    <div class="payment-method__icon">
                                        <img src="assets/images/apple.png" width="16" height="19" alt="">
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li class="payment-method">
                            <input type="radio" class="payment-form__option" name="payment-type" id="gpay">
                            <label for="gpay" class="payment-form__text">
                                <span>Google pay</span>  
                                <div class="payment-method__icons">
                                    <div class="payment-method__icon">
                                        <img src="assets/images/gplay.png" width="16" height="16" alt="">
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li class="payment-method">
                            <input type="radio" class="payment-form__option" name="payment-type" id="qiwi">
                            <label for="qiwi" class="payment-form__text">
                                <span>QIWI Кошелек</span>  
                                <div class="payment-method__icons">
                                    <div class="payment-method__icon">
                                        <img src="assets/images/qiwi.png" width="16" height="16" alt="">
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li class="payment-method">
                            <input type="radio" class="payment-form__option" name="payment-type" id="webmoney">
                            <label for="webmoney" class="payment-form__text">
                                <span>Webmoney</span>  
                                <div class="payment-method__icons">
                                    <div class="payment-method__icon">
                                        <img src="assets/images/webmoney.png" width="19" height="18" alt="">
                                    </div>
                                </div>
                            </label>
                        </li>
                        <li class="payment-method">
                            <input type="radio" class="payment-form__option" name="payment-type" id="mobile">
                            <label for="mobile" class="payment-form__text">
                                <span>Баланс мобильного телефона</span>  
                            </label>
                        </li>
                    </ul>
                    <div class="payment-form__footer subscription-form js-sticky sticky">
                        <div class="subscription-form__check">
                            <input type="checkbox" id="autosubscribe" class="visually-hidden" checked="">
                            <label for="autosubscribe" class="subscription-form__label">Автоматически продлевать подписку</label>
                        </div>
                        <p class="payment-form__label">Всего к оплате: 
                            <span class="total">550<span class="cur">₽</span></span>
                        </p>
                        <button class="payment-form__submit btn btn--brown">Оплатить →</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
