<div class="new-lectures">
    <h1 class="new-lectures__title">Новые курсы и&nbsp;лекции</h1>
    <div class="new-lectures__inner">
        <div class="new-lecture lecture">
            <button type="button" class="new-lecture__favourites">
                <svg width="14" height="23">
                    <use xlink:href="#flag" />
                </svg>
            </button>
            <div class="new-lecture__header">
                <button type="button" class="new-lecture__add">
                    <svg width="16" height="16">
                        <use xlink:href="#ep-v" />
                    </svg>
                </button>
                <a href="#" class="new-lecture__title-block">
                    <h2 class="new-lecture__title"><span class="new-lecture__label">Курс:</span> Буддизм: история, философия, доктрина, практика.  </h2>
                </a>
            </div>
            <div class="new-lecture__body">
                <div class="lecture__play-block new-lecture__play-block _small">
                    <div class="lecture__image-wrapper" style="background-image: url('assets/images/lecture01.png');"></div>
                    <div class="lecture__loader" id="cont" data-pct="100">
                        <svg class="svg-loader" id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            <circle class="bar" id="bar" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        </svg>
                    </div>
                    <input class="loader-field" id="percent" name="percent" value="75">
                    <a href="#" class="lecture__btn">
                        <svg width="41" height="36">
                            <use xlink:href="#play"
                        </svg>
                    </a>
                    <div class="lecture__tooltip">Смотреть</div>
                    <div class="duration">35:18</div>
                </div>
                <div class="new-lecture__desc">
                    <p class="new-lecture__slogan"><span class="num">1. </span> Принять или выдержать.</p>
                    <p class="new-lecture__announce">Подробный разбор первой фундаментальной мотивации – к физическому выживанию и преодолению трудностей жизни.</p>
                    <p class="new-lecture__author _inline">Олег Воскобойников</p>
                </div>
            </div>
        </div>

        <div class="new-lecture lecture">
            <button type="button" class="new-lecture__favourites">
                <svg width="14" height="23">
                    <use xlink:href="#flag" />
                </svg>
            </button>
            <div class="new-lecture__header">
                <a href="#" class="new-lecture__title-block">
                    <h2 class="new-lecture__title"><span class="new-lecture__label">Курс:</span> Философский текст в античности.  </h2>
                </a>
            </div>
            <div class="new-lecture__body">
                <div class="lecture__play-block new-lecture__play-block">
                    <div class="lecture__image-wrapper" style="background-image: url('assets/images/lecture02.png');"></div>
                    <div class="lecture__loader" id="cont2" data-pct="100">
                        <svg class="svg-loader" id="svg2" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            <circle class="bar" id="bar2" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        </svg>
                    </div>
                    <input class="loader-field" id="percent2" name="percent" value="75">
                    <a href="#" class="lecture__btn">
                        <svg width="41" height="36">
                            <use xlink:href="#play"
                        </svg>
                    </a>
                    <div class="lecture__tooltip">Смотреть</div>
                    <div class="duration">35:18</div>
                </div>
                <div class="new-lecture__desc">
                    <p class="new-lecture__slogan"><span class="num">2. </span>Устное vs. письменное.</p>
                    <p class="new-lecture__announce">Характерные черты средневекового искусства Средневековое искусство Запада имеет ряд характерных особенностей, которые сопутствуют ему на протяжении всей его тысячелетней истории.</p>
                    <p class="new-lecture__author _inline">Олег Воскобойников</p>
                </div>
            </div>
        </div>
    </div>
</div>
//= subscribe-block.html
<div class="new-lectures">
    <div class="new-lectures__inner">
        <div class="new-lecture-announce">
            <button type="button" class="new-lecture__favourites">
                <svg width="14" height="23">
                    <use xlink:href="#flag" />
                </svg>
            </button>
            <div class="new-lecture-announce__header">
                <a href="#" class="new-lecture-announce__title"><span class="new-lecture-announce__label">Курс: </span><h2> Религия Древней Индии: Веды, Упанишады, шраманы</h2></a>
                <div class="new-lecture-announce__row">
                    <p class="new-lecture-announce__count">2/15</p>
                    <p class="new-lecture-announce__author">Андрей Виноградов</p>
                    <p class="new-lecture-announce__tag">История</p>
                </div>
            </div>
            <div class="new-lecture-announce__body">
                <div class="new-lecture-announce__link-block">
                    <a href="#" class="btn btn--gray new-lecture-announce__link">Подробнее о курсе</a>
                </div>
                <div class="new-lecture-announce__image-block _mask05">
                    <svg viewBox="0 0 563 514" width="563" height="514">
                        <image preserveAspectRatio="xMaxYMax slice" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/bg-frame01.png" width="713" height="514"></image>
                    </svg>
                </div>
            </div>
        </div>

        <div class="new-lecture lecture">
            <button type="button" class="new-lecture__favourites">
                <svg width="14" height="23">
                    <use xlink:href="#flag" />
                </svg>
            </button>
            <div class="new-lecture__header">
                <a href="#" class="new-lecture__title-block">
                    <h2 class="new-lecture__title"><span class="new-lecture__label">Курс:</span> Философский текст в античности.  </h2>
                    <p class="new-lecture__tag">Философия</p>
                </a>
            </div>
            <div class="new-lecture__body">
                <div class="lecture__play-block new-lecture__play-block">
                    <div class="lecture__image-wrapper" style="background-image: url('assets/images/lecture05.png');"></div>
                    <div class="lecture__loader" id="cont5" data-pct="100">
                        <svg class="svg-loader" id="svg5" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            <circle class="bar" id="bar5" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        </svg>
                    </div>
                    <input class="loader-field" id="percent5" name="percent" value="75">
                    <a href="#" class="lecture__btn">
                        <svg width="41" height="36">
                            <use xlink:href="#play"
                        </svg>
                    </a>
                    <div class="lecture__tooltip">Смотреть</div>
                    <div class="duration">35:18</div>
                </div>
                <div class="new-lecture__desc">
                    <p class="new-lecture__slogan"><span class="num">1. </span>Устное vs. письменное.</p>
                    <p class="new-lecture__announce">Характерные черты средневекового искусства Средневековое искусство Запада имеет ряд характерных особенностей, которые сопутствуют ему на протяжении всей его тысячелетней истории.</p>
                    <p class="new-lecture__author _inline">Олег Воскобойников</p>
                </div>
            </div>
        </div>

        <div class="new-lecture lecture">
            <button type="button" class="new-lecture__favourites">
                <svg width="14" height="23">
                    <use xlink:href="#flag" />
                </svg>
            </button>
            <div class="new-lecture__header">
                <a href="#" class="new-lecture__title-block">
                    <h2 class="new-lecture__title"><span class="new-lecture__label">Курс: </span> Буддизм: история, философия, доктрина, практика</h2>
                    <p class="new-lecture__tag">История</p>
                </a>
            </div>
            <div class="new-lecture__body">
                <div class="lecture__play-block new-lecture__play-block">
                    <div class="lecture__image-wrapper" style="background-image: url('assets/images/lecture06.png');"></div>
                    <div class="lecture__loader" id="cont6" data-pct="100">
                        <svg class="svg-loader" id="svg6" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            <circle class="bar" id="bar6" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        </svg>
                    </div>
                    <input class="loader-field" id="percent6" name="percent" value="75">
                    <a href="#" class="lecture__btn">
                        <svg width="41" height="36">
                            <use xlink:href="#play"
                        </svg>
                    </a>
                    <div class="lecture__tooltip">Смотреть</div>
                    <div class="duration">35:18</div>
                </div>
                <div class="new-lecture__desc">
                    <p class="new-lecture__slogan"><span class="num">2. </span>Индия. Царство Маурья и ненасилие. </p>
                    <p class="new-lecture__announce">История трех имперских образований Древней Индии – причины их возникновения, успехи, неудачи и гибкая религиозная политика. </p>
                    <p class="new-lecture__author _inline">Олег Воскобойников</p>
                </div>
            </div>
        </div>

        <div class="new-lecture lecture">
            <button type="button" class="new-lecture__favourites">
                <svg width="14" height="23">
                    <use xlink:href="#flag" />
                </svg>
            </button>
            <div class="new-lecture__header">
                <a href="#" class="new-lecture__title-block">
                    <h2 class="new-lecture__title"><span class="new-lecture__label">Курс: </span> Философский текст <br>в античности</h2>
                    <p class="new-lecture__tag">Философия</p>
                </a>
            </div>
            <div class="new-lecture__body">
                <div class="lecture__play-block new-lecture__play-block">
                    <div class="lecture__image-wrapper" style="background-image: url('assets/images/lecture04.png');"></div>
                    <div class="lecture__loader" id="cont7" data-pct="100">
                        <svg class="svg-loader" id="svg7" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            <circle class="bar" id="bar7" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        </svg>
                    </div>
                    <input class="loader-field" id="percent7" name="percent" value="75">
                    <a href="#" class="lecture__btn">
                        <svg width="41" height="36">
                            <use xlink:href="#play"
                        </svg>
                    </a>
                    <div class="lecture__tooltip">Смотреть</div>
                    <div class="duration">35:18</div>
                </div>
                <div class="new-lecture__desc">
                    <p class="new-lecture__slogan"><span class="num">3. </span>Устное vs. письменное.</p>
                    <p class="new-lecture__announce">Отношение античных мыслителей к письменному слову, место письменной речи в культуре философских школ. </p>
                    <p class="new-lecture__author _inline">Олег Воскобойников</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="link-block">
    <a href="#" class="lectures-link btn btn--white">Больше лекций</a>
</div>
