<div class="player-block__controls">
    <button type="button" class="backwards">
        <svg width="18" height="11">
            <use xlink:href="#backward" />
        </svg>
    </button>
    <button type="button" class="play-button">
        <svg class="pause" width="11" height="18">
            <use xlink:href="#pause" />
        </svg>
    </button>
    <button type="button" class="sound-button _sound-off">
        <svg class="on" width="18" height="18">
            <use xlink:href="#sound" />
        </svg>
        <svg class="off" width="18" height="18">
            <use xlink:href="#mute" />
        </svg>
    </button>
    //= ../elements/sound-control.html
</div>