<div class="player-frame">
    <div class="player-frame__poster">
        <img src="assets/images/player02.jpg" width="1025" height="577" alt="">
        <div class="player-frame__poster-text">
            <h2 class="player-frame__poster-title">«Физика» Аристотеля с греческим оригиналом на полях рукописи.</h2>
            <p class="player-frame__poster-subtitle">Средневековый латинский манускрипт. Bibliotheca Apostolica Vaticana, Рим.</p>
        </div>
    </div>
    <div class="player-block">
        <div class="player-block__progress">
            <div class="player-block__load" style="width: 33.5%;"></div>
            <div class="player-block__play" style="width: 20%;"><span class="indicator"></span></div>
            <div class="player-block__gap" style="left: 5%;"></div>
            <div class="player-block__gap" style="left: 20%;"></div>
            <div class="player-block__gap" style="left: 28%;"></div>
            <div class="player-block__gap" style="left: 34%;"></div>
            <div class="player-block__gap" style="left: 40%;"></div>
            <div class="player-block__gap" style="left: 50%;"></div>
            <div class="player-block__gap" style="left: 55%;"></div>
            <div class="player-block__time" style="left: 30%;">50:01</div>
        </div>
        <div class="player-block__row">
            //= player-block-controls.html
            <div class="player-block__stats">
                <div class="player-block__info">
                    <span class="played-time">20:01</span>
                    <span class="divider">/</span>
                    <span class="total-time">1:35:54</span>
                </div>
                <button type="button" class="speed-button js-speed-trigger">
                    <svg width="18" height="18">
                        <use xlink:href="#speed" />
                    </svg>
                </button>
                <button type="button" class="content-button js-contents-trigger">
                    <svg width="18" height="12">
                        <use xlink:href="#contents" />
                    </svg>
                </button>
                <button type="button" class="fullscreen-button js-fullscreen">
                    <svg class="full" width="20" height="18">
                        <use xlink:href="#fullscreen" />
                    </svg>
                    <svg class="normal" width="20" height="18">
                        <use xlink:href="#screen" />
                    </svg>
                </button>
            </div>
            <div class="contents-tooltip  js-player-tooltip js-contents">
                <header class="contents-tooltip__header">
                    <p class="contents-tooltip__title">Оглавление</p>
                </header>
                <ol class="contents-tooltip__body scrollable">
                    <li class="active">
                        <a href="#">«К чему эти смехотворные чудовища?»</a>
                        <div class="equalizer">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li><a href="#">Строгие формы аббатства Фонтене</a></li>
                    <li><a href="#">Танцующие и плачущие святые</a></li>
                    <li><a href="#">«Эпоха образа до эпохи искусства»</a></li>
                    <li><a href="#">Категория стиля</a></li>
                    <li><a href="#">Стиль и политика</a></li>
                    <li><a href="#">Строгие формы аббатства Фонтене</a></li>
                    <li><a href="#">Танцующие и плачущие святые</a></li>
                    <li><a href="#">«Эпоха образа до эпохи искусства»</a></li>
                    <li><a href="#">Категория стиля</a></li>
                    <li><a href="#">Стиль и политика</a></li>
                    <li><a href="#">Строгие формы аббатства Фонтене</a></li>
                    <li><a href="#">Танцующие и плачущие святые</a></li>
                    <li><a href="#">«Эпоха образа до эпохи искусства»</a></li>
                    <li><a href="#">Категория стиля</a></li>
                    <li><a href="#">Стиль и политика</a></li>
                </ol>
            </div>
            <div class="speed-tooltip js-player-tooltip js-speed">
                <header class="speed-tooltip__header">
                    <p class="speed-tooltip__title">Скорость</p>
                </header>
                <ul class="speed-tooltip__body">
                    <li>0.25</li>
                    <li>0.5</li>
                    <li>0.75</li>
                    <li class="active">Обычная</li>
                    <li>1.25</li>
                    <li>1.5</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
    </div>
</div>





