<div class="player-block__desktop-controls">
    <button type="button" class="backwards">
        <svg width="18" height="11">
            <use xlink:href="#backward"></use>
        </svg>
    </button>
    <button type="button" class="play-button">
        <svg class="pause" width="11" height="18">
            <use xlink:href="#pause"></use>
        </svg>
    </button>
    <div class="sound-control">
        <div class="sound-control__bar">
            <div class="sound-control__progress" style="width: 66%"></div>
        </div>
        <button type="button" class="sound-control__btn" style="left: 66%">Громкость</button>
    </div>
</div>
<div class="player-block__controls">
    <div class="player-block__info">
        <span class="played-time">20:01</span>
        <span class="divider">/</span>
        <span class="total-time">1:35:54</span>
    </div>
</div>