<div class="popup _share js-share js-popup">
    <div class="popup__header">
        <div class="popup__header-row">
            <a href="#" class="logo-min _transparent">
                <svg width="75" height="40">
                    <use xlink:href="#logo-mob" />
                </svg>
            </a>
        </div>
    </div>
    <div class="popup__wrapper">
        <button type="button" class="popup-close js-popup-close">Закрыть</button>
        <div class="social-block-popup">
            <p class="social-block-popup__label">Поделиться</p>
            <div class="social-block-popup__inner">
                <a href="#" class="social-btn-big">
                    <div class="social-btn-big__icon">
                        <svg width="37" height="30">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                        </svg>
                    </div>
                    <span class="social-btn-big__actions"></span>
                </a>
                <a href="#" class="social-btn-big">
                    <div class="social-btn-big__icon">
                        <svg width="34" height="34">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                        </svg>
                    </div>
                    <span class="social-btn-big__actions">48</span>
                </a>
                <a href="#" class="social-btn-big">
                    <div class="social-btn-big__icon">
                        <svg width="41" height="24">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
                        </svg>
                    </div>
                    <span class="social-btn-big__actions">12</span>
                </a>
                <a href="#" class="social-btn-big">
                    <div class="social-btn-big__icon">
                        <svg width="20" height="34">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ok"></use>
                        </svg>
                    </div>
                    <span class="social-btn-big__actions">6</span>
                </a>
            </div>
        </div>
    </div>
</div>