<div class="profile-block js-tabs">
    <header class="profile-block__header">
        <div class="profile-block__header-col">
            <a href="#" class="profile-block__name">Константин <br>Константинопольский</a>
        </div>
        <div class="profile-block__header-col">
            <div class="profile-block__tab-controls">
                <ul>
                    <li class="profile-block__tab-control js-tab-control">
                        <span class="icon">
                            <svg width="14" height="23">
                                <use xlink:href="#fav" />
                            </svg>
                        </span>
                        <span class="text">Закладки</span>
                    </li>
                    <li class="profile-block__tab-control js-tab-control">
                        <span class="text">История</span>
                        <span class="qty">23</span>
                    </li>
                    <li class="profile-block__tab-control active js-tab-control">
                        <span class="text">Настройки</span>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="profile-block__body">
        <div class="profile-block__tab js-tab">
            //= favourites.html
        </div>
        <div class="profile-block__tab js-tab">
            //= history-tab.html
        </div>
        <div class="profile-block__tab js-tab active">
            //= settings-tab.html
        </div>
    </div>
</div>