<section class="project-info">
    <div class="project-info__wrapper">
        <h1 class="project-info__title _mobile">От редактора</h1>
        <div class="project-info__inner">
            <div class="project-info__col">
                <div class="project-info__image-block">
                    <h1 class="project-info__title">От редактора</h1>
                    <h2 class="project-info__name">Андрей Борейко</h2>
                    <p class="project-info__position">Главный редактор</p>
                    <div class="project-info__image">
                        <img src="assets/images/editor.jpg" width="479" height="459" alt="">
                    </div>
                </div>
            </div>
            <div class="project-info__col">
                <div class="project-info__text-block">
                    <p class="project-info__text">
                        <span class="letter">
                            <svg width="97" height="108">
                                <use xlink:href="#c" />
                            </svg>
                        </span>
                        <span><span class="sans-serif">лухи о смерти автора сильно преувеличены.</span> Стоит нам услышать живую, осмысленную речь знатока своего дела – и мы сразу выделяем его слово в белом шуме информационной эпохи. Богатство языка, эрудиция, глубина смысла – все это заставляет прислушаться, задуматься, а потом снова и снова возвращаться к разговору с тем, кто незаметно стал проводником, наставником, а по-латыни – магистром. Отсюда – Magisteria.</span>
                    </p>
                    <p class="project-info__text">Современный читатель, слушатель, зритель хочет быть независимым в своих суждениях. Требование свободы мысли – это, конечно, не просто культурная установка Нового времени, но ключевое условие для понимания любой темы, любого предмета и, тем более, любого собеседника.</p>
                    <p class="project-info__text">С другой стороны, никто из нас не начинает свой путь с нуля. Всегда есть отправные точки или вершины, опираясь на которые мы получаем способность видеть и шире и дальше. Опытный наставник подскажет что почитать, на что обратить внимание в первую очередь, как не потерять напрасно время, в конце концов.</p>
                    <p class="project-info__text">Мы постарались представить на этом сайте учителей, способных приподнять слушателя над суматохой повседневности, дать новую перспективу, свежий взгляд на, казалось бы, вполне традиционные сюжеты. И, хочется думать, круг этих мастеров будет расти вместе с ростом аудитории наших зрителей и слушателей.</p>
                </div>
            </div>
        </div>
    </div>
</section>