<section class="reading-list-block" id="recommend">
    <div class="reading-list-block__col1">
        <h3 class="reading-list-block__label">Рекомендации</h3>
    </div>
    <div class="reading-list-block__col3">
        <ul class="reading-list">
            <li class="reading-list__item">
                <div class="reading-list__img">
                    <img src="assets/images/book01.png" width="145" height="207" alt="">
                </div>
                <div class="reading-list__item-info">
                    <h4 class="reading-list__title">Обними меня крепче </h4>
                    <h4 class="reading-list__author">Сью Джонсон</h4>
                    <p class="reading-list__descr">Когда люди слышат, что я соблюдаю распорядок, каждый день пишу, посвящаю время иностранному языку, работаю над крупным проектом, а через день хожу в спортзал, их изумляет моя дисциплина. Но на самом деле это всего лишь привычки, которые наделяют меня суперспособностями.</p>
                </div>
            </li>
            <li class="reading-list__item">
                <div class="reading-list__img">
                    <img src="assets/images/book01.png" width="145" height="207" alt="">
                </div>
                <div class="reading-list__item-info">
                    <h4 class="reading-list__title">Обними меня крепче </h4>
                    <h4 class="reading-list__author">Сью Джонсон</h4>
                    <p class="reading-list__descr">Подобные периоды радикальных перемен всегда порождали победителей и проигравших. Будущее будет функционировать на абсолютно новой операционной системе. Логика ускоренного будущего ниспровергает мудрость прошлого, и успеха добьются те, кто научится мыслить по-иному.</p>
                </div>
            </li>
            <li class="reading-list__item">
                <div class="reading-list__img">
                    <img src="assets/images/book01.png" width="145" height="207" alt="">
                </div>
                <div class="reading-list__item-info">
                    <h4 class="reading-list__title">Обними меня крепче </h4>
                    <h4 class="reading-list__author">Сью Джонсон</h4>
                    <p class="reading-list__descr">Искусство задавать важные вопросы (и отвечать на них) от декана Гарвардской высшей педагогической школы.</p>
                </div>
            </li>
        </ul>
    </div>
</section>