<div class="settings-block">
    <div class="settings-block__screen current js-screen-1">
        <form action="#" method="post" class="form">
            <div class="form__row">
                <div class="form__field-wrapper">
                    <label for="username" class="form__field-label">Представьтесь</label>
                    <input type="text" id="username" class="form__field">
                </div>
                <div class="form__field-wrapper">
                    <label for="email2" class="form__field-label">E-mail</label>
                    <input type="email" id="email2" class="form__field">
                </div>
                <div class="form__link-wrapper">
                    <a href="#" class="form__change-password js-screen-2-link">Сменить пароль</a>
                </div>
            </div>
            <div class="form__row">
                <button class="form__submit btn btn--brown">Сохранить</button>
                <input type="reset" class="form__reset-btn" value="Отмена">
            </div>
        </form>
    </div>
    <div class="settings-block__screen js-screen-2">
        <form action="#" method="post" class="form password-form">
            <h3 class="password-form__title">Сменить пароль</h3>
            <div class="form__field-wrapper password-form__field-wrapper  js-field-wrapper _show-password _valid">
                <label for="old-password" class="form__field-label">Старый пароль</label>
                <input type="password" id="old-password" class="form__field" value="апоырыор">
                <span class="icon-eye js-eye">
                    <svg width="16" height="12">
                        <use xlink:href="#eye" />
                    </svg>
                </span>
                <span class="status-icon">
                    <svg class="success" width="20" height="20">
                        <use xlink:href="#check-green" />
                    </svg>
                    <svg class="failure" width="16" height="16">
                        <use xlink:href="#failure" />
                    </svg>
                </span>
            </div>
            <div class="form__field-wrapper password-form__field-wrapper js-field-wrapper">
                <label for="new-password" class="form__field-label">Новый пароль</label>
                <input type="password" id="new-password" class="form__field">
                <span class="icon-eye js-eye">
                    <svg width="16" height="12">
                        <use xlink:href="#eye" />
                    </svg>
                </span>
                <span class="status-icon">
                    <svg class="success" width="20" height="20">
                        <use xlink:href="#check-green" />
                    </svg>
                    <svg class="failure" width="16" height="16">
                        <use xlink:href="#failure" />
                    </svg>
                </span>
            </div>
            <div class="form__field-wrapper password-form__field-wrapper js-field-wrapper">
                <label for="repeat-password" class="form__field-label">Повторите новый пароль</label>
                <input type="password" id="repeat-password" class="form__field">
                <span class="icon-eye js-eye">
                    <svg width="16" height="12">
                        <use xlink:href="#eye" />
                    </svg>
                </span>
                <span class="status-icon">
                    <svg class="success" width="20" height="20">
                        <use xlink:href="#check-green" />
                    </svg>
                    <svg class="failure" width="16" height="16">
                        <use xlink:href="#failure" />
                    </svg>
                </span>
            </div>
            <p class="form__error-message js-error-message">Пароли не совпадают</p>
            <div class="form__row _buttons">
                <button class="password-form__submit form__submit btn btn--brown">Сменить пароль</button>
                <input type="reset" class="form__reset-btn password-form__reset-btn" value="Отмена">
            </div>
        </form>
    </div>
</div>