<div class="subscription-info">
    <div class="subscription-info__wrapper">
        <div class="subscription-info__header">
            <p class="subscription-info__period"><span class="days">472</span> дня осталось</p>
            <form action="#" method="post" class="subscription-form">
                <div class="subscription-form__card-block card-block">
                    <div class="card-block__header">
                        <input type="text" class="card-block__number" id="cardnumber" value="**** **** **** 2344" readonly>
                    </div>
                    <p class="card-block__error">Ошибка оплаты</p>
                    <div class="card-block__footer">
                        <input type="text" class="card-block__valid-through" id="cardvalid" value="03/25" readonly>
                        <div class="card-block__type">
                            <svg width="32" height="10">
                                <use xlink:href="#visa" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="subscription-form__actions">
                    <div class="subscription-form__check">
                        <input type="checkbox" id="autosubscribe" class="visually-hidden" checked>
                        <label for="autosubscribe" class="subscription-form__label">Автопродление</label>
                    </div>
                    <a href="#" class="btn btn--brown subscription-form__btn">Оплатить подписку</a>
                </div>
            </form>
        </div>
        <div class="subscription-info__header">
            <p class="subscription-info__period">Подписка неактивна</p>
            <form action="#" method="post" class="subscription-form">
                <div class="subscription-form__card-block card-block _error">
                    <div class="card-block__header">
                        <input type="text" class="card-block__number" id="cardnumber" value="**** **** **** 2344" readonly>
                    </div>
                    <p class="card-block__error">Ошибка оплаты</p>
                    <div class="card-block__footer">
                        <input type="text" class="card-block__valid-through" id="cardvalid" value="03/25" readonly>
                        <div class="card-block__type">
                            <svg width="32" height="10">
                                <use xlink:href="#visa" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="subscription-form__actions _inactive">
                    <div class="subscription-form__check">
                        <input type="checkbox" id="autosubscribe" class="visually-hidden" checked>
                        <label for="autosubscribe" class="subscription-form__label">Автопродление</label>
                    </div>
                    <a href="#" class="btn btn--brown subscription-form__btn">Оплатить подписку</a>
                </div>
            </form>
        </div>
        <div class="subscription-history">
            <h2>История платежей</h2>
            <ul>
                <li class="subscription-history__item">
                    <p class="subscription-history__transaction">Название транзакции <span class="subscription-history__date">Сегодня 12:28</span></p>
                    <p class="subscription-history__total">583₽</p>
                </li>
                <li class="subscription-history__item">
                    <p class="subscription-history__transaction">Название транзакции <span class="subscription-history__date">Сегодня 12:28</span></p>
                    <p class="subscription-history__total">583₽</p>
                </li>
                <li class="subscription-history__item">
                    <p class="subscription-history__transaction">Название транзакции длинной <span class="subscription-history__date">Сегодня 12:28</span></p>
                    <p class="subscription-history__total">583₽</p>
                </li>
            </ul>
            <a href="#" class="btn btn--rounded subscription-history__btn">Загрузить еще 20</a>
        </div>
    </div>
</div>