<div class="subscribe-form-block">
    <div class="subscribe-form-block__form">
        <form action="#" method="post" class="subscribe-form">
            <label for="usermail" class="subscribe-form__label">Оставьте ваш e-mail и мы оповестим вас когда новые лекции появятся на сайте</label>
            <div class="subscribe-form__field-wrapper">
                <input type="text" id="usermail" class="subscribe-form__field" placeholder="E-mail">
                <button class="subscribe-form__btn">
                    <svg width="18" height="18">
                        <use xlink:href="#send" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>