<section class="text-block">
    <div class="text-block__wrapper">
        <h2>Предмет предстоящей беседы</h2>
        <p class="text-intro"><span class="first-letter">П</span>редметом наших бесед будут сразу две темы. Первая тема – локальные цивилизации. И вторая тема – крупные имперские образования в рамках этих цивилизаций, оказавшие на ход истории существенное влияние. Здесь мы сразу сталкиваемся с кучей вопросов: что такое локальная цивилизация, что такое колоссальное влияние; мы сразу входим в сферу оценочных категорий. Более того, сама идея локальных цивилизаций в настоящее время во многом дискредитирована, и не только по причине научных проблем.</p>
        <p>Я скажу пару слов о том, что тема локальных цивилизаций как бы распадается в своей проблематике на две сферы. Первая сфера – сугубо научная: проблема верификации критериев. На основании каких критериев мы выделяем те или иные локальные цивилизации? На основании каких критериев мы обобщаем какие-то культуры в рамках одной цивилизации? И т.д.</p>
        <h3>Полет Икара</h3>
        <p>Вторая проблема, более специфичная, относится к разряду идеологических. Очень часто, и мы сами, увы, являемся этому свидетелями, идею локальных цивилизаций защищают сторонники либо отстающих в своем развитии обществ, либо обществ авторитарных, и чаще всего, поскольку отставание и авторитаризм прекрасно совмещаются друг с другом, получается, что идея локальной цивилизации служит формой легитимации для самых неприглядных форм современного существования социумов. И получается, что в нашу задачу, если можно так сказать, входит еще идеологическая реабилитация этой теории.</p>
        <ul>
            <li>который одарен всеми дарами, которые дал ему Бог, раскрыл эти дары;</li>
            <li>который стяжал все знания, которые дают ему возможность быть на высоком интеллектуальном уровне;</li>
            <li>который проявил себя в творчестве;</li>
            <li>который не просто прожил свою жизнь, дойдя только до смерти, и лишь бы не согрешить.</li>
        </ul>
        <p>Я скажу пару слов о том, что тема локальных цивилизаций как бы распадается в своей проблематике на две сферы. Первая сфера – сугубо научная: проблема верификации критериев. На основании каких критериев мы выделяем те или иные локальные цивилизации? На основании каких критериев мы обобщаем какие-то культуры в рамках одной цивилизации? И т.д.</p>
        <blockquote class="text-block__quote"><span class="brown">«</span>художников своей жизни, которыми так богато Возрождение».</blockquote>
        <p>Вот эта идея сделать и жизнь свою предметов искусства, о котором будут говорить многие художники Возрождения, началась с Франциска. Именно он сделал свою жизнь предметом божественной игры и божественного искусства.</p>
        //= literature-sources.html
    </div>
</section>