<footer class="page-footer">
    <div class="page-footer__wrapper">
        <div class="page-footer__row">
            <a href="#" class="logo-footer">
                <svg width="70" height="43">
                    <use xlink:href="#logo-mob"/>
                </svg>
            </a>
            <ul class="footer-actions">
                <li>
                    <a href="#">
                        <div class="icon">
                            <svg width="24" height="24">
                                <use xlink:href="#idea"/>
                            </svg>
                        </div>
                        <span>Оставьте идею</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icon">
                            <svg width="22" height="18">
                                <use xlink:href="#comment"/>
                            </svg>
                        </div>
                        <span>Напишите нам</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-footer__inner">
            <div class="page-footer__col">
                <div class="social-block-big">
                    <h4 class="social-block-big__title">Мы в соц. сетях</h4>
                    <div class="social-block-big__inner">
                        <a href="#" class="social-link">
                            <span class="social-link__icon">
                                <svg width="18" height="18">
                                    <use xlink:href="#fb"/>
                                </svg>
                            </span>
                            <span class="social-link__text">Facebook</span>
                        </a>
                        <a href="#" class="social-link">
                            <span class="social-link__icon">
                                <svg width="16" height="16">
                                    <use xlink:href="#telegram"/>
                                </svg>
                            </span>
                            <span class="social-link__text">Telegram</span>
                        </a>
                        <a href="#" class="social-link">
                            <span class="social-link__icon">
                                <svg width="18" height="11">
                                    <use xlink:href="#vk"/>
                                </svg>
                            </span>
                            <span class="social-link__text">Вконтакте</span>
                        </a>
                        <a href="#" class="social-link">
                            <span class="social-link__icon">
                                <svg width="16" height="12">
                                    <use xlink:href="#youtube"/>
                                </svg>
                            </span>
                            <span class="social-link__text">Youtube</span>
                        </a>
                        <a href="#" class="social-link">
                            <span class="social-link__icon">
                                <svg width="18" height="15">
                                    <use xlink:href="#tw"/>
                                </svg>
                            </span>
                            <span class="social-link__text">Twitter</span>
                        </a>
                        <a href="#" class="social-link">
                            <span class="social-link__icon">
                                <svg width="11" height="18">
                                    <use xlink:href="#ok"/>
                                </svg>
                            </span>
                            <span class="social-link__text">Одноклассники</span>
                        </a>
                        <a href="#" class="social-link">
                            <span class="social-link__icon">
                                <svg width="16" height="16">
                                    <use xlink:href="#ig"/>
                                </svg>
                            </span>
                            <span class="social-link__text">Instagram</span>
                        </a>
                        <a href="#" class="social-link">
                            <span class="social-link__icon">
                                <svg width="16" height="16">
                                    <use xlink:href="#rss"/>
                                </svg>
                            </span>
                            <span class="social-link__text">RSS</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-footer__col">
                <div class="subscribe-block">
                    <h4 class="subscribe-block__label">Подписка</h4>
                    <p class="subscribe-block__descr">Оставьте ваш e-mail и мы оповестим вас когда новые лекции появятся на сайте</p>
                    <form action="#" method="post" class="form subscribe-form">
                        <div class="subscribe-form__field-wrapper">
                            <input type="email" id="email" name="email-field" class="subscribe-form__field" placeholder="E-mail">
                            <button class="subscribe-form__submit">
                                <svg width="18" height="18">
                                    <use xlink:href="#next"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer__copyright">
        <div class="page-footer__wrapper">
            <p>© Magisteria 2016 - 2017. All rights reserved. <br><a href="#">Политика конфиденциальности</a> / <a href="#">Пользовательское соглашение</a></p>
        </div>
    </div>
</footer>