<header class="page-header _fixed js-header">
    <div class="page-header__row">
        <div class="page-header__menu-mobile">
            <button type="button" class="menu-trigger js-menu-trigger"><span>Меню</span></button>
            <a href="#" class="logo-mobile">
                <svg width="70" height="38">
                    <use xlink:href="#logo-mob"/>
                </svg>
            </a>
            <nav class="navigation navigation-mobile">
                <ul>
                    <li class="current">
                        <a href="#">Курсы</a>
                    </li>
                    <li>
                        <a href="#">Календарь</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="page-header__btn page-header__btn--mobile btn btn--brown js-modal" data-target="billing">Подписка</a>
        </div>
        <div class="page-header__wrapper menu-mobile js-menu-mobile">
            <a href="#" class="logo">
                <svg width="130" height="31">
                    <use xlink:href="#logo"/>
                </svg>
            </a>
            <nav class="navigation">
                <ul>
                    <li class="current">
                        <a href="#">Курсы</a>
                    </li>
                    <li>
                        <a href="#">Календарь</a>
                    </li>
                    <li class="filter js-filter-toggle">
                        <a href="#">
                            <span class="hidden">Фильтры</span>
                            <svg width="22" height="21">
                                <use xlink:href="#filter"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="language-block js-language">
                <button type="button" class="language-indicator js-language-toggle"><span>Рус</span></button>
                <ul class="language-tooltip js-language-picker">
                    <li class="selected">
                        <a href="#" data-lang="Рус">Русский</a>
                    </li>
                    <li>
                        <a href="#" data-lang="En">English</a>
                    </li>
                    <li>
                        <a href="#" data-lang="Es">Espaniol</a>
                    </li>
                </ul>
            </div>
            <div class="filters-mobile js-filters-mobile">
                <div class="filters-mobile__trigger js-filters-mobile-trigger">
                    <svg class="filters-mobile__icon" width="22" height="21">
                        <use xlink:href="#filter"/>
                    </svg>
                    <span class="filters-mobile__label">Фильтры</span>
                </div>
                <ul class="filters-list">
                    <li><p class="filters-row__label">Сбросить фильтры</p></li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Литература <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">История <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Литература <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Музыка <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Психология <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Религия <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Философия <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Искусство <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Литература <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">История <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Литература <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Музыка <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Психология <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Религия <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Философия <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Искусство <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="search-block js-search">
                <button type="button" class="search-block__trigger js-search-trigger">
                    <svg width="20" height="21">
                        <use xlink:href="#search"/>
                    </svg>
                </button>
                <form action="#" class="search-form">
                    <input type="search" class="search-form__field js-search-field" placeholder="Поиск">
                    <button class="invisible">Найти</button>
                    <div class="search-form__close js-search-close">Закрыть</div>
                </form>
            </div>
            <a href="#" class="page-header__btn btn btn--brown js-modal" data-target="billing">Подписка <span>250</span></a>
            <div class="user-block">
                <a href="#" class="login-btn js-login">
                    <svg width="15" height="16">
                        <use xlink:href="#login"/>
                    </svg>
                    <span>Вход</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-header__row filters-row js-filters">
        <div class="page-header__wrapper filters-row__wrapper">
            <div class="filters-row__inner">
                <p class="filters-row__label">Сбросить фильтры</p>
                <ul class="filters-list">
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Литература <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">История <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Литература <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Музыка <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Психология <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Религия <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Философия <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Искусство <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Литература <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">История <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Литература <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Музыка <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Психология <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Религия <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Философия <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-btn">
                            <span class="filter-btn__title">Искусство <span class="filter-btn__index">12</span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>