<div class="lecture-frame">
    <div class="lecture-frame__header">
        <a href="#" class="lecture-frame__play-link">
            <h2 class="lecture-frame__title">
                <span class="lecture-frame__duration">10:34</span>
                <span class="play-btn-big lecture-frame__play-btn">Воспроизвести</span>
                <span class="title-text">
                    <span class="number">10.</span> Новизна и своеобразие буддизма в&nbsp;духовной культуре древней Индии.
                </span>
            </h2>
            <div class="lecture-frame__text-block">
                <p class="lecture-frame__descr">Вступительная беседа о достоинствах и недостатках цивилизационного подхода к истории, о критериях или маркерах цивилизации.</p>
                <p class="lecture-frame__author">Олег Лекманов</p>
            </div>
        </a>
        //= ../elements/social-block.html
    </div>
    <div class="progress-bar">
        <div class="progress-bar__bar" style="width: 186px;"></div>
    </div>
</div>