<div class="lectures-menu js-lectures-menu _dark">
    <div class="lectures-menu__section">
        <a href="#" class="logo-min">
            <svg width="75" height="40">
                <use xlink:href="#logo-mob" />
            </svg>
        </a>
        <a href="#" class="lectures-menu__link-back">
            <div class="icon">
                <svg width="18" height="18">
                    <use xlink:href="#link-back" />
                </svg>
            </div>
            <span><span class="label">Курс:</span> Империи и цивилизации древней Евразии</span>
        </a>
    </div>
    <div class="lectures-menu__section lectures-list-block">
        <button type="button" class="lectures-list-trigger js-lectures-list-trigger"><span class="label">Лекция</span> <span class="num"><span class="current">10</span>/13</span></button>
        <div class="lectures-list-wrapper">
            <ol class="lectures-list">
                <li class="lectures-list__item">
                    <a href="#" class="lectures-list__item-header">

                        <div class="lectures-list__item-info">
                            <h3 class="lectures-list__item-title"><span>Индия. Царство Маурья и ненасилие.</span></h3>
                            <p class="lectures-list__item-author">Сергей Щербак</p>
                        </div>

                        <div class="play-block">
                            <div class="play-block__image-wrapper" style="background-image: url('assets/images/lecture02.png')"></div>
                            <div class="play-block__loader" id="cont01" data-pct="100">
                                <svg class="svg-loader" id="svg01" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                    <circle class="bar" id="bar01" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                </svg>
                            </div>
                            <div class="play-block__btn">
                                <svg width="41" height="36">
                                    <use xlink:href="#play" />
                                </svg>
                            </div>
                            <div class="play-block__tooltip">Смотреть</div>
                            <div class="play-block__duration">35:18</div>
                            <!-- <div class="play-block__action">
                                <div class="play-block__action-loader"></div>
                                <div class="play-block__action-btn">
                                    <svg class="action-btn" width="14" height="14">
                                        <use xlink:href="#reload-small" />
                                    </svg>
                                </div>
                                <div class="play-block__action-tooltip">С начала</div>
                            </div> -->
                        </div>

                        //= ../elements/play-block-mobile

                    </a>

                    <ol class="lectures-item__body lectures-sublist">
                        <li class="lectures-sublist__item">
                            <a href="#" class="lectures-sublist__title"><span class="sublist-num"></span>Сотворение жены</a>
                            <div class="lectures-sublist__item-info">
                                <p class="lectures-sublist__item-author">Сергей Щербак</p>
                                <div class="lectures-sublist__play-block">
                                    <button type="button" class="play-btn-small">
                                        <svg width="12" height="11">
                                            <use xlink:href="#play-small" />
                                        </svg>
                                        <span>Воспроизвести</span>
                                    </button>
                                    <span class="lectures-sublist__item-duration">05:10</span>
                                </div>
                            </div>
                        </li>
                        <li class="lectures-sublist__item">
                            <a href="#" class="lectures-sublist__title"><span class="sublist-num"></span>«К чему эти смехотворные чудовища?»</a>
                            <div class="lectures-sublist__item-info">
                                <p class="lectures-sublist__item-author">Сергей Щербак</p>
                                <div class="lectures-sublist__play-block">
                                    <button type="button" class="play-btn-small">
                                        <svg width="12" height="11">
                                            <use xlink:href="#play-small" />
                                        </svg>
                                        <span>Воспроизвести</span>
                                    </button>
                                    <span class="lectures-sublist__item-duration">05:10</span>
                                </div>
                            </div>
                        </li>
                    </ol>

                </li>
                <li class="lectures-list__item active">
                    <a href="#" class="lectures-list__item-header">

                        <div class="lectures-list__item-info">
                            <h3 class="lectures-list__item-title"><span>Книжная миниатюра раннего Средневековья</span></h3>
                            <p class="lectures-list__item-author">Сергей Щербак</p>
                        </div>

                        <div class="play-block">
                            <div class="play-block__image-wrapper" style="background-image: url('assets/images/lecture03.png')"></div>
                            <div class="play-block__loader" id="cont04" data-pct="100">
                                <svg class="svg-loader" id="svg04" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                    <circle class="bar" id="bar04" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                </svg>
                            </div>
                            <div class="play-block__btn">
                                <svg width="41" height="36">
                                    <use xlink:href="#play" />
                                </svg>
                            </div>
                            <div class="play-block__tooltip">Смотреть</div>
                            <div class="play-block__duration">35:18</div>
                            <!-- <div class="play-block__action">
                                <div class="play-block__action-loader"></div>
                                <div class="play-block__action-btn">
                                    <svg class="action-btn" width="14" height="14">
                                        <use xlink:href="#reload-small" />
                                    </svg>
                                </div>
                                <div class="play-block__action-tooltip">С начала</div>
                            </div> -->
                        </div>

                        //= ../elements/play-block-mobile

                    </a>
                </li>
                <li class="lectures-list__item">
                    <a href="#" class="lectures-list__item-header">

                        <div class="lectures-list__item-info">
                            <h3 class="lectures-list__item-title"><span>Как читать книжную миниатюру</span></h3>
                            <p class="lectures-list__item-author">Сергей Щербак</p>
                        </div>

                        <div class="play-block">
                            <div class="play-block__image-wrapper" style="background-image: url('assets/images/lecture04.png')"></div>
                            <div class="play-block__loader" id="cont03" data-pct="100">
                                <svg class="svg-loader" id="svg03" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                    <circle class="bar" id="bar03" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                </svg>
                            </div>
                            <div class="play-block__btn">
                                <svg width="41" height="36">
                                    <use xlink:href="#play" />
                                </svg>
                            </div>
                            <div class="play-block__tooltip">Смотреть</div>
                            <div class="play-block__duration">35:18</div>
                            <!-- <div class="play-block__action">
                                <div class="play-block__action-loader"></div>
                                <div class="play-block__action-btn">
                                    <svg class="action-btn" width="14" height="14">
                                        <use xlink:href="#reload-small" />
                                    </svg>
                                </div>
                                <div class="play-block__action-tooltip">С начала</div>
                            </div> -->
                        </div>

                        //= ../elements/play-block-mobile

                    </a>
                    <ol class="lectures-item__body lectures-sublist">
                        <li class="lectures-sublist__item">
                            <a href="#" class="lectures-sublist__title"><span class="sublist-num"></span>Сотворение жены</a>
                            <div class="lectures-sublist__item-info">
                                <p class="lectures-sublist__item-author">Сергей Щербак</p>
                                <div class="lectures-sublist__play-block">
                                    <button type="button" class="play-btn-small">
                                        <svg width="12" height="11">
                                            <use xlink:href="#play-small" />
                                        </svg>
                                        <span>Воспроизвести</span>
                                    </button>
                                    <span class="lectures-sublist__item-duration">05:10</span>
                                </div>
                            </div>
                        </li>
                        <li class="lectures-sublist__item active">
                            <a href="#" class="lectures-sublist__title"><span class="sublist-num"></span>«К чему эти смехотворные чудовища?»</a>
                            <div class="lectures-sublist__item-info">
                                <p class="lectures-sublist__item-author">Сергей Щербак</p>
                                <div class="lectures-sublist__play-block">
                                    <button type="button" class="play-btn-small">
                                        <svg width="12" height="11">
                                            <use xlink:href="#play-small" />
                                        </svg>
                                        <span>Воспроизвести</span>
                                    </button>
                                    <span class="lectures-sublist__item-duration">05:10</span>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
                <li class="lectures-list__item">
                    <a href="#" class="lectures-list__item-header">

                        <div class="lectures-list__item-info">
                            <h3 class="lectures-list__item-title"><span>Книжная миниатюра зрелого Средневековья</span></h3>
                            <p class="lectures-list__item-author">Сергей Щербак</p>
                        </div>

                        <div class="play-block">
                            <div class="play-block__image-wrapper" style="background-image: url('assets/images/lecture05.png')"></div>
                            <div class="play-block__loader" id="cont05" data-pct="100">
                                <svg class="svg-loader" id="svg05" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                    <circle class="bar" id="bar05" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                </svg>
                            </div>
                            <div class="play-block__btn">
                                <svg width="41" height="36">
                                    <use xlink:href="#play" />
                                </svg>
                            </div>
                            <div class="play-block__tooltip">Смотреть</div>
                            <div class="play-block__duration">35:18</div>
                            <!-- <div class="play-block__action">
                                <div class="play-block__action-loader"></div>
                                <div class="play-block__action-btn">
                                    <svg class="action-btn" width="14" height="14">
                                        <use xlink:href="#reload-small" />
                                    </svg>
                                </div>
                                <div class="play-block__action-tooltip">С начала</div>
                            </div> -->
                        </div>

                        //= ../elements/play-block-mobile

                    </a>
                </li>
                <li class="lectures-list__item">
                    <a href="#" class="lectures-list__item-header">

                        <div class="lectures-list__item-info">
                            <h3 class="lectures-list__item-title"><span>Основы буддийской доктрины. Восьмеричный путь</span></h3>
                            <p class="lectures-list__item-author">Сергей Щербак</p>
                        </div>

                        <div class="play-block">
                            <div class="play-block__image-wrapper" style="background-image: url('assets/images/lecture06.png')"></div>
                            <div class="play-block__loader" id="cont02" data-pct="100">
                                <svg class="svg-loader" id="svg02" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                    <circle class="bar" id="bar02" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                </svg>
                            </div>
                            <div class="play-block__btn">
                                <svg width="41" height="36">
                                    <use xlink:href="#play" />
                                </svg>
                            </div>
                            <div class="play-block__tooltip">Смотреть</div>
                            <div class="play-block__duration">35:18</div>
                            <!-- <div class="play-block__action">
                                <div class="play-block__action-loader"></div>
                                <div class="play-block__action-btn">
                                    <svg class="action-btn" width="14" height="14">
                                        <use xlink:href="#reload-small" />
                                    </svg>
                                </div>
                                <div class="play-block__action-tooltip">С начала</div>
                            </div> -->
                        </div>

                        //= ../elements/play-block-mobile

                    </a>
                </li>
                <li class="lectures-list__item lectures-list__item--old">
                    <a href="#" class="lectures-list__item-header">
                        <div class="lectures-list__item-info">
                            <h3 class="lectures-list__item-title"><span>Индия. Царство Маурья и ненасилие.</span></h3>
                            <p class="lectures-list__item-author">Сергей Щербак</p>
                        </div>
                        <div class="lectures-list__item-date">Январь 2018</div>
                    </a>
                </li>
                <li class="lectures-list__item lectures-list__item--old">
                    <a href="#" class="lectures-list__item-header">
                        <div class="lectures-list__item-info">
                            <h3 class="lectures-list__item-title"><span>Индия. Царство Маурья и ненасилие.</span></h3>
                            <p class="lectures-list__item-author">Сергей Щербак</p>
                        </div>
                        <div class="lectures-list__item-date">Январь 2018</div>
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <button type="button" class="social-trigger js-social-trigger">
        <svg width="18" height="18">
            <use xlink:href="#share" />
        </svg>
    </button>
</div>






















