<div class="lecture-frame lecture-player player-wrapper" style="background-image: url('assets/images/bg-frame01.png');">
    <div class="lecture-player__img">
        <img src="assets/images/bg-frame01.jpg" alt="">
        <div class="player-frame__play-screen">
            <div class="player-frame__play-screen-wrapper">
                <div class="play-block play-block--big">
                    <div class="play-block__image-wrapper" style="background-image: url('assets/images/play-big03.png')"></div>
                    <div class="play-block__loader" id="cont02" data-pct="100">
                        <svg class="svg-loader" id="svg02" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                            <circle class="bar" id="bar02" r="90" cx="50%" cy="50%" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                        </svg>
                    </div>
                    <div class="play-block__btn">
                        <svg width="41" height="36">
                            <use xlink:href="#play" />
                        </svg>
                    </div>
                    <div class="play-block__tooltip">Смотреть</div>
                    <div class="play-block__duration">35:18</div>
                </div>
            </div>
            <button type="button" class="player-frame__cancel">Отмена</button>
            <p class="player-frame__next"><span class="label">Дальше </span>10.1 «Метафизика». Учение о категориях. Понятие «сущности»</p>
        </div>
    </div>
    <button type="button" class="lecture-frame__fav">
        <svg width="14" height="23">
            <use xlink:href="#flag" />
        </svg>
    </button>
    <div class="lecture-player__subtitles">
        <span>«Физика» Аристотеля с греческим оригиналом на полях рукописи. Средневековый латинский манускрипт. Bibliotheca Apostolica Vaticana, Рим.</span>
    </div>
    <div class="player-block">
        <div class="player-block__row">
            //= ../blocks/player-block-controls-new.html
            <div class="player-block__stats">
                <button type="button" class="sound-button _sound-on">
                    <svg class="on" width="18" height="18">
                        <use xlink:href="#sound" />
                    </svg>
                    <svg class="off" width="18" height="18">
                        <use xlink:href="#mute" />
                    </svg>
                </button>
                <button type="button" class="content-button js-contents-trigger">
                    <svg width="18" height="12">
                        <use xlink:href="#contents" />
                    </svg>
                </button>
                <button type="button" class="speed-button js-speed-trigger">
                    <svg width="18" height="18">
                        <use xlink:href="#speed" />
                    </svg>
                </button>
            </div>
            <div class="contents-tooltip  js-player-tooltip js-contents">
                <header class="contents-tooltip__header">
                    <p class="contents-tooltip__title">Оглавление</p>
                </header>
                <ol class="contents-tooltip__body scrollable">
                    <li class="active">
                        <a href="#">«К чему эти смехотворные чудовища?»</a>
                        <div class="equalizer">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li><a href="#">Строгие формы аббатства Фонтене</a></li>
                    <li><a href="#">Танцующие и плачущие святые</a></li>
                    <li><a href="#">«Эпоха образа до эпохи искусства»</a></li>
                    <li><a href="#">Категория стиля</a></li>
                    <li><a href="#">Стиль и политика</a></li>
                    <li><a href="#">Строгие формы аббатства Фонтене</a></li>
                    <li><a href="#">Танцующие и плачущие святые</a></li>
                    <li><a href="#">«Эпоха образа до эпохи искусства»</a></li>
                    <li><a href="#">Категория стиля</a></li>
                    <li><a href="#">Стиль и политика</a></li>
                    <li><a href="#">Строгие формы аббатства Фонтене</a></li>
                    <li><a href="#">Танцующие и плачущие святые</a></li>
                    <li><a href="#">«Эпоха образа до эпохи искусства»</a></li>
                    <li><a href="#">Категория стиля</a></li>
                    <li><a href="#">Стиль и политика</a></li>
                </ol>
            </div>
            <div class="speed-tooltip js-player-tooltip js-speed">
                <header class="speed-tooltip__header">
                    <p class="speed-tooltip__title">Скорость</p>
                </header>
                <ul class="speed-tooltip__body">
                    <li>0.25</li>
                    <li>0.5</li>
                    <li>0.75</li>
                    <li class="active">Обычная</li>
                    <li>1.25</li>
                    <li>1.5</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
        <div class="player-block__progress">
            <div class="player-block__load" style="width: 33.5%;"></div>
            <div class="player-block__play" style="width: 20%;"><span class="indicator"></span></div>
            <div class="player-block__gap" style="left: 5%;"></div>
            <div class="player-block__gap" style="left: 20%;"></div>
            <div class="player-block__gap" style="left: 28%;"></div>
            <div class="player-block__gap" style="left: 34%;"></div>
            <div class="player-block__gap" style="left: 40%;"></div>
            <div class="player-block__gap" style="left: 50%;"></div>
            <div class="player-block__gap" style="left: 55%;"></div>
            <div class="player-block__time" style="left: 30%;">50:01</div>
        </div>
    </div>
</div>