<section class="lectures-menu__section lectures-menu-nav js-lectures-menu-nav">
    <ul class="menu-nav-list _shadow">
        <li class="menu-nav-list__item js-menu-tab-control">
            <div class="menu-nav-list__item-head">Оглавление</div>
            <ol class="menu-nav-sublist">
                <li class="menu-nav-sublist__item current">
                    <a href="#" class="menu-nav-sublist__link">«К чему эти смехотворные чудовища?»</a>
                </li>
                <li class="menu-nav-sublist__item">
                    <a href="#" class="menu-nav-sublist__link">Строгие формы аббатства Фонтене</a>
                </li>
                <li class="menu-nav-sublist__item">
                    <a href="#" class="menu-nav-sublist__link">Танцующие и плачущие святые</a>
                </li>
                <li class="menu-nav-sublist__item">
                    <a href="#" class="menu-nav-sublist__link">«Эпоха образа до эпохи искусства»</a>
                </li>
                <li class="menu-nav-sublist__item">
                    <a href="#" class="menu-nav-sublist__link">Категория стиля</a>
                </li>
                <li class="menu-nav-sublist__item">
                    <a href="#" class="menu-nav-sublist__link">Стиль и политика</a>
                </li>
            </ol>
        </li>
        <li class="menu-nav-list__item">
            <a href="#recommend" class="menu-nav-list__item-head js-scroll-link">Рекомендации</a>
        </li>
        <li class="menu-nav-list__item">
            <a href="#gallery" class="menu-nav-list__item-head js-scroll-link js-gallery-trigger">Галерея</a>
        </li>
    </ul>
    <button class="lectures-menu-nav__trigger js-menu-nav-trigger">Меню</button>
    <div class="lectures-menu-nav__list">
        <ul class="menu-nav-list">
            <li class="menu-nav-list__item js-menu-tab-control">
                <div class="menu-nav-list__item-head">Оглавление</div>
                <ol class="menu-nav-sublist">
                    <li class="menu-nav-sublist__item current">
                        <a href="#" class="menu-nav-sublist__link">«К чему эти смехотворные чудовища?»</a>
                    </li>
                    <li class="menu-nav-sublist__item">
                        <a href="#" class="menu-nav-sublist__link">Строгие формы аббатства Фонтене</a>
                    </li>
                    <li class="menu-nav-sublist__item">
                        <a href="#" class="menu-nav-sublist__link">Танцующие и плачущие святые</a>
                    </li>
                    <li class="menu-nav-sublist__item">
                        <a href="#" class="menu-nav-sublist__link">«Эпоха образа до эпохи искусства»</a>
                    </li>
                    <li class="menu-nav-sublist__item">
                        <a href="#" class="menu-nav-sublist__link">Категория стиля</a>
                    </li>
                    <li class="menu-nav-sublist__item">
                        <a href="#" class="menu-nav-sublist__link">Стиль и политика</a>
                    </li>
                </ol>
            </li>
            <li class="menu-nav-list__item">
                <a href="#recommend" class="menu-nav-list__item-head js-scroll-link">Рекомендации</a>
            </li>
            <li class="menu-nav-list__item">
                <a href="#gallery" class="menu-nav-list__item-head js-scroll-link js-gallery-trigger">Галерея</a>
            </li>
        </ul>
    </div>
</section>
