<div class="lecture-frame lecture-player player-wrapper" style="background-image: url('assets/images/bg-frame01.png');">
    <div class="lecture-player__img">
        <img src="assets/images/bg-frame01.jpg" alt="">
        <div class="lecture-frame__header">
            <div class="lecture-frame__play-link">
                <h2 class="lecture-frame__title">
                    <span class="lecture-frame__duration">10:34</span>
                    <div class="lecture-frame__play-block">
                        <button type="button" class="lecture-frame__play-control _backwards">
                            <svg class="icon" width="32" height="21">
                                <use xlink:href="#backwards" />
                            </svg>
                            <span class="label">-10</span>
                        </button>
                        <button type="button" class="play-btn-big lecture-frame__play-btn">
                            <span class="visually-hidden">Воспроизвести</span>
                            <svg class="play" width="97" height="86">
                                <use xlink:href="#play-big" />
                            </svg>
                            <svg class="pause" width="68" height="92">
                                <use xlink:href="#pause-shad" />
                            </svg>
                        </button>
                        <button type="button" class="lecture-frame__play-control _backwards">
                            <span class="label">+10</span>
                            <svg class="icon" width="32" height="21">
                                <use xlink:href="#forwards" />
                            </svg>
                        </button>
                    </div>
                    <a href="#" class="title-text">
                        <span class="number">10.</span> Новизна и своеобразие буддизма в&nbsp;духовной культуре древней Индии.
                    </a>
                </h2>
                <div class="lecture-frame__text-block">
                    <p class="lecture-frame__descr">Лекция о неудавшемся монахе и состоявшемся художнике Филиппо Липпи, который был учеником Мазаччо и учителем Боттичелли. <span class="lecture-frame__author">Олег Лекманов</span></p>
                </div>
            </div>
            <div class="social-block">
                <div class="social-block__inner">
                    <a href="#" class="social-btn _active">
                        <div class="social-btn__icon">
                            <svg width="24" height="24">
                                <use xlink:href="#fb"></use>
                            </svg>
                        </div>
                        <span class="social-btn__actions">64</span>
                    </a>
                    <a href="#" class="social-btn _active">
                        <div class="social-btn__icon">
                            <svg width="26" height="15">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </div>
                        <span class="social-btn__actions">91</span>
                    </a>
                    <a href="#" class="social-btn _active">
                        <div class="social-btn__icon">
                            <svg width="14" height="24">
                                <use xlink:href="#ok"></use>
                            </svg>
                        </div>
                        <span class="social-btn__actions">4</span>
                    </a>
                    <a href="#" class="social-btn">
                        <div class="social-btn__icon">
                            <svg width="27" height="22">
                                <use xlink:href="#tw"></use>
                            </svg>
                        </div>
                        <span class="social-btn__actions"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="lecture-frame__fav">
        <svg width="14" height="23">
            <use xlink:href="#flag" />
        </svg>
    </button>
    <div class="lecture-player__subtitles">
        <span>«Физика» Аристотеля с греческим оригиналом на полях рукописи. Средневековый латинский манускрипт. Bibliotheca Apostolica Vaticana, Рим.</span>
    </div>
    <div class="player-block">
        <div class="player-block__row">
            //= ../blocks/player-block-controls-new.html
            <div class="player-block__stats">
                <button type="button" class="sound-button _sound-on">
                    <svg class="on" width="18" height="18">
                        <use xlink:href="#sound" />
                    </svg>
                    <svg class="off" width="18" height="18">
                        <use xlink:href="#mute" />
                    </svg>
                </button>
                <button type="button" class="content-button js-contents-trigger">
                    <svg width="18" height="12">
                        <use xlink:href="#contents" />
                    </svg>
                </button>
                <button type="button" class="speed-button js-speed-trigger">
                    <svg width="18" height="18">
                        <use xlink:href="#speed" />
                    </svg>
                </button>
            </div>
            <div class="contents-tooltip  js-player-tooltip js-contents">
                <header class="contents-tooltip__header">
                    <p class="contents-tooltip__title">Оглавление</p>
                </header>
                <ol class="contents-tooltip__body scrollable">
                    <li class="active">
                        <a href="#">«К чему эти смехотворные чудовища?»</a>
                        <div class="equalizer">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li><a href="#">Строгие формы аббатства Фонтене</a></li>
                    <li><a href="#">Танцующие и плачущие святые</a></li>
                    <li><a href="#">«Эпоха образа до эпохи искусства»</a></li>
                    <li><a href="#">Категория стиля</a></li>
                    <li><a href="#">Стиль и политика</a></li>
                    <li><a href="#">Строгие формы аббатства Фонтене</a></li>
                    <li><a href="#">Танцующие и плачущие святые</a></li>
                    <li><a href="#">«Эпоха образа до эпохи искусства»</a></li>
                    <li><a href="#">Категория стиля</a></li>
                    <li><a href="#">Стиль и политика</a></li>
                    <li><a href="#">Строгие формы аббатства Фонтене</a></li>
                    <li><a href="#">Танцующие и плачущие святые</a></li>
                    <li><a href="#">«Эпоха образа до эпохи искусства»</a></li>
                    <li><a href="#">Категория стиля</a></li>
                    <li><a href="#">Стиль и политика</a></li>
                </ol>
            </div>
            <div class="speed-tooltip js-player-tooltip js-speed">
                <header class="speed-tooltip__header">
                    <p class="speed-tooltip__title">Скорость</p>
                </header>
                <ul class="speed-tooltip__body">
                    <li>0.25</li>
                    <li>0.5</li>
                    <li>0.75</li>
                    <li class="active">Обычная</li>
                    <li>1.25</li>
                    <li>1.5</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
        <div class="player-block__progress">
            <div class="player-block__load" style="width: 33.5%;"></div>
            <div class="player-block__play" style="width: 20%;"><span class="indicator"></span></div>
            <div class="player-block__gap" style="left: 5%;"></div>
            <div class="player-block__gap" style="left: 20%;"></div>
            <div class="player-block__gap" style="left: 28%;"></div>
            <div class="player-block__gap" style="left: 34%;"></div>
            <div class="player-block__gap" style="left: 40%;"></div>
            <div class="player-block__gap" style="left: 50%;"></div>
            <div class="player-block__gap" style="left: 55%;"></div>
            <div class="player-block__time" style="left: 30%;">50:01</div>
        </div>
    </div>
</div>