<div class="popup js-popup _registration opened scrollable">
    <button class="popup-close js-popup-close">Закрыть</button>
    <div class="sign-in-block">
        <p class="sign-in-block__label">Нету эккаунт</p>
        <a href="#" class="btn btn--light sign-in-block__link">Регистрация</a>
    </div>
    <div class="register-block-wrapper">
        <form action="#" method="post" class="form register-form">
            <div class="form__field-wrapper register-form__field-wrapper">
                <label for="email" class="form__field-label register-form__field-label">Почта</label>
                <input type="email" id="email" class="form__field register-form__field" placeholder="Ваш E-mail">
                <span class="status-icon">
                    <svg class="success" width="20" height="20">
                        <use xlink:href="#check-green" />
                    </svg>
                    <svg class="failure" width="16" height="16">
                        <use xlink:href="#failure" />
                    </svg>
                </span>
            </div>
            <p class="form__error-message js-error-message">Это не почта а фигня.</p>
            <div class="captcha-block" id="g-recaptcha"></div>
            <p class="form__error-message js-error-message">Неправильный пароль</p>
            <div class="register-form__buttons">
                <a href="#" class="register-form__link-back">
                    <span class="icon">
                        <svg width="18" height="18">
                            <use xlink:href="#arr-back" />
                        </svg>
                    </span>
                </a>
                <button class="btn btn--brown register-form__enter disabled">
                    <span class="text">Далее</span>
                </button>
            </div>
        </form>
    </div>
</div>