<div class="popup js-popup _registration opened scrollable">
    <button class="popup-close js-popup-close">Закрыть</button>
    <div class="register-block-wrapper">
        <div class="success-message">
            <p class="success-message__text">Мы отправили письмо с дальнешими инструкциями на почту mail@mail.com</p>
            <a href="#" class="success-message__check-link">Mail.com</a>
            <p class="success-message__note">Письмо не пришло?</p>
            <a href="#" class="success-message__link">Отправить еще раз</a>
        </div>
    </div>
</div>