<div class="popup js-popup _registration opened scrollable">
    <button class="popup-close js-popup-close">Закрыть</button>
    <div class="sign-in-block">
        <p class="sign-in-block__label">Уже есть экаунт?</p>
        <a href="#" class="btn btn--light sign-in-block__link">Вход</a>
    </div>
    <div class="register-block-wrapper">
        <form action="#" method="post" class="form register-form">
            <div class="form__field-wrapper register-form__field-wrapper">
                <label for="username" class="form__field-label register-form__field-label">Представьтесь</label>
                <input type="text" id="username" class="form__field register-form__field" placeholder="Ваше имя">
                <span class="status-icon">
                    <svg class="success" width="20" height="20">
                        <use xlink:href="#check-green" />
                    </svg>
                    <svg class="failure" width="16" height="16">
                        <use xlink:href="#failure" />
                    </svg>
                </span>
            </div>
            <div class="form__field-wrapper register-form__field-wrapper js-field-wrapper">
                <label for="new-password" class="form__field-label register-form__field-label">Пароль</label>
                <input type="password" id="new-password" class="form__field register-form__field">
                <span class="icon-eye js-eye-single">
                    <svg width="16" height="12">
                        <use xlink:href="#eye" />
                    </svg>
                </span>
                <span class="status-icon">
                    <svg class="success" width="20" height="20">
                        <use xlink:href="#check-green" />
                    </svg>
                    <svg class="failure" width="16" height="16">
                        <use xlink:href="#failure" />
                    </svg>
                </span>
            </div>
            <div class="form__field-wrapper register-form__field-wrapper js-field-wrapper">
                <label for="repeat-password" class="form__field-label register-form__field-label">Повторите пароль</label>
                <input type="password" id="repeat-password" class="form__field register-form__field">
                <span class="status-icon">
                    <svg class="success" width="20" height="20">
                        <use xlink:href="#check-green" />
                    </svg>
                    <svg class="failure" width="16" height="16">
                        <use xlink:href="#failure" />
                    </svg>
                </span>
            </div>
            <p class="form__error-message js-error-message">Пароли не совпадают</p>
            <div class="register-form__buttons">
                <a href="#" class="register-form__link-back">
                    <span class="icon">
                        <svg width="18" height="18">
                            <use xlink:href="#arr-back" />
                        </svg>
                    </span>
                </a>
                <button class="btn btn--brown register-form__enter disabled">
                    <span class="text">Зарегистрироваться</span>
                </button>
            </div>
        </form>
    </div>
</div>