<div class="popup js-popup _registration opened scrollable">
    <button class="popup-close js-popup-close">Закрыть</button>
    <div class="sign-in-block">
        <p class="sign-in-block__label">Нету эккаунт</p>
        <a href="#" class="btn btn--light sign-in-block__link">Регистрация</a>
    </div>
    <div class="register-block-wrapper">
        <div class="register-block">
            <p class="register-block__title">Войти с помошью</p>
            <a href="#" class="btn btn--white register-block__btn">
                <span class="icon">
                    <svg width="16" height="16">
                        <use xlink:href="#google" />
                    </svg>
                </span>
                <span class="text">Google</span>
            </a>
            <a href="#" class="btn btn--white register-block__btn">
                <span class="icon">
                    <svg width="8" height="18">
                        <use xlink:href="#yandex" />
                    </svg>
                </span>
                <span class="text">Яндекс</span>
            </a>
            <a href="#" class="btn btn--white register-block__btn">
                <span class="icon">
                    <svg width="18" height="11">
                        <use xlink:href="#vk-blue" />
                    </svg>
                </span>
                <span class="text">Вконтакте</span>
            </a>
            <a href="#" class="btn btn--white register-block__btn">
                <span class="icon">
                    <svg width="16" height="16">
                        <use xlink:href="#mailru" />
                    </svg>
                </span>
                <span class="text">Mail.ru</span>
            </a>
            <a href="#" class="btn btn--white register-block__btn register-block__btn--fullwidth">
                <span class="icon">
                    <svg width="16" height="16">
                        <use xlink:href="#facebook" />
                    </svg>
                </span>
                <span class="text">Facebook</span>
            </a>
        </div>
        <span class="register-block-wrapper__label">или</span>
        <form action="#" method="post" class="form register-form">
            <div class="form__field-wrapper register-form__field-wrapper">
                <label for="email" class="form__field-label register-form__field-label">Почта</label>
                <input type="email" id="email" class="form__field register-form__field" placeholder="Ваш E-mail">
                <span class="status-icon">
                    <svg class="success" width="20" height="20">
                        <use xlink:href="#check-green" />
                    </svg>
                    <svg class="failure" width="16" height="16">
                        <use xlink:href="#failure" />
                    </svg>
                </span>
            </div>
            <div class="form__field-wrapper register-form__field-wrapper  js-field-wrapper">
                <label for="password" class="form__field-label register-form__field-label">Пароль</label>
                <input type="password" id="password" class="form__field register-form__field" placeholder="Пароль">
                <span class="icon-eye">
                    <svg width="16" height="12">
                        <use xlink:href="#eye" />
                    </svg>
                </span>
                <span class="status-icon">
                    <svg class="success" width="20" height="20">
                        <use xlink:href="#check-green" />
                    </svg>
                    <svg class="failure" width="16" height="16">
                        <use xlink:href="#failure" />
                    </svg>
                </span>
            </div>
            <p class="form__error-message js-error-message">Неправильный пароль</p>
            <div class="register-form__buttons">
                <a href="#" class="register-form__password-recovery">Забыли пароль?</a>
                <button class="btn btn--brown register-form__enter disabled">
                    <span class="text">Войти</span>
                    <span class="icon">
                        <svg width="16" height="16">
                            <use xlink:href="#login" />
                        </svg>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>