//fullpage

.fp-section.fp-table, .fp-slide.fp-table
    display: block

.fp-tableCell
    display: flex 
    flex-direction: column 
    justify-content: flex-start

#fp-nav
    margin: 0 !important 
    top: 72px

#fp-nav.hide
    display: none

#fp-nav.right
    right: 15px

#fp-nav ul li
    margin: 0
    margin-bottom: 9px
    width: 24px
    height: 24px

#fp-nav ul li a, .fp-slidesNav ul li a
    display: block
    width: 20px
    height: 20px
    border: 2px solid #fff 
    border-radius: 50%

#fp-nav ul li a span, .fp-slidesNav ul li a span
    background: none

#fp-nav ul li a.active 
    display: block
    background-color: #fff
    border-radius: 50%

#fp-nav ul li .fp-tooltip.right
    right: 34px

#fp-nav ul li .fp-tooltip
    max-width: 330px 
    text-overflow: ellipsis
    font-family: $font-alt
    font-size: 17px
    line-height: 23px
    top: 2px




// fancybox 

.fancybox-close-small
    top: 12px
    right: 12px
    width: 48px
    height: 48px
    background-color: rgba(255, 255, 255, 0.8)
    border-radius: 50%

    &:after,
    &:before  
        @include center
        content: ""
        width: 24px
        height: 2px
        background-color: $textColor 
        transform: translate(-50%, -50%) rotate(45deg)
        border-radius: 0
        transition: background-color 0.3s ease

    &:before
        transform: translate(-50%, -50%) rotate(-45deg)

    &:hover 

        &:before,
        &:after 
            background-color: $textColor-l

.fancybox-slide>*
    padding: 0 42px 30px 42px

.fancybox-navigation button
    padding: 0
    width: 48px
    height: 48px
    background-color: $textColor-l
    border-radius: 50%  
    overflow: hidden 

    display: none

    &:before 
        display: none

    svg
        @include center
        display: block
        width: 40px
        height: 40px

.fancybox-infobar 
    display: none

.scrollable 

    .mCSB_inside > .mCSB_container
        margin-right: 0

    .mCSB_scrollTools
        width: 8px

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        width: 8px
        border-radius: 4px
        background-color: rgba(255, 255, 255, 0.4)

    .mCSB_scrollTools .mCSB_draggerRail
        background-color: rgba(255, 255, 255, 0)