.page-footer 
    margin-top: auto
    padding-top: 60px

    @media (min-width: 900px)
        padding-top: 80px

    &__inner 
        display: flex 

        @media (max-width: 899px)
            padding: 0 35px

        @media (max-width: 639px)
            padding: 0 20px
            flex-direction: column

    &__col 
        width: 32.308%

        @media (max-width: $screenXL - 1)
            width: 50%

        @media (max-width: 639px)
            width: 100%

        &:first-child 
            width: 67.692%

            @media (max-width: $screenXL - 1)
                width: 50%

            @media (max-width: 639px)
                width: 100%
    
    &__wrapper 
        margin: 0 auto
        padding-left: 8.333333%
        padding-right: 8.333333%
        //max-width: 1170px

        @media (max-width: $screenXL - 1)
            padding-left: 75px
            padding-right: 75px

        @media (max-width: 899px)
            padding-left: 0
            padding-right: 0

    &__row 
        display: flex
        align-items: flex-start

        @media (max-width: 899px)
            display: block

    &__copyright
        padding: 14px 65px
        border-top: 1px solid $lines-d

        br 
            display: none

            @media (max-width: 899px)
                display: block

        @media (max-width: $screenXL - 1)
            padding: 14px 55px

        @media (max-width: 899px)
            padding: 16px 35px

        @media (max-width: 639px)
            padding: 11px 20px

        p 
            margin: 0
            font-family: $font-alt 
            font-size: 13px
            line-height: 17px
            color: $textColor-l

        a 
            @include hover 
            color: $textColor-l

.logo-footer
    display: block
    padding-bottom: 16px

    @media (max-width: $screenXL - 1)
        margin-left: 0

    @media (max-width: 899px)
        padding-bottom: 14px
        margin-left: 35px

    @media (max-width: 639px)
        margin-left: 18px

    // @media (max-width: $screenM - 1)
    //     margin-left: 20px
    //     padding-bottom: 14px

    svg 
        display: block
        width: 86px
        height: 53px
        fill: $textColor

        @media (max-width: $screenM - 1)
            width: 87px
            height: 50px


.footer-actions
    @include list-reset
    @include row-component
    flex-grow: 1
    margin-top: 6px
    border-bottom: 1px solid $lines-d

    @media (max-width: 899px)
        border-top: 1px solid $lines-d
        margin-top: 2px

    li 
        box-sizing: border-box
        border-right: 1px solid $lines-d
        //width: 50%

        @media (max-width: 899px)
            width: 50%

        &:nth-child(2)
            padding-left: 16px
            border-right: none

            @media (max-width: 639px)
                padding-left: 0

        &:last-child 
            border-right: none

    a 
        @include hover
        @include row-component
        box-sizing: border-box
        width: 100%
        min-width: 158px
        padding: 12px 27px 14px 4px
        color: $textColor

        @media (max-width: $screenM - 1)
            padding-left: 9px

        @media (max-width: 899px)
            padding-top: 14px
            padding-left: 10px
            padding-right: 10px
            @include row-component 
            justify-content: center

        @media (max-width: 639px)
            padding-left: 0
            padding-right: 0

    .icon 
        position: relative
        margin-right: 10px
        width: 24px
        height: 17px

        @media (max-width: 899px)
            margin-right: 30px

        @media (max-width: 639px)
            margin-right: 10px

    svg 
        @include center
        display: block

    span 
        font-family: $font-alt
        font-size: 13px
        line-height: 17px

.subscribe-block
    padding: 42px 0
    padding-bottom: 32px

    @media (max-width: $screenXL - 1)
        padding-top: 44px

    @media (max-width: $screenM - 1)
        //padding-top: 26px
        padding-bottom: 27px

    @media (max-width: 899px)
        padding-top: 31px

    @media (max-width: 639px)
        padding-top: 0
        margin-top: -8px
        padding-bottom: 40px

    &__label 
        margin: 0
        margin-bottom: 12px
        font-family: $font-alt
        font-weight: 700
        font-size: 13px
        line-height: 23px

    &__descr 
        margin: 0 0 9px 0
        max-width: 260px
        font-family: $font-alt
        font-size: 13px
        line-height: 17px

        @media (max-width: $screenM - 1)
            margin-bottom: 14px
            line-height: 15px

.subscribe-form

    &__field-wrapper 
        position: relative

    &__field 
        @include field-reset
        box-sizing: border-box
        display: block
        padding: 8px 16px 
        padding-right: 40px
        width: 100%
        font-family: $font-alt 
        font-size: 13px
        line-height: 18px
        border: 1px solid $lines-d

    input::-webkit-input-placeholder 
      color: $textColor-l

    input:-moz-placeholder 
      color: $textColor-l

    input::-moz-placeholder 
      color: $textColor-l

    input:-ms-input-placeholder 
      color: $textColor-l

    &__submit 
        @include btn-reset
        position: absolute
        top: 0
        right: 0
        width: 40px
        height: 34px

        svg 
            @include center

.social-block-big
    padding-top: 13px
    padding-bottom: 21px

    @media (max-width: $screenXL - 1)
        padding-top: 15px

    @media (max-width: 899px)
        padding-top: 32px

    &__title 
        margin: 0
        font-family: $font-alt
        font-weight: 700
        font-size: 13px
        line-height: 23px

        // @media (max-width: $screenM - 1)
        //     padding-bottom: 5px

    &__inner 
        display: flex 
        flex-wrap: wrap
        padding-top: 12px
        max-width: 470px

.social-link
    @include row-component 
    @include hover
    margin-bottom: 15px
    width: 232px
    color: $textColor 

    @media (max-width: $screenXL - 1)
        width: 40%
        margin-bottom: 15px

    @media (max-width: $screenM - 1)
        margin-bottom: 15px

    @media (max-width: 899px)
        width: 50%

    &__icon 
        position: relative
        width: 24px

    svg 
        @include centerV
        display: block
        fill: $textColor-l
        transition: fill 0.3s ease

    &__text 
        margin: 0
        font-family: $font-alt 
        font-size: 13px
        line-height: 17px

    &:hover 
        opacity: 1

        svg 
            fill: $brown
            opacity: 1


