.page-header 
    background-color: #fff

    &__btn 
        margin-right: 30px
        margin-bottom: auto
        padding-left: 20px
        padding-right: 20px
        box-shadow: 0 0 5px rgba(200, 104, 76, 0.2)
        transition: box-shadow 0.3s ease

        span 
            margin-left: 5px

        &:hover 
            box-shadow: none

        &.btn 
            font-weight: 400

            @media (max-width: 950px)
                margin-right: 15px
                padding-left: 15px
                padding-right: 15px

            @media (max-width: $screenS - 1)
                margin-top: auto
                margin-bottom: 0
                margin-right: 35px
                padding-top: 6px
                padding-bottom: 6px
                display: none

            @media (max-width: $screenXS - 1)
                padding-left: 8px
                padding-right: 8px

        &--mobile.btn

            @media (max-width: $screenS - 1)
                display: block

    &__menu-mobile 

        @media (max-width: $screenS - 1)
            position: relative
            display: flex
            box-sizing: border-box 
            padding: 18px 
            padding-top: 16px
            padding-bottom: 10px
            height: 64px
            transition: background-color 0.3s ease

        .page-header__btn.btn
            display: none

            @media (max-width: $screenS - 1)
                display: block

        &:after 

            @media (max-width: $screenS - 1)
                content: ""
                position: absolute
                bottom: 0
                left: 18px
                right: 18px
                height: 1px
                background-color: rgba(47, 47, 47, 0.2)

    &.opened 

        .page-header__menu-mobile 

            @media (max-width: $screenS - 1)
                background-color: $textColor

                &:after 
                    background-color: rgba(255, 255, 255, 0.2)

    @media (max-width: $screenS - 1)
        padding-bottom: 0
        border-bottom: none

    &._fixed 
        position: fixed
        top: 0
        left: 0
        right: 0
        background-color: #fff
        z-index: 50
        transition: transform 0.3s ease

    &._sticky 
        position: sticky 
        top: 0
        left: 0
        right: 0
        background-color: #fff
        z-index: 50
        transition: transform 0.3s ease

    &._animate 
        transform: translateY(-100%)

    &._animate_rev 
        transform: translateY(0)

    &__row 
        position: relative
        height: 94px
        border-bottom: 1px solid rgba(47, 47, 47, 0.15)

        @media (max-width: $screenS - 1)
            height: auto
            border-bottom: none

    &__wrapper 
        display: flex
        box-sizing: border-box
        padding: 27px 0 27px 65px
        max-width: 100%

.logo 
    display: block
    margin-right: 44px

    @media (max-width: $screenS - 1)
        display: none

    svg 
        display: block

.logo-mobile
    display: none
    margin-right: 16px

    @media (max-width: $screenS - 1)
        display: block

    svg 
        display: block
        fill: $textColor

        .opened & 
            fill: #fff
