<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping01">
        <path d="M 573.329 484.209L 544.138 14.887L 394.22 24.212L 394.985 9.088L 215.214 0L 213.526 33.406L 51.042 15.664L 0 483.114L 178.936 502.653L 199.173 317.322L 191.474 469.629L 371.244 478.717L 380.837 288.958L 393.677 495.383L 573.329 484.209Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping02">
        <path d="M 542.993 495.228L 541.091 25.003L 361.093 25.731L 361.153 40.619L 190.147 37.875L 187.328 213.643L 179.891 0L 0 6.262L 16.359 476.206L 183.21 470.398L 182.606 508.044L 362.583 510.931L 362.96 487.416L 362.994 495.956L 542.993 495.228Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping03">
        <path d="M 369.63 59.008L 364.874 95.957L 366.849 39.761L 186.96 33.439L 180.381 220.627L 180 0L 0 0.311L 0.813 470.539L 171.608 470.244L 170.444 503.378L 311.789 508.346L 309.595 525.389L 488.122 548.37L 548.157 81.989L 369.63 59.008Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping04">
        <path d="M 545.249 470.017L 531.148 0L 351.229 5.398L 351.706 21.315L 188.461 18.132L 188.642 8.317L 8.673 4.997L 0 475.146L 178.185 478.433L 177.994 488.246L 357.96 491.756L 361.056 332.972L 365.33 475.415L 545.249 470.017Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping05">
        <path d="M 563.021 468.125L 518.591 0L 339.397 17.007L 341.902 43.41L 206.489 40.769L 207.901 17.302L 28.225 6.497L 0 475.878L 179.675 486.683L 183.442 424.052L 181.754 510.605L 361.719 514.114L 365.956 296.852L 383.826 485.133L 563.021 468.125Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping06">
        <path d="M 565.313 469.173L 533.821 0L 354.225 12.055L 355.792 35.406L 201.091 31.339L 197.626 163.132L 178.803 0.725L 0 21.448L 54.138 488.55L 189.483 472.864L 188.733 501.406L 368.671 506.136L 373.939 305.757L 385.717 481.228L 565.313 469.173Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping07">
        <path d="M 569.119 515.056L 539.951 45.732L 360.298 56.897L 362.849 97.939L 214.411 95.558L 221.582 16.197L 42.312 0L 0 468.322L 179.27 484.518L 200.306 251.683L 195.271 565.541L 375.248 568.428L 378.703 353.048L 389.466 526.221L 569.119 515.056Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping08">
        <path d="M 347.917 37.723L 344.126 158.116L 340.627 0L 160.671 3.982L 162.358 80.205L 2.964 79.201L 0 549.42L 179.996 550.555L 180.48 473.888L 334.289 470.484L 333.116 507.719L 513.027 513.385L 527.828 43.389L 347.917 37.723Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping09">
        <path d="M 559.262 513.43L 530.341 44.091L 371.939 53.852L 372.395 1.568L 192.401 0L 190.64 202.179L 179.545 46.405L 0 59.193L 33.407 528.234L 212.953 515.446L 209.744 470.398L 368.299 471.779L 369.296 357.247L 379.603 524.5L 559.262 513.43Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping10">
        <path d="M 559.876 472.547L 550.948 2.403L 375.737 5.73L 375.731 3.791L 195.732 4.35L 195.744 8.361L 22.691 0L 0 469.681L 179.79 478.367L 196.152 139.704L 197.192 474.576L 377.191 474.017L 376.667 305.263L 379.909 475.965L 559.876 472.547Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping11">
        <path d="M 344.918 494.174L 524.886 490.756L 515.958 20.612L 356.459 23.641L 356.385 0L 176.386 0.559L 176.452 21.751L 0 22.837L 2.894 493.057L 182.891 491.949L 182.761 470.771L 344.464 470.268L 344.918 494.174Z"/>
    </clipPath>
</svg>

<svg style="position: absolute; left: -9999px">
    <clipPath id="clipping12">
        <path d="M 547.928 470.144L 539 0L 359.032 3.418L 359.641 35.485L 204.081 32.898L 201.005 217.809L 178.98 11.826L 0 30.964L 49.996 498.527L 196.598 482.851L 196.261 503.062L 376.237 506.055L 376.78 473.394L 547.928 470.144Z"/>
    </clipPath>
</svg>